@charset "UTF-8";
:root {
    --red: #dd0000;
    --black: #000000;
}

html {
    overflow-x: auto;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    font-size: 12px;
}

body {
    font: normal 14px "Roboto";
    color: var(--black);
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
     background: #f3f3f3;
    line-height: 20px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;   
}
@media(min-width: 1220px){
    body{
        width: 100%;    
    }
}

body:before {
    content: "";
    background: none;
    transition: background .2s ease-in-out;
}

body.modal:after {
    background: rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: "";
    z-index: 9;
}  
/* typography */
a,
.pseudo-link,
span.internal-link,
span.external-link {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: border .2s ease-in-out, color .2s ease-in-out;
  -moz-transition: border .2s ease-in-out, color .2s ease-in-out;
  -o-transition: border .2s ease-in-out, color .2s ease-in-out;
  transition: border .2s ease-in-out, color .2s ease-in-out;  
}
a,   
.pseudo-link{
    border-bottom: 1px solid;       
}
a:hover,
.pseudo-link:hover,
.internal-link:hover,
.external-link:hover {
  color: #1e88e5;
  text-decoration: none;
  
}
a:hover,
.pseudo-link:hover{
    border-bottom: 1px solid rgba(0,0,0,0);    
}
a.underdash {
  text-decoration: none;
  border-bottom: 1px dashed #1e88e5;
}  
sup {
  font-size: 70%;
  line-height: 100%;
  vertical-align: top;
}
sub {
  font-size: 70%;
  line-height: 100%;
  vertical-align: bottom;
}


h1 {
    font-size: 36px;
    margin: 80px auto 20px auto;
    display: block;
    line-height: 42px;
    text-align: center;
    max-width: 900px;
}
h2 {
  font-size: 30px;
  line-height: 36px;
  color: black;
  margin: 10px 0 20px 0;
}
h2.blue{
    color:#1e88e5;
}

h3 {
  font-size: 14px;
  color: black;
  font-weight: normal;
  padding: 0 0 .5em;
}


h4 {
  font-weight: bold;
}


p {
  padding-bottom: .5em;
}
b,
strong{
    font-weight: 700;
}
/* design */

.bigtext {
  font-size: 16px;
}


.bigtext li {
  list-style: disc;
  margin-left: 15px;
}


.bigtext blockquote {
    padding: 0;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 40px 40px 80px 40px;
    font-size: 30px;
    line-height: 40px;
}
.bigtext blockquote:after{
    content:"";
    display: table;
    clear: both;
}
.bigtext blockquote p {
  padding: 0;
}
.bigtext blockquote img {
  margin: 0 20px 20px 0!important;
}
.bigtext blockquote strong,
.bigtext blockquote b{
    display: block;
    color: #818181;    
    font-size: 18px;    
    line-height: 24px;    
    font-weight: normal;
    position: relative;
    margin-top: 30px;
}
.bigtext blockquote strong:before,
.bigtext blockquote b:before{
    content: "";
    height: 1px;
    width: 200px;
    background: #818181;
    position: absolute;
    left: 0;
    top: -15px;
    padding: 0;
}
.inner,
.inner-wrapper {
  padding: 0 10px;
  position: relative;
}


.inner-wrapper.blue {
  padding: 20px 50px;
  position: relative;
}


.central-wrapper {
  padding: 0;
  margin: 60px 0;
  position: relative;
}


header,
footer,
.central-column {
  width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
}


.central-column {
  padding: 0;
  margin: 60px auto;  
}
header + .central-column{
   margin: 80px auto 40px auto;
}
.top-banner-wrapper + header + .central-column{
   margin: 80px auto 40px auto;
}


header {
    padding: 0;
    min-height: 60px;
    background: #1e88e5;
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 1000;
    top: 0;
}
.fullscreen-banner{
    position: absolute;
    left: 0;
    right: 0;
    background-color: #f3f3f3;
    top: 0;
    z-index: 0;
    background-repeat: no-repeat;
    height: 700px;
    opacity: .4;
    background-attachment: local;
    background-position: center left;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -webkit-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}
.fullscreen-banner:before{
    content: "";
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    background: -moz-linear-gradient(top, rgba(243,243,243,0.01) 0%, rgba(243,243,243,1) 100%);
    background: -webkit-linear-gradient(top, rgba(243,243,243,0.01) 0%,rgba(243,243,243,1) 100%);
    background: linear-gradient(to bottom, rgba(243,243,243,0.01) 0%,rgba(243,243,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03f3f3f3', endColorstr='#f3f3f3',GradientType=0 );
    position: absolute;    
}

/* footer */

footer {
    width: 100%;
    padding: 0;
    z-index: 20;
    padding-top: 30px;
}

footer .row{
    width: 1180px;
    margin: 40px auto;
    padding: 0;  
    position: relative;
}

footer .big-links {
    margin: 0 0 10px 0;
    height: 36px;
    line-height: 36px;   
    
}

footer .big-links a {
    font-size: 18px;
    color: #000;
    display: block;
    margin: 0 22px 0 0;
    float: left; 
    border: none;
}

footer .big-links a:hover {
    color: #1e88e5;
}
footer .links {
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
}

footer .links a {
    font-size: 16px;
    color: #818181;
    display: block;
    margin: 0 22px 0 0;
    float: left;
    border: none;
}

footer .links a:hover {
    color: #1e88e5;
}
footer .social {
    height: 30px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    width: 160px;
    float: right;
    position: absolute;
    right: 0;
}

footer .social li {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    width: 25px;
    position: relative;
    font-size: 20px;
    color: #000000;
}
footer .popular-categories{
    
}
footer .popular-categories a{
    color: #818181;
    border: none;
    display: inline;
    line-height: 26px;
    height: 16px;
        
}

@font-face {
    font-family: "socicon";
    src: url("/fonts/socicon.eot");
    src: url("/fonts/socicon.eot?#iefix") format("embedded-opentype"),url("/fonts/socicon.woff") format("woff"),url("/fonts/socicon.ttf") format("truetype"),url("/fonts/socicon.svg#socicon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.socicon:before {
    font-family: "socicon" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.socicon:before {
    font-family: "socicon" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 5px;
    position: absolute;
    left: 0;
    right: 0;
}

.icon-VK:before {
    content: "\e01a";
}

.icon-twitter:before {
    content: "\e040";
}

.icon-facebook:before {
    content: "\e041";
}

.icon-YouTube-play:before {
    content: "\e051";
}

.icon-telegram:before {
    content: "\e06e";
}

footer .social .icon-facebook:hover {
    color: #3e5b98;
}

footer .social .icon-VK:hover {
    color: #4C75A3;
}

footer .social .icon-twitter:hover {
    color: #3AA9DE;
}

footer .social .icon-YouTube-play:hover {
    color: #DA2724;
}

footer .social .icon-telegram:hover {
    color: #0088cc;
}

footer .social li a {
    width: 30px;
    height: 30px;
    display: block;
    border: none;
    z-index: 100;
    position: relative;
    margin: -4px 0 0 -2px;
}

footer .about-text {
    padding: 0 0 0 20px;
    text-align: left;
    width: 900px;
    margin: 0 0 0 20px;
    color: #818181;
    font-family: Roboto;
    font-size: 16px;
    line-height: 26px;
    float: left;
    border-left: 1px solid #979797;
}

footer .about-text .logo {
    float: left;
    margin: 0 20px 0 0;
}
footer .about-text a{
    color: #818181;
    font-size: 12px;
}
footer .logo {
    position: relative;
    top: 25px;
    float: left;
    display: block;
}

footer .logo:before {
    width: 100px;
    height: 40px;
    background-position: -220px -120px;
    background-size: 320px;
}

@font-face {
  font-family: 'als_rublregular';
  src: url("/fonts/alsrubl-webfont.eot");
  src: url("/fonts/alsrubl-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/alsrubl-webfont.woff") format("woff"), url("/fonts/alsrubl-webfont.ttf") format("truetype"), url("/fonts/alsrubl-webfont.svg#als_rublregular") format("svg");
  font-weight: normal;
  font-style: normal;
}       
/* BANNER */
#middle-bottom-banner{
    width: 1180px!important;
    margin: 0 auto;
    overflow: hidden;
}
#middle-bottom-banner img{
    width: 100%;
}
.top-banner-wrapper{
    background: #818181;
    padding: 10px 0; 
    position: relative;   
}
#top-banner.with-search-form{
    margin-top: 110px!important;
}
.top-banner-wrapper .closebutton{
    position: absolute;
    right: 15px;
    top: 0;
    color:rgba(255,255,255,1);
    cursor: pointer;
    font-size: 18px;
    
}
.top-banner-wrapper .closebutton:hover{
    color:rgba(225,225,225,1);
}
#top-banner{
    margin: 0 auto!important;
    height: 90px;
    width: 1180px!important; 
}
.top-banner-wrapper + header{
    margin: 0;
    padding: 0;
    width: 100%;
    background: #1e88e5; 
    position: relative;  
}  
.top-banner-wrapper + header .topmenu{
    position: relative;
    margin: 0 auto;
    width: 1180px;   
}
.top-banner-wrapper + header:after{
    top: 90px;    
}
.top-banner-wrapper + header.with-shadow{
    position: fixed;
    top: 0;
    z-index: 1500;
}
header.with-searchform{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;    
}
.top-banner-wrapper + header.with-searchform:hover,
header.with-searchform:hover{
    z-index: 10000;
}

#right-top-banner{
    margin-bottom: 20px;
    width: 280px!important;
    height: 700px!important;
    position: relative;
    background: #fff;
}
#right-top-banner img{
    width: 100%;
    height: 100%;    
}
#top-banner *,
#middle-bottom-banner *,
#right-top-banner *{
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}


.tgb-list.in-row {
    display: none;
    width: 1200px;
    height: 350px;
}
.tgb-list a{
    border: none;
}
.tgb-list .tgb {
    background: #fff;
    color: #000;
    width: 280px;
    position: relative;
    height: 330px;
    float: left;
    overflow: hidden;
    margin: 10px;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    
}
.tgb-list .tgb:hover{
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 20px rgba(0,0,0,.1);
    -ms-box-shadow: 0 5px 20px rgba(0,0,0,.1);
    -o-box-shadow: 0 5px 20px rgba(0,0,0,.1);
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    
}
.tgb-list .tgb .external-link {
    display: block;
    position: relative;
    width: 280px;
    color: #990000;
    float: left;
    border-radius: 3px;
    height: 330px;
    padding: 0;
    
}

.tgb-list .tgb span img {
    z-index: 1;
    width: 280px;
    height: 210px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    display: block;
}

.tgb-list .tgb .adaurum-text,
.tgb-list .tgb .title {
    overflow: hidden;
    max-height: 60px;
    display: block;
    text-align: left;
    color: #818181;
    font-size: 14px;
    line-height: 15px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    font-family: 'Roboto';
}

.tgb-list .tgb .adaurum-title,
.tgb-list .tgb .annotation {
    font-weight: normal;
    display: block;
    overflow: hidden;
    max-height: 43px;
    text-align: left;
    color: #000;
    font-size: 18px;
    line-height: 22px;
    margin: 15px;
    font-family: 'Roboto';
}

.tgb-list .tgb .phone {
    font-size: 20px;
    padding-bottom: 10px;
} 
.tgb-list .tgb .tag{
    height: 30px;
    line-height: 30px;
    border: none;
    padding: 0 10px;
    display: inline-block;
    margin-bottom: 10px;
    background: #1e88e5;
    color: #fff;
    clear: both;
    margin-right: 40px;
}

.tgb-list .tgb .tags{
    position: absolute;
    left: 20px;
    top: 120px;
}
.tgb-list .tgb:hover .annotation{
    color:#1e88e5;
}
.estate-list .tgb-list.in-row{
    background: #f3f3f3;
    margin-left: -10px;
    padding: 10px 0;
}
.tgb-list ins[data-revive-zoneid] > div{
    background: #fff !important;
    color: #000 !important;
    width: 280px !important;
    position: relative !important;
    height: 330px !important;
    float: left;
    overflow: hidden;
    margin: 10px;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor:pointer;
}

.tgb-list ins[data-revive-zoneid] a {
    border: none;
}

.tgb-list ins[data-revive-zoneid] .adaurum-text{
    overflow: hidden;
    max-height: 60px;
    display: block;
    text-align: left;
    color: #818181;
    font-size: 14px;
    line-height: 15px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    font-family: 'Roboto';
}

.tgb-list ins[data-revive-zoneid] .adaurum-title{
    font-weight: normal;
    display: block;
    overflow: hidden;
    max-height: 43px;
    text-align: left;
    color: #000;
    font-size: 18px;
    line-height: 22px;
    margin: 15px;
    font-family: 'Roboto';
}

.tgb-list ins[data-revive-zoneid] > div:hover{
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 20px rgba(0,0,0,.1);
    -ms-box-shadow: 0 5px 20px rgba(0,0,0,.1);
    -o-box-shadow: 0 5px 20px rgba(0,0,0,.1);
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
}

.tgb-list ins[data-revive-zoneid] > div:hover .adaurum-title {
    color: #1e88e5;
}
.comagic-call-button-handset{
    display: none!important;
}

/* wide format */
.wide-format footer{
    padding: 0;
    background: #f3f3f3;
}
.wide-format .central-column,
.payed-format .central-column {
  float: none;
  width: 100%;
  margin: 0;
} 
.wide-format .shadow-wrapper,
.wide-format .shadow-wrapper .content {
    width: 100%;
}

.wide-format .central-wrapper {
    width: 1100px;
    margin: 80px auto;
    float: none;
    background: #ffffff;
    padding: 40px;
}   

/* popup messages */
#popup-message-wrap{
    position:fixed;
    width: 350px;
    bottom:0;
    left: 50%;
    margin-left: -175px; 
    z-index: 999999; 
   
}
#popup-message-wrap .message-item{
    width:330px;
}
#popup-message-wrap .message-item a{
    position:absolute;
    z-index:1;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#popup-message-wrap .message-item .title{
    padding:5px 13px 2px 13px;    
    font-size: 12px;
    font-weight: 600; 
    color:#fff;
    text-transform: uppercase;
    background: #a9d71d;
}
#popup-message-wrap .message-item .title .close{
    float: right;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: transparent url(//st1.bsn.ru/img/layout/icons16.png) no-repeat 0 -737px;
    position:relative;
    z-index:2;
}
#popup-message-wrap .message-item .message-content{
    padding:13px; 
    background: rgba(69,69,69,.9);   
    color:#fff;
    font-size:12px;
}

#popup-message-wrap .message-item .message-content img{
    float:left;
    padding:0 10px 0 0;
}
#popup-message-wrap .message-item .message-content .user-avatar-color.small{
    margin:0 10px 0 0;
}
#popup-message-wrap .message-item .message-content .name{
    font-weight: bold;
    line-height: 10px;
    width: 265px;
    height: 10px;
    overflow: hidden;
}
#popup-message-wrap .message-item .message-content .text{
    height: 16px;
    overflow: hidden;
    line-height: 21px;
}
#popup-click{display: none;}

/* template client.only.logo */
#clean-template-only-logo{
    
}
#clean-template-only-logo .logo-box{
    float: none;
    margin: 0 auto;    
    width: 100px;
}
#clean-template-only-logo .topmenu .logo-box span:before{
    width: 100px;
    height: 32px;
    background-position: -243px -94px;
    background-size: 360px;    
}
#clean-template-only-logo footer{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    background: none;
    padding: 40px 0;
    font-size: 16px;
    line-height: 30px;
}
#clean-template-only-logo footer .inner{
    color:#818181;
}
#clean-template-only-logo footer .inner b{
    font-weight: normal;
    color:#000;
}






/************************************** NEW **************************************/
.central-column h1{
    margin-top: 0;
}
h1.centered{
    text-align: center;
}
h1.vertical-align{
    margin-bottom: 80px;
}
section {
    margin: 60px 0;
}
section:before,
section:after{
    content:"";
    display: table;
    clear: both;
}
.central-column section:last-of-type{
    margin-bottom: 0;
}
.col-1,
.col-2,
.col-3{
    margin: 10px;
    float: left;
    min-height: 100px;
    display: block;
    position: relative;
}

.col-1 {
    width: 280px;
}

.col-2 {
    width: 580px;
}

.col-3 {
    width: 880px;
}
.column-1,
.column-2,
.column-3{
    margin: 0;
    float: left;
    display: block;
    position: relative;
}

.column-1 {
    width: 300px;
}

.column-2 {
    width: 600px;
}

.column-3 {
    width: 900px;
}
.row-2{
    height: 810px;
    overflow: hidden;
}
.full-width-column{
    width: 1180px;
    padding: 40px;
    background: #fff;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;    
    -ms-box-sizing:border-box;    
    -o-box-sizing:border-box;  
    margin: 0 auto;   
}
#left-column{
    width: 900px;
    margin: 0;
    float: none;
}
#right-column{
    position:static;
    float: none;  
}
.comagic-o-rack--top{
    display: none!important;
}

.preload-text{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 100%;
    text-align: center;
    color: #818181;
}


.shadow-wrapper {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  clear: both;
}
.shadow-wrapper{
    margin-top: 120px;
}
.top-banner-wrapper ~ .shadow-wrapper,
.top-banner-wrapper ~ .fast-search ~ .shadow-wrapper{
    margin-top: 60px;
}
.fast-search ~ .shadow-wrapper{
    margin-top: 180px;
}
.payed-format .shadow-wrapper{
    margin-top: 60px;
}
.content .left-wrapper {
  float: left;
  width: 950px;
  position: relative;
}
.content .left-wrapper.wide {
  width: 1180px;
  border: 1px solid #e2e2e2;
  margin-top: 20px;
}
.wide-format .content .left-wrapper,
.payed-format .content .left-wrapper {
  float: none;
  width: 100%;
  margin-top: 50px;
}      
.content .left-column {
  float: left;
  width: 200px;
}
.content .right-column {
  float: right;
  width: 200px;
}
.content .central-column {
  float: right;
  width: 720px;
  position: relative;
  z-index: 20;
}
.wide-format .content .central-column,
.payed-format .content .central-column {
  float: none;
  width: 100%;
}
.lazy{
    position: relative;
}
.lazy:after{
    content:"";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
    width: 50px;
    height: 50px;
    background: url('/img/layout/waiting.svg');
    opacity: .3;
}
.lazy.loaded:after{
    display: none;
}
.tolower{
    text-transform: lowercase
}

.error-403 h2{
    font-size: 26px;
    text-align: center;
}


/* advert terms */
.banner-item,
.tgb,
.photo,
.news-main-photo,
.banner-item{
    position: relative;
    display: block;
    height: 100%;
}
.banner-item .advert-panel,
.tgb:before,
.adaurum-commercial-block,
.advert .advert-panel{
    content:"Реклама";
    position: absolute;
    right: 4px!important;
    bottom: 4px!important;
    top: auto!important;
    left: auto!important;
    padding: 3px 7px;
    border-radius: 10px;
    font-size: 10px;
    color: black;
    background-color: white;
    opacity: 1;
    cursor: pointer;
    font-family: Helvetica,Arial,sans-serif !important;
    line-height: 17px;
    z-index: 100;
}
.advert .advert-panel{
    z-index: 1000;
}
.doverie-button .advert-panel{
    bottom: -24px!important;
}
.adaurum-menu-toggle-block{
    top: auto!important;
    bottom: 0!important;
    z-index: 1000!important;
    background: transparent!important;
    width: 70px!important;
}
.advert-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    background: #ffffff;
    padding: 16px;
    z-index: 2000;
    transition: .3s all ease-in-out;
    min-width: 190px;
    min-height: 106px;
}

.advert-box a {
    position: relative!important;
    z-index: 201;
    color: #333333!important;
    padding: 0!important;
    margin: 0!important;
    font-weight: normal!important;
    font-size: 14px!important;
    line-height: 1.4!important;
    height: auto!important;
    width: auto!important;
}

.advert-is-active .advert-box {
    opacity: 1;
    visibility: visible;
}

.advert-box__close {
    position: absolute!important;
    top: 8px;
    right: 8px;
    color: #333333!important;
    padding: 0!important;
    background: transparent!important;
}

.advert-box__close:hover {
    color: #1e88e5;
}

.advert-box__title {
    display: block!important;
    font-size: 16px!important;
    color: #333333!important;
    padding: 0!important;
    background: transparent!important;
}

.advert-box__item {
    display: block;
    margin: 8px 0 0 0;
    color: #333333!important;
    padding: 0!important;
    background: transparent!important;
    height: auto!important;
}
.estate-item .advert-panel,
.articles .advert-panel,
.news .advert-panel,
#top-banner .advert-panel{
    top: 4px!important;
    bottom: auto!important;
}
