<font face="arial">
<table width="800" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
<tr>
    <td align="left" height="50">
        <a href="http://www.bsn.ru"><img src="http://www.bsn.ru/img/layout/logo.png" width="180" height="50"></a>
    </td>
</tr>
<tr>
    <td height="20"><hr></td>
</tr>
<tr>                         
    <td>
        Здравствуйте, {$item['user_name']}!<br /> <br /> 
        Спасибо за регистрацию на вебинар <b>{$item['title']}.</b><br /> 
        Вебинар пройдет <b>{$item['date_w']}</b> в <b>{$item['time_w']}</b>.<br /> 
        Для участия вам необходимо зайти по ссылке. <a href="{$item['link']}" title="{$item['title']}">{$item['link']}</a>
    </td>
</tr>
<tr><td><br><br>С уважением,администрация портала <a href="http://www.bsn.ru/">http://www.bsn.ru</a></td></tr>
</table>
</font>
