{include /modules/mailers/templates/simple.header.html}
<tr>                         
    <td>
        {if!empty $item['user_name']}<p>Здравствуйте, {$item['user_name']}!</p>{/if}
        <p>Вы (или кто-то другой) инициировали регистрацию на портале BSN.ru. В качестве логина был указан Ваш адрес электронной почты.</p>
        <p>Если Вы не подавали заявку на регистрацию и не хотите регистрироваться на нашем портале, пожалуйста, просто закройте это письмо и ничего не предпринимайте.</p>
        <p>Регистрация будет считаться завершенной при первом входе в созданный аккаунт.</p>
        <p>Данные для входа:</p>
        <font size="+1">
        <p>Логин: {$item['user_email']}</p>
        <p>Пароль: {$item['password']}</p>
    </td>
</tr>    
{include /modules/mailers/templates/simple.footer.html}