<font face="arial">
<table width="800" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
<tr>
    <td align="left" height="50">
        <a href="https://www.bsn.ru"><img src="https://www.bsn.ru/img/layout/logo.png" width="180" height="50"></a>
    </td>
</tr>
<tr>
    <td height="20"><hr></td>
</tr>
<tr>                         
    <td>
Здравствуйте! <br /><br />

В разделе Жилые комплексы появился новый <a href="https://www.bsn.ru/zhiloy_kompleks/{$item['chpu_title']}/" target="_blank">комментарий</a><br />
Отредактировать его можно перейдя по <a href="https://www.bsn.ru/admin/content/comments/edit/{$id}/" target="_blank">ссылке</a><br /><br />

Приятной работы.   </td>
</tr>
<tr><td><br><br>Ваш <a href="https://www.bsn.ru/">BSN.ru</a></td></tr>
</table>
</font>