<div class="rating-description">
    <h2 class="blue">Как считается рейтинг ЖК на BSN.RU?</h2>
    <div class="text">

        <p>С сентября по декабрь 2015 года более 70 экспертов рынка недвижимости (аналитики, представители компаний-застройщиков, агентств недвижимости и банков) оценили строящиеся жилые комплексы, в которых на тот момент велись продажи квартир.</p>
        <p>Каждой группе экспертов, состоящей из 5-7 человек, предлагалось оценить жилые комплексы, строящиеся в определенном районе Санкт-Петербурга или Ленобласти, по 5 параметрам.</p>
        <p>Транспортная доступность &ndash; степень развития дорожной сети, наличие достаточного количества транспортных маршрутов.</p>
        <p><b>Инфраструктура</b> &ndash; наличие необходимой социальной и коммерческой инфраструктуры.</p>
        <p><b>Местоположение</b> &ndash; степень привлекательности и развитости района, в котором расположен проект (наличие необходимой инфраструктуры, зеленых зон, культурных объектов и пр.)</p>
        <p><b>Экологичность</b> &ndash; степень удаленности от производственных площадок и других возможных источников загрязнения, наличие поблизости зеленых зон, водоемов.</p>
        <p><b>Качество</b> &ndash; уровень качества материалов, используемых для строительства объекта, их соответствие заданному классу объекта, степень привлекательности концепции проекта, архитектурных решений.</p>
        <p>Оценки выставлялись по 10-балльной системе. По итогам экспертной оценки были подготовлены публикации в разделе &laquo;Статьиа&raquo; сайта, где были указаны средние экспертные оценки каждого комплекса, а также мнения экспертов о жилых комплексах района в целом.</p>
        <p>Осенью 2016 года портал попросил экспертов оценить те строящиеся жилые комплексы, которые были выведены на рынок с октября 2015 по ноябрь 2016 года. Жилые комплексы оценивались по той же системы, обзоры с результатами размещались в разделе &laquo;Статьи&raquo;.</p>
        <p>В данный момент в разделе &laquo;Рейтинг ЖК&raquo; представлены оценки жилых строящихся жилых комплексов Санкт-Петербурга и Ленобласти, которые были выведены на рынок до ноября 2016 года и находятся в активной продаже.</p>

    </div>
</div>