<div class="rating-description">
    <h2 class="blue">Голосование за апартаменты</h2>
    <div class="text">
        <p>Апартаменты – здания с помещениями, предназначенными для временного проживания. Формально апартаменты относятся к коммерческой недвижимости, но по своим характеристикам близки к жилым комплексам и успешно с ними конкурируют. Плюсом апартаментов является более низкая цена по сравнению с квартирами аналогичной площади в той же локации. Минусами – невозможность постоянной регистрации, а также более высокие налоги. </p>

        <p>Портал BSN.ru представляет экспертный рейтинг строящихся и реализованных проектов апартаментов в Санкт-Петербурге. Рейтинг был проведен в апреле 2016 года. </p>
        
        <p>Эксперты оценивали проекты по следующим критериям: </p>
 
        <p><b>Транспортная доступность</b> – степень развития дорожной сети, наличие достаточного количества транспортных маршрутов.</p>
        <p><b>Инфраструктура</b> – наличие необходимой социальной и коммерческой инфраструктуры.</p>
        <p><b>Надежность</b> – степень надежности вложения средств в покупку квартиры в данном объекте. Надежность зависит от репутации застройщика (опыта его работы на рынке, количества сданных объектов, отсутствия претензий от дольщиков) и от темпов строительства оцениваемого объекта.</p>
        <p><b>Экологичность</b> – степень удаленности от производственных площадок и других возможных источников загрязнения, наличие поблизости зеленых зон, водоемов.</p>
        <p><b>Соотношение цены/качества</b> – степень привлекательности концепции проекта, архитектурных решений, соответствие концепции заявленному классу и цене, качество материалов, используемых для строительства, их соответствие классу объекта.</p>
        <p>В ходе голосования апартаменты были разделены на четыре группы, подробнее о которых можно узнать в тексте с результатами голосования. </p>
         
        <p>Обновленный экспертный рейтинг апартаментов будет выпущен во второй половине 2017 года. </p>


    </div>
</div>