<div class="rating-description">
    <h2 class="blue">Голосование за ЖК</h2>
    <div class="text">
        <p>С сентября по декабрь 2015 года более 70 экспертов рынка недвижимости (аналитики, представители компаний-застройщиков, агентств недвижимости и банков) оценили строящиеся жилые комплексы, в которых на тот момент велись продажи квартир.</p>
        <p>Каждой группе экспертов, состоящей из 5-7 человек, предлагалось оценить жилые комплексы, строящиеся в определенном районе Санкт-Петербурга или Ленобласти, по 5 параметрам.</p>

        <p><b>Транспортная доступность</b> – степень развития дорожной сети, наличие достаточного количества транспортных маршрутов.</p>
        <p><b>Инфраструктура</b> – наличие необходимой социальной и коммерческой инфраструктуры.</p>
        <p><b>Надежность</b> – степень надежности вложения средств в покупку квартиры в данном объекте. Надежность зависит от репутации застройщика (опыта его работы на рынке, количества сданных объектов, отсутствия претензий от дольщиков) и от темпов строительства оцениваемого объекта.</p>
        <p><b>Экологичность</b> – степень удаленности от производственных площадок и других возможных источников загрязнения, наличие поблизости зеленых зон, водоемов.</p>
        <p><b>Соотношение цены/качества</b> – степень привлекательности концепции проекта, архитектурных решений, соответствие концепции заявленному классу и цене, качество материалов, используемых для строительства, их соответствие классу объекта.</p>
        <p>Оценки выставлялись по 10-балльной системе. По итогам экспертной оценки были подготовлены публикации в разделе «Статьи» сайта, где были указаны средние экспертные оценки каждого комплекса, а также мнения экспертов о жилых комплексах района в целом. </p>
        <p>Осенью 2016 года портал попросил экспертов оценить те строящиеся жилые комплексы, которые были выведены на рынок с октября 2015 по ноябрь 2016 года. Жилые комплексы оценивались по той же системы, обзоры с результатами размещались в разделе Статьи.</p>
        <p>В данный момент в разделе представлены оценки построенных и строящихся жилых комплексов Санкт-Петербурга и Ленобласти, которые были выведены на рынок до ноября 2016 года. </p>


    </div>
</div>