<form class="fast-search" id="fast-search-form" action="/specialists/" method="post">
    <div class="form-container clearfix">
        <div class="row clearfix">
                                
            <div class="single-selector autocomplete-title">
                <input type="text" name="specialist_title" id="specialist_title" value="{if!empty $form_data['specialist_title']}{$form_data['specialist_title']}{/if}" class="autocomplete" autocomplete="off" data-url="/specialists/search/{if!empty $activity}?activity={$activity}{/if}" />
                <i data-icon="clear" class="clear-input{ifempty $form_data['specialist']} hidden{/if}" data-icon="clear"></i>
                <input type="hidden" name="specialist" value="{if!empty $form_data['specialist']}{$form_data['specialist']}{/if}"/>
            </div>
            
            <div class="specialization-list">
                {block specialists/block/specializations/}
            </div>   
           
           <button class="search-button" title="Найти">Найти</button>
           
        </div>
    </div>    
</form>  
