
{if!empty $list}
    {loop $list,$lk,$item}
        <div class="item bsntv br3 shadow-hover{ifeq $lk,0} main{/if} bbox transition">
            <a class="internal-link" href="{ifempty $item['link']}/bsntv/{$item['category_code']}/{$item['chpu_title']}/{else}{$item['link']}/{/if}"></a>
            <span class="image br3 bg-cover lazy" data-src="({static:/}{$img_folder}/med/{$item['subfolder']}/{$item['photo']})"><i data-icon="play_circle_outline"></i></span>
            <div class="content">
                <p class="smallnotes clearfix">
                    <time  data-icon="schedule" datetime="{$item['datetime']}">{$item['normal_date']}</time>
                </p>  
                <span class="title">{$item['title']}</span>
            </div>
        </div>
    {/loop $list}
{/if}