<h3>
    {$item['title']}
    {ifeq $item['exclusive'],'1'}
        <span class = "news-exclusive">эксклюзив</span>
    {/if}
    {ifeq $item['comment'],'1'}
        <span class = "news-comment">комментарий</span>
    {/if}
    {ifeq $item['report'],'1'}
        <span class = "news-report">репортаж</span>
    {/if}
</h3>
<p class="smallnotes clearfix">{$item['normal_date']}<span class="views_count" data-icon="visibility">{php:echo $item['views_count']}</span></p>
{stripall:$item['content_short']}...
<a href="{$lastitem_url}">Читать полностью</a> 