span.internal-link,
span.external-link,
a.external-link{
    color: #1e88e5;
    text-decoration: underline;
    cursor: pointer;
}
span.internal-link:hover,
span.external-link:hover,
a.external-link:hover{
    text-decoration: none;
}
.tgb-list-estate{
    width: 95%;
    height: 152px;
    padding: 0 18px 18px 18px;
    border: 1px solid #dedede;
    margin: 0 auto;
    background: #f7f7f7;
}

#spec-offers-title{
    color: #a5a5a5;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0 5px 27px;
    line-height: 27px;
    font-family: Arial,Tahoma;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #dedede;
    background: url('https://st.bsn.ru/img/layout/spec_offers_star.gif') no-repeat 3px 10px;
}
.spec-offers.pingola {
   
}
.spec-offers.pingola span,
.spec-offers.pingola span img,
.spec-offers.pingola span p,
.spec-offers.pingola a,
.spec-offers.pingola a img,
.spec-offers.pingola a p{
    width: 100px;
    font: normal 12px/1.3 Arial,Tahoma,Verdana,Helvetica,sans-serif;
    
}
.spec-offers.pingola,
.spec-offers.pingola span,
.spec-offers.pingola a{
    width: 100%;
    float: left;
    height: 102px;
    overflow: hidden;
}
.spec-offers.pingola span img,
.spec-offers.pingola a img{
    height: 100px;
    border: 1px solid #dedede;
    margin-right: 15px;
    float: left;
}
.spec-offers.pingola span p,
.spec-offers.pingola a p{
    text-align: left;
    font-size: 14px;
    width: 100px;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    height: 100px;
   
}

.spec-offers.pingola{
    width: 33%;
}