{ifempty $only_objects}
<h1 class="pageTitle">TextLine / Объявления</h1>
{if!empty $results['delete']}
    {iflt $results['delete'];0}
        <div class="notification msgerror">
            <a class="close">Close</a>
            Ошибка. Удаление элемента не выполнено.
        </div>
    {else}
        <div class="notification msgsuccess">
            <a class="close">Close</a>
            Удаление элемента #{$results['delete']} произведено успешно.
        </div>
    {/if}
{/if}
<div class="caption_line"><a href="/admin/advert_objects/textline/banners/add/" class="button">Добавить запись</a>
<span class="total=items">Итого: {php:echo count($list);}</span>
</div>
{/if}
<div class="list_table">
    {ifempty $only_objects}
    <script type="text/javascript">
        function filter_activate(){
            var __filter_manager = document.getElementById('f_manager').value;
            var __filter_title = document.getElementById('f_title').value;
            var __filter_status = document.getElementById('f_status').value;
            var __filter_campaign = document.getElementById('f_campaign').value;
            var __url = '{root:/admin/advert_objects/textline/banners/}';
            var __get = new Array();
            if(__filter_title!='') __get.push('f_title='+__filter_title);
            if(__filter_status!='') __get.push('f_status='+__filter_status);
            if(__filter_campaign>0) __get.push('f_campaign='+__filter_campaign);
            if(__filter_manager!=0) __get.push('f_manager='+__filter_manager);
            if(__get.length>0) __url = __url+'?'+__get.join('&');
            document.location.href = __url;
        }
    </script>
    
    <div class="filter_line">
        <label>
            Заголовок:
            <input type="text" id="f_title" value="{$get_array['f_title']}" onchange="filter_activate()"  placeholder="часть заголовка">
        </label>
        <label>
            Менеджер:
            <select id="f_manager" onchange="filter_activate()" style="width: 150px;">
                <option value="0">любой</option>
                {loop $managers,$key,$val}
                    <option value="{$val['id']}"{ifeq $get_array['f_manager'],$val['id']} selected="selected"{/if}}>{$val['name']}</option>
                {/loop $managers}
            </select>
        </label>        
        <label>
            Статус:
            <select id="f_status" onchange="filter_activate()" style="width: 150px;">
                {loop $statuses,$key,$val}
                    <option value="{$key}"{ifeq $get_array['f_status'],$key} selected="selected"{/if}>{$val}</option>
                {/loop $statuses}
            </select>
        </label>
        <label>
            Кампания:
            <select id="f_campaign" onchange="filter_activate()" style="width: 150px;">
                <option value="">Все</option>
                {loop $campaigns,$key,$val}
                    <option value="{$val['id']}"{ifeq $get_array['f_campaign'],$val['id']} selected="selected"{/if}>{$val['title']}</option>
                {/loop $campaigns}
            </select>
        </label>              
            
    </div>       
    {/if} 
    {if!empty $list}
        <table>    
            <colgroup>
                <col class="col1" width="1%">
                <col class="col2" width="15%">
                <col class="col2" width="10%">
                <col class="col1" width="5%">
                <col class="col2" width="5%">
                <col class="col1" width="10%">
                <col class="col2" width="10%">
                <col class="col1" width="5%">
                <col class="col1" width="5%">
                <col class="col2" width="5%">
                <col class="col1" width="10%">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Объявление</th>
                    <th>Стат-ка сегодня</th>
                    <th>Стат-ка вчера</th>
                    <th>Стат-ка все время</th>
                    <th>CTR</th>
                    <th>Ссылка на переход / пиксель</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {loop $list,$key,$item}
                    <tr id="item_{$item['id']}">
                        <td>{$item['id']}</td> 
                        <td>
                            <font size="-1">{$item['title']}</font>
                        </td>
                        <td align="center" title="показы/клики за день">{$item['cnt_day']} / {$item['cnt_click_day']}</td>
                        <td align="center" title="показы/клики за вчера">{$item['cnt_full_yesterday']} / {$item['cnt_click_full_yesterday']}</td>
                        <td align="center" title="показы/клики за все время">{$item['cnt_full']} / {$item['cnt_click_full']}</td>
                        <td align="center" title="CTR за все время">{ifgt $item['cnt_full'],0}{php:echo number_format(($item['cnt_click_full']/$item['cnt_full'])*100, 2, '.', ' ')}{else}0{/if}</td>
                        <td align="center">
                        	{if!empty $item['direct_link']} 
                            	<font size="-2" style="text-overflow: ellipsis; overflow:hidden; width:150px; display:block;"><a href="{$item['direct_link']}" title="" target="_blank">{$item['direct_link']}</a></font>
                            {else}
                            -
                            {/if}
                            /
                            {if!empty $item['get_pixel']} 
                                <font size="-2" style="text-overflow: ellipsis; overflow:hidden; width:150px; display:block;"><a href="{$item['get_pixel']}" title="" target="_blank">{$item['get_pixel']}</a></font>
                            {else}
                            -
                            {/if}

                        </td>
                        <td class="small_icons ac">
                            <a href="/admin/advert_objects/textline/banners/edit/{$item['id']}/" title="Изменить"><span class="ico_edit">Изменить</span></a>
                            <a href="/admin/advert_objects/textline/stats/banners/{$item['id']}/" title="Статистика объявления"><span class="ico_stats">Статистика объявления</span></a>
                        </td>
                    </tr>
                {/loop $list}
            </tbody>
        </table>
        {ifempty $only_objects}{include /admin/templates/table_paginator.html}{/if}
    {else}
        <p style="padding:30px;">Запрошенные данные не найдены</p>
    {/if}
</div>
