{include /templates/includes/main_head_part.html}
</head>
<body id="video-landing" class="payed-format">
        <header class="bbox{ifempty $page_type} {$page_type} small{/if}">
            <img src="{static:/}img/layout/video_landing/text-img.png" class="text-img" />
            <div id="parallax">
                <div class="parallax-layer bg"></div>
                <div class="phone-wrap">
                    <div class="parallax-layer small-bg"></div>
                </div>
                <div class="hand-wrap">
                    <div class="parallax-layer hand"></div>
                </div>
            </div>
            <div class="content">
                {ifempty $mainpage}<a href="/video_konkurs_2015/" title="На главную конкурса" class="back">На главную конкурса</a>
                {else}<a href="/video_konkurs_2015/list/" title="Смотреть ролики" class="back">Смотреть ролики</a>
                {/if}
                <a href="/" title="На главную BSN.ru" class="logo">&nbsp;</a>
                <div class="social">
                    <span class="icon-VK external-link" data-link="//vk.com/bsn_ru"></span>
                    <span class="icon-YouTube-play external-link" data-link="//www.youtube.com/channel/UCs-JHz_clECjieYwzi0irMw"></span>
                </div>
            </div>
        </header>
        {$content}

        <footer>
            <div class="content">
                {php:echo date('Y');} &copy; BSN.RU
                <a href="/contacts/" title="Контакты" target="_blank">Контакты</a>
                <a href="/about/" title="О проекте" target="_blank">О проекте</a>
                <a href="/video_konkurs_2015/offer/" title="Правила участия">Правила участия</a>
                <div class="social">
                    <span class="icon-VK external-link" data-link="//vk.com/bsn_ru"></span>
                    <span class="icon-YouTube-play external-link" data-link="//www.youtube.com/channel/UCs-JHz_clECjieYwzi0irMw"></span>
                </div>
                
            </div>
        </footer>
        <!--LiveInternet counter--><script type="text/javascript"><!--
        document.write("<a href='//www.liveinternet.ru/click;bsn-sale' "+
        "target=_blank><img src='//counter.yadro.ru/hit;bsn-sale?t18.2;r"+
        escape(document.referrer)+((typeof(screen)=="undefined")?"":
        ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
        screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
        ";"+Math.random()+
        "' alt='' title='LiveInternet: показано число просмотров за 24"+
        " часа, посетителей за 24 часа и за сегодня' "+
        "border='0' width='0' height='0' style='display:none;'><\/a>")
        //--></script><!--/LiveInternet-->
    </body>
</html>
