<font face="arial">
<table width="800" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
<tr>
    <td align="left" height="50">
        <a href="https://www.bsn.ru"><img src="https://www.bsn.ru/img/layout/logo.png" width="180" height="50"></a>
    </td>
</tr>
<tr>
    <td height="20"><hr></td>
</tr>
<tr>                         
    <td>
        {$item['name']}, ваше видео под номером {$id} добавлено на  <a href="https://www.bsn.ru/video_konkurs_2015/list/" target="_blank" title="Перейти на страницу конкурса">страницу конкурса</a> и участвует в конкурсе! <br /><br />Привлекайте друзей, знакомых голосовать за ваше видео. Расскажите о конкурсе в социальных сетях с хештегом #ВИДЕОДОМ. Загружайте видео о других Жилых Комплексах и Коттеджных поселках. Больше видео - больше шанс выиграть . <br />Удачи.
    </td>
</tr>
<tr><td><br><br>Ваш <a href="https://www.bsn.ru/">BSN.ru</a></td></tr>
</table>
</font>