<div id="offer-wrap">
    <div class="text">
        <a href="/video_konkurs_2015/" title="Заглавная страница конкурса" class="to-main">Загрузи свое видео</a>
    <h2>
        Правила</h2>
<h3>ПЕРИОД ПРОВЕДЕНИЯ</h3>
<p>Конкурс проходит с 6 июля 2015 года по 20 сентября 2015 года включительно.</p>

<h3>ТРЕБОВАНИЯ К ВИДЕОРОЛИКАМ</h3>
<ul>
<li>Необходимо снять видеоролик (длительность — до 3-х мин.) о строящемся или недавно построенном Жилом Комплексе (ЖК) или Коттеджном Поселке (КП), информация о котором есть в каталоге <a href="https://www.bsn.ru/zhiloy_kompleks/" target="_blank">&laquo;Жилые комплексы Санкт-Петербурга&raquo;</a> или <a href="https://www.bsn.ru/cottedzhnye_poselki/" target="_blank">&laquo;Коттеджные поселки&raquo;</a>: </li>
<li>Съемки должны проходить в светлое время суток без дождя.</li>
<li>Размер файла — не более 200 мб.</li>
<li>Минимальное разрешение видео — 640*480 пикселей.</li>
<li>Обязательно горизонтальное позиционирование камеры.</li>
<li>Обязательны голосовые комментарии.</li>
<li>В видео желательно отразить:</li>
</ul>
<p style="margin-left:36.0pt;">1. общий план ЖК</p>
<p style="margin-left:36.0pt;">2. привязку к адресу (улица, шоссе, известный объект рядом)</p>
<p style="margin-left:36.0pt;">3. наличие парковки</p>
<p style="margin-left:36.0pt;">4. закрытость/открытость территории (для сданных ЖК) – наличие шлагбаума, охраны.</p>
<p style="margin-left:36.0pt;">5. наличие/отсутствие зеленой зоны в шаговой доступности</p>
<p style="margin-left:36.0pt;">6. состояние общих территорий (лифтовой холл, черная лестница)</p>
<ul>
<li>Запрещается указывать в видео контактные данные: адрес сайта, телефон и др..</li></ul>

<h3>УСЛОВИЯ УЧАСТИЯ</h3>
<ul>
<li>Загрузить снятый ролик на странице: https://www.bsn.ru/video_konkurs_2015/</li>
<li>Вступить в нашу группу <a href="http://vk.com/bsn_ru" title="Vkontakte" target="_blank">Vkontakte</a>.</li>
<li>Сделать репост анонса конкурса на своей странице в социальной сети с хэштегом #видеодом.</li>
<li>Один участник может прислать неограниченное количество роликов.</li>
<li>Каждый ролик до публикации проверяется модератором.</li>
<li>Загружая ролик на странице вы предоставляете неисключительное, бесплатное и передаваемое право Администрации Сайта на использование Контента путем копирования, публичного исполнения, воспроизведения, переработки, перевода и распространения в любых медийных форматах и по любым медийным каналам для целей Сайта, в том числе для популяризации Сайта. Администрация может изготавливать производные произведения или вставлять ваш Контент в качестве составных частей в соответствующие сборники, совершать иные действия, служащие достижению указанных целей.</li>
<li>Загружая видеоролик автор дает согласие на его публикацию (обнародование) в том числе без указания авторства, без ограничения по территории, на срок действия исключительного права, установленный действующим законодательством.</li>
<li>Организаторы имеют право не публиковать видеоролики без объяснения причины.</li>
<li>Уведомление о размещении ролика придет на указанную участником почту.</li>
</ul>
<h3>ГОЛОСОВАНИЕ</h3>
<ul>
<li>Голосовать за ролики необходимо на <a href="https://www.bsn.ru/video_konkurs_2015/list/" title="">странице конкурса</a>.</li>
<li>С одного ip-адреса за понравившийся ролик можно проголосовать только 1 раз в сутки.</li>
<li>Любые накрутки голосов будут тщательно отслеживаться и в случае обнаружения, ролик с накрученными голосами будет снят с конкурса.</li>
<li>При финальном подсчете голосов будет учитываться репост записи о конкурсе на странице участника в социальной сети. При отсутствии записи, ролик автоматически снимается с конкурса.</li>
</ul>
<h3>ВЫБОР ПОБЕДИТЕЛЯ</h3>
<p>3 видеоролика, набравшие наибольшее количество голосов, получат сертификаты* на размещение рекламы на BSN.ru:</p>
<p>1 место - сертификат на 40 000 рублей</p>
<p>2 место - сертификат на 25 000 рублей</p>
<p>3 место - сертификат на 15 000 рублей</p>
<p>* Сертификат может быть использован в течении 2-х месяцев от даты вручения. Сертификат не является денежным эквивалентом. Сертификат не может использоваться на текущую рекламу держателя сертификата на портале. Победитель может выбрать на указанную в сертификате сумму размещения по нижеуказанным местам и по согласованию с отделом рекламы, а именно: <br />1. Карточки Жилого Комплекса или Коттеджного Поселка <br />2. ТГБ сквозное или в разделе <br />3. Баннер топ-лайн</p>
</div>