<h1 class="pageTitle">Теги / Категории</h1>
{if!empty $results['delete']}
    {iflt $results['delete'];0}
        <div class="notification msgerror">
            <a class="close">Close</a>
            Ошибка. Удаление элемента не выполнено.
        </div>
    {else}
        <div class="notification msgsuccess">
            <a class="close">Close</a>
            Удаление элемента #{$results['delete']} произведено успешно.
        </div>
    {/if}
{/if}
{if!empty $results['move']}
    {iflt $results['move'];0}
        <div class="notification msgerror">
            <a class="close">Close</a>
            Ошибка. Перемещение элемента не выполнено.
        </div>
    {else}
        <div class="notification msgsuccess">
            <a class="close">Close</a>
            Перемещение элемента #{$results['move']} произведено успешно.
        </div>
    {/if}
{/if}
<div class="caption_line"><a href="/admin/content/tags/categories/add/" class="button">Добавить категорию</a></div>
<div class="list_table">
    {if!empty $list}
        <table>    
            <colgroup>
                <col class="col2" width="5%">
                <col class="col1" width="55%">
                <col class="col2" width="20%">
                <col class="col1" width="20%">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Алиас</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {loop $list,$key,$item}
                    <tr>
                        <td>{$item['id']}</td>
                        <td>{$item['title']}</td>
                        <td>{$item['code']}</td>
                        <td class="small_icons ac">
                            <a href="/admin/content/tags/categories/edit/{$item['id']}/" title="Изменить"><span class="ico_edit">Изменить</span></a>
                            <a href="/admin/content/tags/categories/del/{$item['id']}/" title="Удалить" onclick="if(!confirm('Вы уверены, что нужно удалить этот объект?')) return false;"><span class="ico_del">Удалить</span></a>
                        </td>
                    </tr>
                {/loop $list}
            </tbody>
        </table>
        {include /admin/templates/table_paginator.html}
    {else}
        <p style="padding:30px;">Запрошенные данные не найдены</p>
    {/if}
</div>