{if!empty $h1}<h1 class="pageTitle">{$h1}</h1>{/if}
{if!empty $results['delete']}
    {iflt $results['delete'];0}
        <div class="notification msgerror">
            <a class="close">Close</a>
            Ошибка. Удаление элемента не выполнено.
        </div>
    {else}
        <div class="notification msgsuccess">
            <a class="close">Close</a>
            Удаление элемента #{$results['delete']} произведено успешно.
        </div>
    {/if}
{/if}
<div class="list_table">
    <script type="text/javascript">
        function filter_activate(){
            var __filter_title = document.getElementById('f_question').value;
            var __filter_status = document.getElementById('f_status').options[document.getElementById('f_status').selectedIndex].value;
            var __url = '{root:/admin/content/guestbook/}';
            var __get = new Array();
            if(__filter_title!='') __get.push('f_question='+__filter_title);
            if(__filter_status!=0) __get.push('f_status='+__filter_status);
            if(__get.length>0) __url = __url+'?'+__get.join('&');
            document.location.href = __url;
        }
    </script>
    
    <div class="filter_line">
        <label>
            Статус:
            <select id="f_status" onchange="filter_activate()">
                <option value="0" {ifeq $get_array['f_status'],"0"}selected{/if}>статус вопроса</option>
                <option value="1" {ifeq $get_array['f_status'],"1"}selected{/if}>опубликован</option>
                <option value="2" {ifeq $get_array['f_status'],"2"}selected{/if}>не опубликован</option>
            </select>
        </label>
        <label>
            Вопрос:
            <input type="text" id="f_question" value="{$get_array['f_question']}" onchange="filter_activate()"  placeholder="часть вопроса">
        </label>
    </div>
    {if!empty $list}
        <table>    
            <colgroup>
                <col class="col2" width="5%">
                <col class="col2" width="41%">
                <col class="col2" width="41%">
                <col class="col2" width="10%">
                <col class="col2" width="3%">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Вопрос</th>
                    <th>Ответ</th>
                    <th>Автор</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {loop $list,$key,$item}
                    {ifeq $item['published'],2}
                        <tr id="item_{$item['id']}" class="admin_not_published">
                            <td>{$item['id']}</td>
                            <td>{$item['question']}</td>
                            <td>{$item['answer']}</td>
                            <td>{$item['name']}</td>
                            <td class="small_icons ac">
                                <a href="/admin/content/guestbook/edit/{$item['id']}/" title="Изменить"><span class="ico_edit">Изменить</span></a>
                                <a href="/admin/content/guestbook/del/{$item['id']}/" title="Удалить"><span class="ico_del">Удалить</span></a>
                            </td>
                        </tr>
                    {else}
                        <tr id="item_{$item['id']}">
                            <td>{$item['id']}</td>
                            <td>{$item['question']}</td>
                            <td>{$item['answer']}</td>
                            <td>{$item['name']}</td>
                            <td class="small_icons ac">
                                <a href="/admin/content/guestbook/edit/{$item['id']}/" title="Изменить"><span class="ico_edit">Изменить</span></a>
                                <a href="/admin/content/guestbook/del/{$item['id']}/" title="Удалить"><span class="ico_del">Удалить</span></a>
                            </td>
                        </tr>
                    {/if}
                    
                {/loop $list}
            </tbody>
        </table>
        {include /admin/templates/table_paginator.html}
    {else}
        <p style="padding:30px;">Запрошенные данные не найдены</p>
    {/if}
</div>