{if!empty $h1}<h1>{$h1}</h1>{/if}
    {if!empty $list}
        <div class="topgray inner-wrapper">
        {loop $list,$lk,$record}
            <div class="guestbook-list">
                <p class=guestbookheader>Запись:</p>
                <p>{$record['question']}</p>
                <span class=guestbookdate>({$record['q_date']}, {$record['name']})</span>
                <p class=guestbookheader>Комментарий БСН:</p>
                <p class=guestbookrecord>{$record['answer']}</p>
            </div>
        {/loop $list}
        </div>
    {/if}
{include templates/includes/paginator.html}