<font face="arial">
<table width="800" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
<tr>
<td width="20"></td>
<td align="left" height="50" width="200">
<a href="{$env['url']}"><img src="{$env['url']}img/layout/logo.png" width="180" height="50"></a>
</td>
<td width="20"></td>
<td valign="middle">
<font size="+1" color="#E8950E">Создана новая заявка в сервисе Консультант.</font>
</td>
<td width="20"></td>
</tr>
<tr>
<td colspan="5" height="20"><hr></td>
</tr>
<tr>
<td></td>
<td colspan="3">
<a href="{$env['url']}admin/content/consults/edit/{$data['id']}/">ID {$data['id']}</a>
<table>
<tr>
    <td><b>Автор:</b></td>
    <td>{$env['author']}</td>
</tr>
<tr>
    <td><b>Email:</b></td>
    <td>{$env['login']}</td>
</tr>
<tr>
    <td><b>Дата:</b></td>
    <td>{$env['datetime']}</td>
</tr>
<tr>
    <td><b>Раздел:</b></td>
    <td>{$env['section']}</td>
</tr>
<tr>
    <td><b>Текст:</b></td>
    <td>{$env['text']}</td>
</tr>
</table>
</td>
<td></td>
</tr>
<tr>
<td colspan="5" height="20"></td>
</tr>
</table>
</font>
<p>С уважением,<br>администрация портала <a href="{$env['url']}">{$env['host']}</a></p>