
    
    {if!empty $list}
        <div class="list public {if!empty $common_user}common-user{/if}">  
           
            {loop $list,$key,$item}  
                {php:$show_application = ( !empty($item['id_realtor_help_type']) && !empty($auth['id_agency'])) || ( empty($item['id_realtor_help_type']) )}
                {if!empty $show_application}
                    <div class="item shadow-hover transition clearfix {if!empty $item['free_for_payed']}{if!empty $free_apps_for_me} free-for-payed-app{/if}{/if}" id="{$item['id']}">
                        <div class="left-column">
                            <span class="id">{$item['id']}</span>
                            {if!empty $item['date']}
                                <div class="date-in">
                                    {$item['date']}
                                   
                                </div>
                            {/if}
                            {if!empty $item['user_comment']}
                                <span class="comment transition">
                                    <span class="active">Есть комментарий</span>
                                    <span>Скрыть комментарий</span>
                                </span>
                            {/if}
                        </div>
                        <div class="central-column">

                            <div class="app-type">
                                
                                {ifempty $item['id_realtor_help_type']}
                                    <span class="deal-type {$item['rent_title']}">{$item['rent']}</span>
                                {/if}

                                {if!empty $item['object_type_title']}<span class="object-type">, {$item['object_type_title']}</span>
                                {elseif!empty $item['estate_type_title']}<span class="object-type">, {$item['estate_type_title']}</span>
                                {/if}
                                
                            </div>    
                            
                            <div class="name text-overflow">
                                {$item['name']}
                                <span>- {$item['user_type_title']}{if!empty $item['work_status_title']}, {$item['work_status_title']}{/if}</span>
                                {if!empty $cabinet}
                                    <div>
                                        <span class="phone">{$item['phone']}</span>
                                        {if!empty $item['email']}<span class="email">, email: {$item['email']}</span>{/if}
                                    </div>
                                {/if}
                            </div>

                            {if!empty $item['id_realtor_help_type']}
                                <span class="realtor">Требуется риэлтор. {$item['realtor_help_type_title']}</span>
                            {elseif!empty $item['id_parent']}
                                {php:$own_application = !empty($item['user_object']) && !empty($item['id_parent']) && $item['estate_type']!=8}
                                <span class="internal-link{if!empty $own_application} green{/if}" data-new-tab="true" data-link="{$item['url']}" title="Посмотреть карточку объекта">
                                    {if!empty $own_application}Ссылка на ваш объект
                                    {else}Ссылка на объект
                                    {/if}
                                </span>
                            {/if}
                            
                        </div>
                        
                        <div class="right-column">
                            {ifeq $app_io,'out'}
                                <span class="title common-user {ifeq $item['status'],2}new{else}{ifeq $item['status'],3}in-work{else}{ifeq $item['status'],1}finished{/if}{/if}{/if}">
                                {ifeq $item['status'],2}
                                    Новая
                                {else}
                                    <span>
                                        <ul class="squares">
                                        {if!empty $item['start_date']}
                                            <li class="app-date-start"><i>Принята в работу:</i>{$item['start_date']}</li>
                                        {/if}
                                        {if!empty $item['finish_date']}
                                            <li class="app-date-finish"><i>Завершена:</i>{$item['finish_date']}</li>
                                        {/if}
                                        </ul>
                                    </span>
                                    {ifempty $item['finish_date']}<i class="status-title">{$item['status_title']}</i>{/if}
                                {/if}
                                </span>
                            {else}
                                
                                {ifeq $item['status'],2}
                                    {php:$show_button = !( $auth['id_group'] == 13 && ($item['estate_type'] == 2 || ($item['estate_type'] == 5 && $item['build_complete'] == 'Сдан') ) )}
                                    {if!empty $item['id_realtor_help_type']}
                                        {if!empty $can_buy_realtor_apps}
                                            <span class="button blue in-work public realtor popup" data-location="buy-application-{$item['id']}" data-url="/applications/popup/buy/{$item['id']}/">Взять в работу</span>
                                        {/if}
                                    {elseif!empty $item['free_for_payed']}
                                        {if!empty $free_apps_for_me}
                                            <span class="button white">Бесплатная</span>
                                            <span class="button blue in-work public free-for-payed">Взять в работу</span>                                        
                                        {else}
                                            <span class="gray-info">Бесплатно для клиентов BSN.ru</span>
                                        {/if}
                                    {else}
                                        {if!empty $show_button}<span class="button blue {if!empty $authorized}in-work public{else}authorize{/if} popup" data-location="buy-application-{$item['id']}" data-url="/applications/popup/buy/{$item['id']}/">Взять в работу</span>{/if}
                                    {/if}
                                    
                                {else}
                                    <span class="title {$item['status_alias']}">
                                        <span>
                                            <ul class="squares">
                                                {if!empty $item['start_date']}
                                                    <li class="app-date-start"><i>Принята в работу:</i>{$item['start_date']}</li>
                                                {/if}
                                                {if!empty $item['finish_date']}
                                                    <li class="app-date-finish"><i>Завершена:</i>{$item['finish_date']}</li>
                                                {/if}
                                            </ul>
                                        </span>
                                        {ifempty $item['finish_date']}<i class="status-title margined" {ifempty $item['finish_date']}title="Нажмите чтобы закрыть заявку"{/if}>{$item['status_title']}</i>{/if}
                                    </span>
                                    {if!empty $item['is_exclusive']}<span class="exclusive-badge">Эксклюзив</span>{/if}
                                {/if}
                            {/if}
                            
                        </div>
                        {if!empty $item['user_comment']}
                            <span class="clearfix"></span>
                            <span class="user-comment br3">{$item['user_comment']}</span>
                        {/if}
                        
                    </div>
                    
                {/if}
            {/loop $list}
            
        </div>
        {if !$authorized}
        <!--noindex-->
            
        <!--/noindex-->
        {/if}      
        {php:$ajax_search = true;}             
        {php:$direct_link_paginator = true}
        {include /templates/includes/paginator.html}

        <script>
            jQuery(document).ready(function(){
                //когда щелкаем "в работу" без авторизации, 
                jQuery(document).on('click', '.button.blue.authorize', function(){
                    jQuery('.auth-login').click();
                });
                jQuery('.public.list .popup').each(function(){ jQuery(this).popupWindow() });
            })
        </script>
    {else}
        <div class="empty-results">
            Заявки не найдены
        </div>
    {/if}


