<table width="100%" border="0">
<tbody>
<tr><td width="100%" align="center" style="border-top:1px dotted #ddd;">Рассылка предоставлена энциклопедией дизайна DIZBOOK.COM<br><a href="http://www.dizbook.com/" target="_blank"><img src="//st.bsn.ru/img/layout/dizbook_banner.gif" border="0"></a></td></tr>

<tr><td colspan="2" align="center" style="text-align:center"><div style="background:#e9e9e9;color:#666;padding:7px;font-size:14px;margin:5px 0px;line-height:22px;text-align:center;">
<a href="mailto:info@dizbook.com">info@dizbook.com</a> <br />
+7 (812) 711-13-13 <br />
<a href="http://vk.com/dizbook">Vk.com</a> <br />
</div></td></tr></tbody></table>