<table width="100%" border="0">
<tbody>
<tr><td width="100%" align="center" style="border-top:1px dotted #ddd;"></td></tr>

<tr><td colspan="2" align="center" style="text-align:center">
<div style="background:#e9e9e9;color:#666;padding:7px;font-size:14px;margin:5px 0px;line-height:22px;text-align:center;">
    
   
<a href="http://interestate.ru">INTERESTATE.RU</a><br />
Tel: +7 (921) 970-45-18<br />
E-mail: <a href="mailto:info@interestate.ru">info@interestate.ru</a> 
</div>
</td></tr></tbody></table>