<html lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>{$newsletter_title}</title>
{literal}
<style>
div, td { font-family: Arial, Helvetica, sans-serif; text-align:left; font-size:16px; color:#000;}
body {width:100%!important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; color:#000; margin:0; padding:0;font-family: Arial, Helvetica, sans-serif; color:#333;font-size:16px;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
</style>
{/literal}
</head>
<body>
<center style="background: #e6e6e6;">
<table class="wrapper" width="570" border="0" cellspacing="0" cellpadding="0" style="background: #e6e6e6;;padding:20px;margin:0;font-family: Arial, Helvetica, sans-serif; " >
     <tr height="20"><td></td></tr>
     <tr>
        <td>
            <table class="wrapper" width="570" border="0" cellspacing="0" cellpadding="20" style="background: #fff;padding:0;margin:0;font-family: Arial, Helvetica, sans-serif; " >
                <tr>
                    <td>
                        <table width="570" border="0" cellspacing="0" cellpadding="0" align="center" style="background: #fff; padding: 0; margin:0;">
                            
                            <!---->
                            <tr style="height: 40px;margin-bottom:20px;display:block;">
                                <td align="left" style="text-align:left" valign="middle" width="150" colspan="2">
                                    <img class="fiximg" src="https://www.bsn.ru/img/layout/bsn_logo_small.png" border="0" width="146" height="40" align="left">
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="border-collapse:collapse; padding:20px 0px 20px 0px; font-size:24px; line-height: 26px;" align="left"> 
                                Р—РґСЂР°РІСЃС‚РІСѓР№С‚Рµ{if!empty $info['name']}, <b>{$info['name']}{if!empty $info['name']} {$info['lastname']}{/if}</b>{/if}!<br>
                                </td>
                            </tr>
                            <tr style="display:block;margin-top:-10px;">
                                <td colspan="2" style="max-width:600px!important;width:600px!important;font-size:17px;">
                                    Р”Р»СЏ РІР°С€РµРіРѕ РѕР±СЉСЏРІР»РµРЅРёСЏ <a href="https://www.bsn.ru/{$object_info['estate_type']}/{ifeq $object_info['rent'],1}rent{else}sell{/if}/{$object_info['id']}/" target="_blank">ID {$object_info['id']}</a> Р·Р°РєРѕРЅС‡РёР»СЃСЏ СЃСЂРѕРє РґРµР№СЃС‚РІРёСЏ СѓСЃР»СѓРіРё '{$object_info['status_title']}'.<br />
                                    РџСЂРµРґР»Р°РіР°РµРј РѕР·РЅР°РєРѕРјРёС‚СЊСЃСЏ СЃРѕ СЃС‚Р°С‚РёСЃС‚РёРєРѕР№ Р·Р° РїРµСЂРёРѕРґ РґРµР№СЃС‚РІРёСЏ СѓСЃР»СѓРіРё:
                                </td>
                            </tr>
                            <tr>                         
                                <td valign="top" style="border-collapse:collapse; padding:15px 0; font-size:18px; line-height: 20px;" align="left">
                                    <img src="{$chart_src}" style="width:600px!important;margin:0 auto!important;display:block!important;">
                                    <br />
                                    <table style="width:600px!important;max-width:600px!important;border-collapse:separate!important;vertical-align: top!important;margin: 0px auto 30px auto!important;">
                                        <tr>
                                            <td colspan="2"><img src="//st1.bsn.ru/img/layout/object-statuses-mail_invitation_white.png" style="display:block;float:left;margin-bottom:40px!important;"><br /><br /><br /></td>
                                        </tr>
                                        <tr data-value="4" class="promo" style="width:600px!important;max-width:600px!important;padding-bottom:30px!important;">
                                            <td style="width:60px!important;max-width:60px!important;display:inline-block;float:left;margin-bottom:40px!important;" valign="top">
                                                <img src="//st1.bsn.ru/img/layout/object-statuses-mail_promo.png" style="">
                                            </td>
                                            <td style="display:inline-block!important;float:left!important;padding-left:15px;" valign="top">
                                                <p style="margin:0px 0px 5px 0px;display:block!important;">РџСЂРѕРјРѕ</p>
                                                <img src="//st1.bsn.ru/img/layout/object-statuses-mail_label_promo.png">
                                                <p style="margin:10px 0px 0px 0px;font-size:15px;">Р’С‹РґРµР»РµРЅРёРµ РІ СЂРµР·СѓР»СЊС‚Р°С‚Р°С… РїРѕРёСЃРєР° СЃСЂРµРґРё РґСЂСѓРіРёС… РѕР±СЉСЏРІР»РµРЅРёР№.<br>Р Р°Р·РјРµС‰РµРЅРёРµ РЅР° 30 РґРЅРµР№.</p>
                                            </td>
                                        </tr>
                                        <tr style="padding-bottom:15px;"><td colspan="2"><img src="//st1.bsn.ru/img/layout/object-statuses-mail_grayline.png" style="background-repeat: repeat-y!important;"></td></tr>
                                        <p style="display:block;width:100%!important;"></p>
                                        <tr data-value="4" class="premium" style="width:600px!important;max-width:600px!important;">
                                            <td style="width:60px!important;max-width:60px!important;display:inline-block;float:left;margin-bottom:40px!important;" valign="top">
                                                <img src="//st1.bsn.ru/img/layout/object-statuses-mail_premium.png" style="">
                                            </td>
                                            <td style="display:inline-block!important;float:left!important;padding-left:15px;" valign="top">
                                                <p style="margin:0px 0px 5px 0px;display:block!important;">РџСЂРµРјРёСѓРј</p>
                                                <img src="//st1.bsn.ru/img/layout/object-statuses-mail_label_premium.png">
                                                <p style="margin:10px 0px 0px 0px;font-size:15px;">Р’С‹РґРµР»РµРЅРёРµ РІ СЂРµР·СѓР»СЊС‚Р°С‚Р°С… РїРѕРёСЃРєР° + Р·Р°РєСЂРµРїР»РµРЅРёРµ РЅР° РїРµСЂРІС‹С… <br/>РїРѕР·РёС†РёСЏС…. Р Р°Р·РјРµС‰РµРЅРёРµ РЅР° 30 РґРЅРµР№.</p>
                                            </td>
                                        </tr>
                                        <tr style="padding-bottom:15px;"><td colspan="2"><img src="//st1.bsn.ru/img/layout/object-statuses-mail_grayline.png" style="background-repeat: repeat-y!important;"></td></tr>
                                        <br />
                                        <tr data-value="6" class="vip" style="width:600px!important;max-width:600px!important;height:135px!important;">
                                            <td style="width:60px!important;max-width:60px!important;display:inline-block;float:left;margin-bottom:40px!important;" valign="top">
                                                <img src="//st1.bsn.ru/img/layout/object-statuses-mail_vip.png" style="">
                                            </td>
                                            <td style="display:inline-block!important;float:left!important;max-width:400px!important;padding-left:15px;">
                                                <p style="margin:0px 0px 5px 0px;display:block!important;">VIP</p>
                                                <img src="//st1.bsn.ru/img/layout/object-statuses-mail_label_vip.png">
                                                <p style="margin:10px 0px 0px 0px;font-size:15px;width:500px;display:block;">Р РѕС‚Р°С†РёСЏ РѕР±СЉСЏРІР»РµРЅРёСЏ РІ СЃРїРµС†РёР°Р»СЊРЅРѕРј Р±Р»РѕРєРµ РЅР° РіР»Р°РІРЅРѕР№ СЃС‚СЂР°РЅРёС†Рµ, <br />Р° С‚Р°РєР¶Рµ РІ СЃРєРІРѕР·РЅРѕРј Р±Р»РѕРєРµ РЅР° РІСЃРµС… СЃС‚СЂР°РЅРёС†Р°С… СЃР°Р№С‚Р° (РєСЂРѕРјРµ РіР»Р°РІРЅРѕР№).<br>Р Р°Р·РјРµС‰РµРЅРёРµ РЅР° 7 РґРЅРµР№.</p>
                                            </td>
                                        </tr>
                                        <tr style="padding-bottom:15px;"><td colspan="2"><img src="//st1.bsn.ru/img/layout/object-statuses-mail_grayline.png" style="background-repeat: repeat-y!important;"></td></tr>
                                        <br />
                                        <tr data-value="4" class="premium" style="width:600px!important;max-width:600px!important;">
                                            <td style="width:60px!important;max-width:60px!important;display:inline-block;float:left;margin-bottom:10px!important;" valign="top">
                                                <img src="//st1.bsn.ru/img/layout/object-statuses-mail_raise.png" style="display:block!important;margin-bottom:15px;">
                                            </td>
                                            <td style="display:inline-block!important;float:left!important;height:100%!important;height:60px!important;padding-left:15px;">
                                                <p style="margin:0px 0px 5px 0px;display:block!important;">РџРѕРґРЅСЏС‚РёРµ РѕР±СЉРµРєС‚Р°</p>
                                                <img src="//st1.bsn.ru/img/layout/object-statuses-mail_label_raise.png">
                                                <p style="margin:10px 0px 0px 0px;font-size:15px;">РџРѕРґРЅСЏС‚РёРµ РѕР±СЉСЏРІР»РµРЅРёСЏ РІ СЂРµР·СѓР»СЊС‚Р°С‚Р°С… РїРѕРёСЃРєР° РЅР° 1 РёР»Рё 5 РґРЅРµР№.</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="background-color:#E4F4D6!important;heigth:130px!important;width:610px!important;height:90px!important;padding-top:40px!important;margin:0 auto;">
                                        <div style="background: url('//st1.bsn.ru/img/layout/object-statuses-mail_button.png') no-repeat 0 0!important;display:block!important;height:50px!important;width:275px!important;margin:0px auto!important;position:relative!important;top:40px!important;">
                                            <a href="https://www.bsn.ru/members/estate/edit/{$object_info['estate_type']}/{ifeq $object_info['rent'],1}rent{else}sell{/if}/{$object_info['object_id']}/?step=3" style="position:relative;display:block;height:50px!important;width:100%!important;z-index:0;text-align:center;line-height: 50px!important;font-size: 18px!important;color:#000!important;text-decoration:none!important;" title="РџРѕРґРєР»СЋС‡РёС‚СЊ РїР»Р°С‚РЅС‹Рµ СѓСЃР»СѓРіРё" target="_blank">РџРѕРґРєР»СЋС‡РёС‚СЊ РїР»Р°С‚РЅС‹Рµ СѓСЃР»СѓРіРё</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr><td colspan="2" height="20"></td></tr>
                            <tr> <!-- content - footer -->
                                <td colspan="2" valign="top" style="border-collapse:collapse; padding:0; font-size:18px;line-height: 20px;" align="left"> 
                                    РЎ СѓРІР°Р¶РµРЅРёРµРј,<br /><b>РєРѕРјР°РЅРґР° BSN.ru</b>  
                                </td>
                            </tr>
                            <tr><td colspan="2" height="20"></td></tr>
                            <tr> 
                                <td colspan="2" align="center" style="text-align:center; padding-top: 0;padding-bottom:0px;">
                                    <table width="100%" cellspacing="4">
                                        <tr>
                                            <td width="25%" align="center" style="text-align: center;"><a href="https://www.bsn.ru/about/?utm_source=bsn&utm_medium=email&utm_campaign={$date}" style="font-size: 24px; color:#1e88e5; text-decoration: underline;">Рћ РїСЂРѕРµРєС‚Рµ</a></td>
                                            <td width="25%" align="center"style="text-align: center;"><a href="https://www.bsn.ru/contacts/?utm_source=bsn&utm_medium=email&utm_campaign={$date}" style="font-size: 24px; color:#1e88e5; text-decoration: underline;">РљРѕРЅС‚Р°РєС‚С‹</a></td>
                                            <td width="25%" align="center" style="text-align: center;"><a href="https://www.bsn.ru/advertising/?utm_source=bsn&utm_medium=email&utm_campaign={$date}" style="font-size: 24px; color:#1e88e5; text-decoration: underline;">Р РµРєР»Р°РјР°</a></td>
                                            <td width="25%" align="center" style="text-align: center;"><a href="https://www.bsn.ru/news/blog/?utm_source=bsn&utm_medium=email&utm_campaign={$date}" style="font-size: 24px; color:#1e88e5; text-decoration: underline;">Р‘Р»РѕРі</a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr><td colspan="2" height="20"></td></tr>
                            <tr> 
                                <td colspan="2" align="center" style="text-align:center; padding-top: 0;">
                                    <table width="100%" cellspacing="4">
                                        <tr>
                                            <td width="10%"></td>
                                            <td width="10%"></td>
                                            <td width="10%" align="center" style="text-align: center;"><a href="//vk.com/bsn_ru" title="BSN.ru РІРѕ Р’РєРѕРЅС‚Р°РєС‚Рµ" style="width:32px; height:30px;"  border="0"><img src="//st1.bsn.ru/img/layout/mailer/vk.png" alt="BSN.ru РІРѕ Р’РєРѕРЅС‚Р°РєС‚Рµ" border="0" /></a></td>
                                            <td width="10%" align="center" style="text-align: center;"><a href="//www.youtube.com/channel/UCs-JHz_clECjieYwzi0irMw" title="BSN.ru РІ Youtube" style="width:32px; height:30px;"  border="0"><img src="//st1.bsn.ru/img/layout/mailer/yt.png" alt="BSN.ru РІ Youtube" border="0" /></a></td>
                                            <td width="10%" align="center" style="text-align: center;"><a href="//t.me/bsn_ru" title="BSN.ru РІ Telegram" style="width:32px; height:30px;"  border="0"><img src="https://st1.bsn.ru/img/layout/mailer/tg.png" alt="BSN.ru РІ Telegram" border="0" /></a></td>
                                            <td width="10%"></td>
                                            <td width="10%"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr><td colspan="2" height="20"></td></tr>
                        </table>  
                    </td>
                </tr>
            </table>
        </td>
    </tr>
     <tr height="20"><td></td></tr>
</table>
</center>
</body>
</html>