{include /modules/mailers/templates/simple.header.html}
<tr> <!-- content - title -->
    <td valign="top" style="border-collapse:collapse; padding:20px 0; font-size:30px; line-height: 36px;" align="left"> 
    Добрый день! Отправка новостей ВК провалена. Разберитесь!   
    </td>
</tr>
<tr>
    <td>
        Для восстановления токена пройдите сначала по <a href="https://www.bsn.ru//cron/mailers/sent_news_vk.php?get_code=1">ссылке</a> , далее скопируйте код и вставьте в форму по <a href="https://www.bsn.ru//cron/mailers/sent_news_vk.php?get_token=1">ссылке</a>
    </td>
</tr>
{include /modules/mailers/templates/simple.footer.html}
                            