{include /modules/mailers/templates/simple.header.html}

    <tr> <!-- content - title -->
        <td valign="top" style="border-collapse:collapse; padding:20px 0; font-size:30px; line-height: 36px;" align="left"> 
        Поздравляем! <br /> Вы стали участником вебинара, <b>Стасильдо</b>!    
        </td>
    </tr>
    <tr> <!-- content - text -->
        <td valign="top" style="border-collapse:collapse; padding:20px 0; font-size: 18px; line-height: 30px;" align="left"> 
            Вы получили это письмо, потому что зарегистрировались на вебинар <i>«Как безопасно купить жилье или подводные камни сделок с недвижимостью»</i>.<br /><br /> 
            Напоминаем, что вебинар состоится сегодня, 9 апреля, в 18:00.   
        </td>
    </tr>
  
{include /modules/mailers/templates/simple.footer.html}
                            