<h1 class="pageTitle">Управление пользователями</h1>
<ul class="widgetlist">
    <li>
        <a href="/admin/access/users/" title="Управление пользователями">
            <img src="/admin/img/icon_users_64.png" alt="Users Icon">
            <span>Управление пользователями</span>
        </a>
    </li>
    <li>
        <a href="/admin/access/users_groups/" title="Управление групами">
            <img src="/admin/img/icon_groups_64.png" alt="Groups Icon">
            <span>Управление групами</span>
        </a>
    </li>
    <li>
        <a href="/admin/access/agencies/" title="Управление агентствами">
            <img src="/admin/img/icon_agencies_64.png" alt="Agencies Icon">
            <span>Управление агентствами</span>
        </a>
    </li>
</ul>
<div class="separator-15">&nbsp;</div>
<p>В этом модуле реализованы инструменты управления группами пользователей и пользователями</p>