<h1 class="pageTitle">Промо-коды / Использованные</h1>
{if!empty $results['delete']}
    {iflt $results['delete'];0}
        <div class="notification msgerror">
            <a class="close">Close</a>
            Ошибка. Удаление элемента не выполнено.
        </div>
    {else}
        <div class="notification msgsuccess">
            <a class="close">Close</a>
            Удаление элемента #{$results['delete']} произведено успешно.
        </div>
    {/if}
{/if}

<div class="list_table">
    <script type="text/javascript">
        function filter_activate(){
            var __filter_category = document.getElementById('f_category').options[document.getElementById('f_category').selectedIndex].value;
            var __url = '{root:/admin/access/users/promocodes/used/}';
            var __get = new Array();
            if(__filter_category!=0) __get.push('f_category='+__filter_category);
            if(__get.length>0) __url = __url+'?'+__get.join('&');
            document.location.href = __url;
        }
    </script>
    
    <div class="filter_line">
        <label>
            Категория:
            <select id="f_category" onchange="filter_activate()" style="width: 150px;">
                <option value="0">все</option>
                {loop $categories,$key,$val}
                    <option value="{$val['id']}"{ifeq $get_array['f_category'],$val['id']} selected="selected"{/if}}>{$val['title']}</option>
                {/loop $categories}
            </select>
        </label>
    </div>
    {if!empty $list}
        <table>    
            <colgroup>
                <col class="col2" width="5%">
                <col class="col2" width="65%">
                <col class="col2" width="15%">
                <col class="col2" width="10%">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Заголовок</th>
                    <th>Код</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                {loop $list,$key,$item}
                    <tr id="item_{$item['id']}">
                        <td>{$item['id']}</td>
                        <td>{$item['title']}</td>
                        <td>{$item['код']}</td>
                        <td>{php:echo date('d.m.Y H:i:s',strtotime($item['date_end']))}</td>
                    </tr>
                {/loop $list}
            </tbody>
        </table>
        {include /admin/templates/table_paginator.html}
    {else}
        <p style="padding:30px;">Запрошенные данные не найдены</p>
    {/if}
</div>