<h1 class="pageTitle">Кредитный калькулятор </h1>
{if!empty $results['delete']}
    {iflt $results['delete'];0}
        <div class="notification msgerror">
            <a class="close">Close</a>
            Ошибка. Удаление элемента не выполнено.
        </div>
    {else}
        <div class="notification msgsuccess">
            <a class="close">Close</a>
            Удаление элемента #{$results['delete']} произведено успешно.
        </div>
    {/if}
{/if}
<div class="caption_line"><a href="/admin/advert_objects/credit_calculator/add/" class="button">Добавить запись</a></div>
<div class="list_table">
    <script type="text/javascript">
        function filter_activate(){
            var __filter_title = document.getElementById('f_title').value;
            var __filter_status = document.getElementById('f_status').value;
            var __url = '{root:/admin/advert_objects/credit_calculator/}';
            var __get = new Array();
            if(__filter_title!='') __get.push('f_title='+__filter_title);
            if(__filter_status!='') __get.push('f_status='+__filter_status);
            if(__get.length>0) __url = __url+'?'+__get.join('&');
            document.location.href = __url; 
        }
    </script>
    
    <div class="filter_line">
        <label>
            Заголовок:
            <input type="text" id="f_title" value="{$get_array['f_title']}" onchange="filter_activate()"  placeholder="часть заголовка">
        </label>
        <label>
            Статус:
            <select id="f_status" onchange="filter_activate()" style="width: 150px;">
                {loop $statuses,$key,$val}
                    <option value="{$key}"{ifeq $get_array['f_status'],$key} selected="selected"{/if}>{$val}</option>
                {/loop $statuses}
            </select>
        </label>
    </div>
    {if!empty $list}
        <table>    
            <colgroup>
                <col class="col1" width="1%">
                <col class="col2" width="15%">
                <col class="col2" width="15%">
                <col class="col1" width="15%">
                <col class="col2" width="15%">
                <col class="col1" width="5%">
                <col class="col2" width="5%">
                <col class="col1" width="5%">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Блок</th>
                    <th>Банк</th>
                    <th>Даты</th>
                    <th>Стат-ка сегодня</th>
                    <th>Стат-ка все время</th>
                    <th>Ссылка на переход</th>
                    <th>Ссылка на пиксель</th>                    
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {loop $list,$key,$item}
                    <tr id="item_{$item['id']}">
                        <td>{$item['id']}</td>
                        <td>Недвижимость:<b>{$item['type']}</b><br />{if!empty $item['photo']}<img src="/{$item['photo']}" alt="{quoted:$item['agency_title']}" width="145" /><br />{/if}</td> 
                        <td><a href="/admin/access/agencies/?filter_id_agency={$item['agency_id']}">{$item['agency_title']}</a></td>
                        <td align="center">
                            {php: $class = $item['compare']=='false'?'red':''}
                            <span class="{$class}">
                                старт : {$item['date_start']}<br />
                                оконч: {$item['date_end']}
                            </span>
                        </td>
                        <td align="center" title="показы/клики за день">{$item['cnt_day']} / {$item['cnt_click_day']}</td>
                        <td align="center" title="показы/клики за все время">{$item['cnt_full']} / {$item['cnt_click_full']}</td>
                        <td align="center">
                            {if!empty $item['direct_link']} 
                                <font size="-2" style="text-overflow: ellipsis; overflow:hidden; width:150px; display:block;"><a href="{$item['direct_link']}" title="" target="_blank">{$item['direct_link']}</a></font>
                            {else}
                            -
                            {/if}
                        </td>
                        <td align="center">
                            {if!empty $item['get_pixel']} 
                                <font size="-2" style="text-overflow: ellipsis; overflow:hidden; width:150px; display:block;"><a href="{$item['get_pixel']}" title="" target="_blank">{$item['get_pixel']}</a></font>
                            {else}
                            -
                            {/if}
                        </td>                        
                        <td class="small_icons ac">
                            <a href="/admin/advert_objects/credit_calculator/edit/{$item['id']}/" title="Изменить"><span class="ico_edit">Изменить</span></a>
                            {ifeq $item['published'],3}
                                <a href="/admin/advert_objects/credit_calculator/restore/{$item['id']}/" title="Восстановить"><span class="ico_restore">Восстановить</span></a>
                            {else}
                                <a href="/admin/advert_objects/credit_calculator/archive/{$item['id']}/" title="В архив"><span class="ico_archive">В архив</span></a>                            {/if}
                            <a href="/admin/advert_objects/credit_calculator/stats/{$item['id']}/" title="Статистика баннера"><span class="ico_stats">Статистика баннера</span></a>
                        </td>
                    </tr>
                {/loop $list}
            </tbody>
        </table>
        {include /admin/templates/table_paginator.html}
    {else}
        <p style="padding:30px;">Запрошенные данные не найдены</p>
    {/if}
</div>