<div class="block-6">
    <span class="title">Сайт Федеральной налоговой службы РФ</span>
    <span class="external-link button blue" title="Перейти на сайт ФНС" data-link="www.egrul.nalog.ru">Перейти на сайт ФНС</span>
    <div class="content">
        
        <h2>Полезные разделы</h2>
        
        <div class="blue-wrap br3">
            <span class="external-link button white" data-link="https://egrul.nalog.ru/">Перейти в раздел</span>
            Сведения о государственной регистрации юридических лиц, индивидуальных предпринимателей, крестьянских (фермерских) хозяйств
            <span class="text">В разделе можно по наименованию юридического лица получить информацию о его регистрации </span>
        </div>
    </div>
    
</div>