<div class="block-10">
    <span class="title">Сайт Федеральной службы судебных приставов РФ</span>
    <span class="external-link button blue" title="Перейти на сайт службы" data-link="http://fssprus.ru/">Перейти на сайт службы</span>
    <div class="content">
        
        <h2>Полезные разделы</h2>
        
        <div class="blue-wrap br3">
            <span class="external-link button white" data-link="http://fssprus.ru/iss/ip">Перейти в раздел</span>
            Банк данных исполнительных производств
            <span class="text">В разделе по названию юридического лица можно получить информацию о наличии исполнительного производства в отношении застройщика</span>
        </div>
    </div>
    
</div>