<div class="block-15">
    <span class="title">Сайт Комиссии по недвижимости Общества потребителей Санкт-Петербурга и Ленобласти</span>
    <span class="external-link button blue" title="Перейти на сайт комиссии" data-link="http://stroyproblem.net/">Перейти на сайт Комиссии</span>
    <div class="content">
        <div class="simple-text">
            На сайте Комиссии по недвижимости Общества потребителей СПб и ЛО представлены «Шпаргалка для дольщика» и пошаговые инструкции, позволяющие потенциальному покупателю жилья сориентироваться в выборе застройщика, оценить качество представленного им договора, а также правильно принять квартиру в новостройке. Кроме того, здесь есть полезные материалы по защите прав потребителя – от покупки жилья до управления многоквартирным домом, а также сервис «Вопрос-ответ» для онлайн-общения с юристами Комиссии по недвижимости.        </div>
    </div>
    
</div>