<div class="block-11">
    <span class="title">Сайт Центрального банка России</span>
    <span class="external-link button blue" title="Перейти на сайт ЦБ РФ" data-link="http://www.cbr.ru">Перейти на ЦБ РФ</span>
    <div class="content">
        
        <h2>Полезные разделы</h2>
        
        <div class="blue-wrap br3">
            <span class="external-link button white" data-link="http://www.cbr.ru/finmarkets/?PrtId=sv_insurance">Перейти в раздел</span>
             Финансовые рынки
            <span class="text">В подразделе «Надзор за участниками финансовых рынков» в части «Субъекты страхового дела» можно найти постоянно обновляемый «Список страховщиков, соответствующих требованиям 214-ФЗ и иным нормативным актам Банка России» и уточнить, входит ли в него страховая компания, с которой застройщик заключил договор.</span>
        </div>
    </div>
    
</div>