<div class="block-7">
    <span class="title">Сайт Управления Росреестра по Санкт-Петербургу</span>
    <span class="external-link button blue" title="Перейти на сайт управления" data-link="https://rosreestr.ru/">Перейти на сайт управления</span>
    <div class="content">
        
        <h2>Полезные разделы</h2>
        
        <div class="blue-wrap br3">
            <span class="external-link button white" data-link="https://rosreestr.ru/site/fiz/poluchit-svedeniya-iz-egrn/">Перейти в раздел</span>
            Получение сведений из Единого государственного реестра недвижимости
            <span class="text">В разделе можно получить информацию о правообладателе земельного участка, о категории земель, виде разрешенного использования, площади земельных участков, о переходе прав на объект недвижимости, о кадастровом плане территории и пр.</span>
        </div>
    </div>
    
</div>