<header class="bg-cover">
    <h1>Навигатор участника долевого строительства в Санкт-Петербурге</h1>
    <div class="bottom-wrap">
        <div class="content flex">
            <span class="title">Разработан:</span>
            <span class="logo komissiya"></span>
            <span class="logo bsn"></span>
        </div>
    </div>
</header>

<div class="content-wrapper clearfix">
    <div class="item transition br3 shadow-hover block-1" data-location="block-1">
        <span class="bg"></span>
        <span class="title">Сайт строительной компании</span>
    </div>

    <div class="item transition br3 shadow-hover block-2" data-location="block-2">
        <span class="bg"></span>
        <span class="title">Сайт Комитета по строительству Санкт-Петербурга</span>
    </div>

    <div class="item transition br3 shadow-hover block-3" data-location="block-3">
        <span class="bg"></span>
        <span class="title">Сайт Службы государственного строительного надзора и экспертизы Санкт-Петербурга</span>
    </div>

    <div class="item transition br3 shadow-hover block-4" data-location="block-4">
        <span class="bg"></span>
        <span class="title">Сайт Комитета имущественных отношений Санкт-Петербурга</span>
    </div>

    <div class="item transition br3 shadow-hover block-5" data-location="block-5">
        <span class="bg"></span>
        <span class="title">Сайт Управления Роспотребнадзора по Санкт-Петербургу</span>
    </div>

    <div class="item transition br3 shadow-hover block-6" data-location="block-6">
        <span class="bg"></span>
        <span class="title">Сайт Федеральной налоговой службы РФ</span>
    </div>

    <div class="item transition br3 shadow-hover block-7" data-location="block-7">
        <span class="bg"></span>
        <span class="title">Сайт Управления Росреестра по Санкт-Петербургу</span>
    </div>

    <div class="item transition br3 shadow-hover block-8" data-location="block-8">
        <span class="bg"></span>
        <span class="title">Сайт Арбитражного суда Санкт-Петербурга и Лен. области</span>
    </div>

    <div class="item transition br3 shadow-hover block-9" data-location="block-9">
        <span class="bg"></span>
        <span class="title">Сайты районных и городского судов Санкт-Петербурга</span>
    </div>

    <div class="item transition br3 shadow-hover block-10" data-location="block-10">
        <span class="bg"></span>
        <span class="title">Сайт Федеральной службы судебных приставов РФ</span>
    </div>

    <div class="item transition br3 shadow-hover block-11" data-location="block-11">
        <span class="bg"></span>
        <span class="title">Сайт Центрального банка России</span>
    </div>

    <div class="item transition br3 shadow-hover block-12" data-location="block-12">
        <span class="bg"></span>
        <span class="title">Сайты банков, сотрудничающих с застройщиком</span>
    </div>

    <div class="item transition br3 shadow-hover block-13" data-location="block-13">
        <span class="bg"></span>
        <span class="title">Тематические СМИ и порталы</span>
    </div>

    <div class="item transition br3 shadow-hover block-14" data-location="block-14">
        <span class="bg"></span>
        <span class="title">Форумы и социальные сети</span>
    </div>

    <div class="item transition br3 shadow-hover block-15" data-location="block-15">
        <span class="bg"></span>
        <span class="title">Сайт Комиссии по недвижимости Общества потребителей Санкт-Петербурга и Ленобласти</span>
    </div>

</div>