<div class="letters-list_block">
<div class="dictionary-letters">
    {if!empty $letters_ru}
        {if!empty $letter_current}
            {loop $letters_ru,$lk,$letter}
                {ifeq $letter,$letter_current}
                    <span>{$letter}</span>
                {else}
                    <a href="/service/information/dictionary/{$l_subst_ru[$lk]}/" title="{$letter}">{$letter}</a>
                {/if}
            {/loop $letters_ru}
        {else}
            {loop $letters_ru,$lk,$letter}
                <a href="/service/information/dictionary/{$l_subst_ru[$lk]}/" title="{$letter}">{$letter}</a>
            {/loop $letters_ru}
        {/if}
    {/if}
</div>    
<div class="dictionary-letters">
    {if!empty $letters_en}
        {if!empty $letter_current}
            {loop $letters_en,$lk,$letter}
                {ifeq $letter,$letter_current}
                    <span>{$letter}</span>
                {else}
                    <a href="/service/information/dictionary/{$letter}/" title="{$letter}">{$letter}</a>
                {/if}
            {/loop $letters_en}
        {else}
            {loop $letters_en,$lk,$letter}
                <a href="/service/information/dictionary/{$letter}/" title="{$letter}">{$letter}</a>
            {/loop $letters_en}
        {/if}
    {/if}
</div>
</div>