<h1 class="pageTitle">Конкурсы | {$konkurs_title} </h1>
{if!empty $results['delete']}
    {iflt $results['delete'];0}
        <div class="notification msgerror">
            <a class="close">Close</a>
            Ошибка. Удаление элемента не выполнено.
        </div>
    {else}
        <div class="notification msgsuccess">
            <a class="close">Close</a>
            Удаление элемента #{$results['delete']} произведено успешно.
        </div>
    {/if}
{/if}
<div class="caption_line"><a href="/admin/service/konkurs/{$konkurs_url}/add/" class="button">Добавить запись</a></div>
<div class="list_table">
    <span style="display:none" id="konkurs_url">{$konkurs_url}</span>
    <script type="text/javascript">
        function filter_activate(){
            var konkurs_url=document.getElementById('konkurs_url').innerHTML;
            var __filter_title = document.getElementById('f_title').value;
            var __filter_category = document.getElementById('f_category').value;
            var __filter_status = document.getElementById('f_status').value;
            var __url = '{root:/admin/service/konkurs/'+konkurs_url+'/}';
            var __get = new Array();
            if(__filter_title!='') __get.push('f_title='+__filter_title);
            if(__filter_category>0) __get.push('f_category='+__filter_category);            
            if(__filter_status>0) __get.push('f_status='+__filter_status);			
            if(__get.length>0) __url = __url+'?'+__get.join('&');
            document.location.href = __url;
        }
    </script>
    
    <div class="filter_line">
        <label>
            Название:
            <input type="text" id="f_title" value="{$get_array['f_title']}" onchange="filter_activate()"  placeholder="часть заголовка">
        </label>
        <label>
            Категория :
            <select id="f_category" onchange="filter_activate()" style="width: 150px;">
                    <option value="">Все</option>
                {loop $categories,$key,$val}
                    <option value="{$val['id']}"{ifeq $get_array['f_category'],$val['id']} selected="selected"{/if}>{$val['title']}</option>
                {/loop $categories}
            </select>
        </label>    
        <label>
            Статус (видимость) :
            <select id="f_status" onchange="filter_activate()" style="width: 150px;">
                    <option value="">Все</option>
                    <option value="1" {ifeq $get_array['f_status'],1} selected="selected"{/if}>Активные</option>
                    <option value="2" {ifeq $get_array['f_status'],2} selected="selected"{/if}>Не активные</option>
            </select>
        </label>    
    </div>
    {if!empty $list}
        <div style="padding: 10px;font-weight: bold;text-align: right;">Всего голосов: {$list[0]['total_votes']}</div>
        <table>    
            <colgroup>
                <col class="col1" width="5%">
                <col class="col2" width="40%">
                <col class="col1" width="30%">
                <col class="col1" width="10%">
                <col class="col2" width="15%">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Категория</th>
                    <th>Кол-во голосов</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {loop $list,$key,$item}
                    <tr id="item_{$item['id']}">
                        <td>{$item['id']}</td>
                        <td {ifeq $item['status'],2}style="opacity:.5;"{/if}>
                            {if!empty $item['photo']}
                                <img src="{static:/}{$img_folder}/sm/{$item['subfolder']}/{$item['photo']}" alt="{quoted:$item['title']}">
                            {/if}
                            {$item['title']}
                        </td>
                        <td {ifeq $item['status'],2}style="opacity:.5;"{/if}>{$item['category_title']}</td>
                        <td {ifeq $item['status'],2}style="opacity:.5;"{/if}>{$item['amount']}</td>
                        <td class="small_icons ac">
                            <a href="/admin/service/konkurs/{$konkurs_url}/edit/{$item['id']}/" title="Изменить"><span class="ico_edit">Изменить</span></a>
                            <a href="/admin/service/konkurs/{$konkurs_url}/del/{$item['id']}/" title="Удалить"><span class="ico_del">Удалить</span></a>
                        </td>
                    </tr>
                {/loop $list}
            </tbody>
        </table>
        {include /admin/templates/table_paginator.html}
    {else}
        <p style="padding:30px;">Запрошенные данные не найдены</p>
    {/if}
</div>