<div class="block-14">
    <span class="title">Форумы и социальные сети</span>
    <div class="content">
        <div class="blue-wrap br3">
            Форумы
            <span class="text">На которых дольщики обмениваются информацией о ходе строительства, впечатлениями от проживания в конкретном жилом комплексе.</span>
        </div> 

        <div class="list clearfix">

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="domkontrol.ru"></span>
                <i data-icon="open_in_new"></i>
                Domkontrol.ru
            </div>           

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="vdolevke.ru"></span>
                <i data-icon="open_in_new"></i>
                Vdolevke.ru
            </div>           

        </div>

        <div class="blue-wrap br3">
            Социальные сети
            <span class="text">Сообщество долщиков конкретных ЖК в социальных сетях</span>
        </div> 

        <div class="list clearfix">

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="vk.com"></span>
                <i data-icon="open_in_new"></i>
                Vkontakte.ru
            </div>           
            
    </div>
</div>