<div class="block-8">
    <span class="title">Сайт Арбитражного суда Санкт-Петербурга и Ленинградской области</span>
    <span class="external-link button blue" title="Перейти на сайт суда" data-link="http://spb.arbitr.ru/">Перейти на сайт суда</span>
    <div class="content">
        
        <h2>Полезные разделы</h2>
        
        <div class="blue-wrap br3">
            <span class="external-link button white" data-link="http://spb.arbitr.ru/welcome/showall/633200029">Перейти в раздел</span>
            Обращения по судебным делам
            <span class="text">В разделе можно выяснить наличие судебных споров с застройщиком, уточнить, находится ли он в состоянии банкротства.</span>
        </div>
    </div>
    
</div>