<div class="block-9">
    <span class="title">Сайт городского суда Санкт-Петербурга</span>
    <span class="external-link button blue" title="Перейти на сайт суда" data-link="https://sankt-peterburgsky--spb.sudrf.ru/">Перейти на сайт суда</span>
    <div class="content">
        
        <h2>Полезные разделы</h2>
        
        <div class="blue-wrap br3">
            <span class="external-link button white" data-link="https://sankt-peterburgsky--spb.sudrf.ru/modules.php?name=sud_delo">Перейти в раздел</span>
            Судебное делопроизводство
            <span class="text">В разделе можно установить наличие судебных споров участников долевого строительства с застройщиком. Информацию о наличии судебных разбирательств можно также узнать на сайтах районных судов</span>
        </div>
    </div>
    
</div>