<div class="block-3">
    <span class="title">Сайт Службы государственного строительного надзора и экспертизы Петербурга </span>
    <span class="external-link button blue" title="Перейти на сайт Комитета" data-link="www.expertiza.spb.ru">Перейти на сайт Комитета</span>
    
    <div class="content">
        <h2>Полезные разделы</h2>
        
        <div class="blue-wrap br3">
            <span class="external-link button white" data-link="http://www.expertiza.spb.ru/checkpermissions">Перейти в раздел</span>
            Электронное приложение «Проверь разрешение!»
            <span class="text">С помощью приложения можно проверить наличие у застройщика разрешения на строительство. </span>
        </div>

        <div class="blue-wrap br3" style="margin-bottom: 0;">
            <span class="external-link button white" data-link="http://www.expertiza.spb.ru/files/static/sud.pdf">Перейти в раздел</span>
            Сервис «Осторожно, самострой!»
            <span class="text">
                Информация о решениях судов по искам Службы государственного
                строительного надзора о сносе объектов самовольного строительства.
                Следует избегать покупки объекта недвижимости с признаками
                «самостроя», так как такие объекты могу быть снесены по решению
                суда, а также могут представлять реальную угрозу для жизни и здоровья граждан. Кроме того, обязанность по сносу «самостроя» может
                быть возложена на его жильцов и собственников.            
            </span>
        </div>        
        
</div>