<div class="block-4">
    <span class="title">Сайт комитета имущественных отношений Санкт-Петербурга</span>
    <span class="external-link button blue" title="Перейти на сайт Комитета" data-link="www.commim.spb.ru">Перейти на сайт Комитета</span>
    <div class="content">
        
        <h2>Полезные разделы</h2>
        
        <div class="blue-wrap br3">
            <span class="external-link button white" data-link="http://www.commim.spb.ru/dejatelnost/zemlya/useful/info-spravizd">Перейти в раздел</span>
            Сведения о спорных объектах 
            <span class="text">В разделе можно уточнить, правомерно ли строительство многоквартирного дома на данном земельном участке</span>
        </div>
    </div>
    
</div>