<div class="block-2">
    <span class="title">Сайт строительной компании</span>
    
    <div class="content">
        <div class="simple-text">Согласно поправкам  к 214-ФЗ о долевом строительстве, с 1 января 2017 года строительные компании должны размещать на своих официальных сайтах следующую информацию:</div>
        
        <ul>
            <li>разрешение на строительство,</li>
            <li>проектную декларацию,</li>
            <li>разрешения на ввод в эксплуатацию объектов капитального строительства
            <span class="grey">, в которых принимал участие застройщик в течение трех лет, предшествующих опубликованию проектной декларации,</span>
            </li>
            <li>аудиторское заключение
            <span class="grey">за последний год осуществления застройщиком предпринимательской деятельности,</span>
            </li>
            <li>заключение экспертизы проектной документации
            <span class="grey">(если проведение такой экспертизы установлено федеральным законом),</span>
            </li>
            <li>документы, подтверждающие права застройщика на земельный участок,
            <li>заключение уполномоченного органа
            <span class="grey">о соответствии застройщика и проектной декларации установленным требованиям (для проектов, первый договор по которым заключен после 1 января 2017 года),</span>
            </li>
            <li>проект договора участия в долевом строительстве,
            <li>способы обеспечения исполнения обязательств
            <span class="grey">по договору участия в долевом строительстве, выбранные застройщиком,</span>
            </li>
            <li>договор поручительства с застройщиком,</li>
            <li>фотографии, отражающие ход строительства.</li>

        

        </ul>  
        
</div>