<div class="block-13">
    <span class="title">Тематические СМИ и Порталы</span>
    <div class="content">
        <div class="blue-wrap br3">
            Сайты специализированных СМИ
        </div> 

        <div class="list clearfix">

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="http://nsp.ru/"></span>
                <i data-icon="open_in_new"></i>
                Недвижимость и строительство Петербурга
            </div>           

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="https://asninfo.ru/"></span>
                <i data-icon="open_in_new"></i>
                Строительный еженедельник
            </div>           

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="http://ktostroit.ru/"></span>
                <i data-icon="open_in_new"></i>
                Кто строит в Петербурге
            </div>           

        </div>

        <div class="blue-wrap br3">
            Сайты по поиску недвижимости 
        </div> 

        <div class="list clearfix">

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="https://www.bsn.ru"></span>
                <i data-icon="open_in_new"></i>
                Большой сервер недвижимости
            </div>           

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="bn.ru"></span>
                <i data-icon="open_in_new"></i>
                Бюллетень недвижимости
            </div>           

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="bkn.ru"></span>
                <i data-icon="open_in_new"></i>
                Большой каталог недвижимости
            </div>           

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="www.razned.ru"></span>
                <i data-icon="open_in_new"></i>
                Разумная недвижимость
            </div>           

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="restate.ru"></span>
                <i data-icon="open_in_new"></i>
                Restate.ru 
            </div>           

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="spb.cian.ru"></span>
                <i data-icon="open_in_new"></i>
                Spb.cian.ru
            </div>           

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="novostroy-spb.ru"></span>
                <i data-icon="open_in_new"></i>
                Novostroy-spb.ru
            </div>           

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="novostroy.su"></span>
                <i data-icon="open_in_new"></i>
                Novostroy.su
            </div>           

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="spbnovostroyka.ru"></span>
                <i data-icon="open_in_new"></i>
                Spbnovostroyka.ru
            </div>           

            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="spbguru.ru"></span>
                <i data-icon="open_in_new"></i>
                Spbguru.ru
            </div>           
            
    </div>
</div>