<div class="block-5">
    <span class="title">Сайт Управления  Роспотребнадзора по Санкт-Петербургу</span>
    <span class="external-link button blue" title="Перейти на сайт управления" data-link="www.78.rospotrebnadzor.ru">Перейти на сайт управления</span>
    <div class="content">
        
        <h2>Полезные разделы</h2>
        
        <div class="blue-wrap br3">
            <span class="external-link button white" data-link="http://78.rospotrebnadzor.ru/588;jsessionid=45635858B3282D94D366C84534A3BDC5">Перейти в раздел</span>
            Судебные решения 
            <span class="text">В разделе можно  проверить наличие судебных решений в отношении застройщика по искам Управления Роспотребнадзора</span>
        </div>
    </div>
    
</div>