<div class="block-2">
    <span class="title">Сайт Комитета по строительству Санкт-Петербурга</span>
    <span class="external-link button blue" title="Перейти на сайт Комитета" data-link="http://gov.spb.ru/gov/otrasl/komstroy/">Перейти на сайт Комитета</span>
    
    <div class="content">
        <h2>Полезные разделы</h2>
        
        <div class="blue-wrap br3">
            <span class="external-link button white" data-link="http://gov.spb.ru/gov/otrasl/komstroy/dolevoe-stroitelstvo/">Перейти в раздел</span>
            Долевое строительство
            <span class="text">В этом разделе можно узнать следующую информацию:</span>
        </div>
        <div class="list clearfix">
            <div class="item shadow-hover br3 transition">
                <span class="external-link" data-link="http://gov.spb.ru/gov/otrasl/komstroy/dolevoe-stroitelstvo/"></span>
                <i data-icon="open_in_new"></i>
                Реестр дольщиков, чьи права нарушены
                <span class="text">С помощью реестра можно выяснить, существуют ли проблемы у застройщика с участниками долевого строительства по конкретному объекту.</span>
            </div>
            <div class="item shadow-hover br3 transition">
                <i data-icon="open_in_new"></i>
                <span class="external-link" data-link="http://gov.spb.ru/gov/otrasl/komstroy/dolevoe-stroitelstvo/"></span>
                Список компаний, допустивших нарушения 214-ФЗ
                <span class="text"> Необходимо проверить, значится ли компания в списке компаний-нарушителей 214-ФЗ о долевом строительстве.</span>
            </div>
            <div class="item shadow-hover br3 transition">
                <i data-icon="open_in_new"></i>
                <span class="external-link" data-link="http://gov.spb.ru/gov/otrasl/komstroy/dolevoe-stroitelstvo/"></span>
                Список застройщиков-банкротов
                <span class="text">Можно узнать, не находится ли застройщик в состоянии банкротства.</span>   
            </div>
            <div class="item shadow-hover br3 transition">
                <i data-icon="open_in_new"></i>
                <span class="external-link" data-link="http://gov.spb.ru/gov/otrasl/komstroy/dolevoe-stroitelstvo/perechen-zastrojshikov-predostavlyayushih-ezhekvartalnuyu-otchetnost-v/"></span>
                Список застройщиков, работающих по 214-ФЗ
                <span class="text">С помощью перечня можно узнать, по каким объектам застройщик работает в соответствии с 214-ФЗ о долевом строительстве и отчитывается перед Комитетом. </span>
            </div>
            <div class="item shadow-hover br3 transition">
                <i data-icon="open_in_new"></i>
                <span class="external-link" data-link="http://gov.spb.ru/gov/otrasl/komstroy/current_activities/check_result"></span>
                Информация о результатах плановых и внеплановых проверок
                <span class="text">В разделе можно узнать результаты проведенных Комитетом проверок за несколько лет.</span>
            </div>
        </div>
        
        <div class="blue-wrap br3" style="margin-bottom: 0;">
            <span class="external-link button white" data-link="http://gov.spb.ru/gov/otrasl/komstroy/news/">Перейти в раздел</span>
            Новости
            <span class="text">В этом разделе можно выяснить, рассматривались ли строящиеся объекты застройщика на совещаниях по проблемным объектам.</span>
        </div>        
        
</div>