{include /modules/mailers/templates/simple.header.html}
<tr> <!-- content - title -->
    <td valign="top" style="border-collapse:collapse; padding:20px 0; font-size:24px; line-height: 26px;" align="left"> 
    Здравствуйте!
    </td>
</tr>
<tr> <!-- content - text -->
    <td valign="top" style="border-collapse:collapse; padding:20px 0; font-size:18px; line-height: 20px;" align="left"> 
        Появился новый комментарий.<br /><br />
        Отредактировать его можно перейдя по <a href="https://www.bsn.ru/admin/content/comments/edit/{$id}/" >ссылке</a><br /><br />
        Приятной работы.  
    </td>
</tr>
{include /modules/mailers/templates/simple.footer.html}
                            
