<h1 class="pageTitle">Акции</h1>
{if!empty $results['delete']}
    {iflt $results['delete'];0}
        <div class="notification msgerror">
            <a class="close">Close</a>
            Ошибка. Удаление элемента не выполнено.
        </div>
    {else}
        <div class="notification msgsuccess">
            <a class="close">Close</a>
            Удаление элемента #{$results['delete']} произведено успешно.
        </div>
    {/if}
{/if}
<div class="caption_line">
    <a href="/admin/sale/campaigns/add/" class="button">Добавить запись</a>
</div>
<div class="list_table">
    <script type="text/javascript">
        function filter_activate(){
            var __filter_title = document.getElementById('f_title').value;
            var __filter_agency = document.getElementById('f_agency').value;
            var __filter_published = document.getElementById('f_published').value;
            var __url = '{root:/admin/sale/phones/}';
            var __get = new Array();
            if(__filter_title!='') __get.push('f_title='+__filter_title);
            if(__filter_agency>0) __get.push('f_agency='+__filter_agency);     
            if(__filter_published!=null) __get.push('f_published='+__filter_published);     
            if(__get.length>0) __url = __url+'?'+__get.join('&');
            document.location.href = __url;
        }
    </script>
    
    <div class="filter_line">
        <label>
            Заголовок:
            <input type="text" id="f_title" value="{$get_array['f_title']}" onchange="filter_activate()"  placeholder="часть заголовка">
        </label>
        <label>
            Компания :
            <select id="f_agency" onchange="filter_activate()" style="width: 150px;">
                <option value="0">все</option>
                {loop $agencies,$key,$val}
                    <option value="{$val['id']}"{ifeq $get_array['f_agency'],$val['id']} selected="selected"{/if}>{$val['title']}</option>
                {/loop $agencies}
            </select>
        </label>     
        <label>
            Статус :
            <select id="f_published" onchange="filter_activate()" style="width: 150px;">
                <option value="0">все</option>
                <option value="1" {ifeq $get_array['f_published'],1} selected="selected"{/if}>Активные</option>
                <option value="3" {ifeq $get_array['f_published'],3} selected="selected"{/if}>На модерации</option>
                <option value="2" {ifeq $get_array['f_published'],2} selected="selected"{/if}>В архиве</option>
            </select>
        </label>     
    </div>
    {if!empty $list}
        <table>    
            <colgroup>
                <col class="col1" width="5%">
                <col class="col2" width="80%">
                <col class="col1" width="10%">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {loop $list,$key,$item}
                    <tr>
                        <td>
                            {if!empty $item['campaign_photo']}<img src="/{$item['campaign_photo_folder']}/{$item['campaign_photo']}" alt="{$item['title']}" width="100" />{/if}
                            {$item['id']}
                        </td>
                        <td style="position:relative">
                            <span style="display:block; font-size:18px; font-weight:bold;">{$item['title']}</span>
                            <span style="position:absolute; right:20px; top:2px; font-weight: bold; font-size:11px;">{$item['status_title']}</span>
                            <p style="overflow:hidden; height:40px;">{$item['content_short']}</p>
                            <span style="font-size:14px;">
                                {if!empty $item['campaign_phone']}{$item['campaign_phone']}<br />{/if}
                                <b>
                                    {ifgt $item['time_left'],0} Осталось: {$item['time_left']} дн.
                                    {else} Закончилась:  {$item['end_date']} 
                                    {/if}
                                </b>
                            </span>
                        </td>
                        <td class="small_icons ac">
                            <a href="/admin/sale/campaigns/edit/{$item['id']}/" title="Изменить"><span class="ico_edit">Изменить</span></a>
                            <a href="/admin/sale/campaigns/del/{$item['id']}/" title="Удалить"><span class="ico_del">Удалить</span></a>
                            
                        </td>
                    </tr>
                {/loop $list}
            </tbody>
        </table>
        {include /admin/templates/table_paginator.html}
    {else}
        <p style="padding:30px;">Запрошенные данные не найдены</p>
    {/if}
</div>