<h1>Контакты</h1>
<div class="contacts-wrap central-wrapper clearfix br3">
    <div class="info">
        <div class="address">197046, г. Санкт-Петербург, ул. Большая Посадская, д.16, лит.А, пом.15Н, офис 101, ООО "ПетроСервис"</div>
    
        
        <ul>
            <li class="phone-wrap clearfix">
                
                <span class="phones">
                    <b>+7 (812) 711-13-13</b>
                    <i>пн-пт: 10:00 - 18:00</i>
                </span>
            </li>
            
            <li>
                <span>Отдел продаж:</span> <a href="javascript:void(location.href='mailto:'+String.fromCharCode(115,97,108,101,115,64,98,115,110,46,114,117))">sales@bsn.ru</a></li>
            <li>
                <span>Отдел рекламы и PR:</span> <a href="mailto:pr@bsn.ru" title="">pr@bsn.ru</a></li>
            <li>
                <span>Технический отдел:</span> <a href="mailto:scald@bsn.ru" title="">scald@bsn.ru</a></li>
            <li>
                <span>Финансовый отдел:</span> <a href="mailto:finance@bsn.ru" title="">finance@bsn.ru</a></li>
        </ul>                

    </div>
    
    <script src="//api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"></script>
    <div class="card-map-wrapper" id="card-map-wrapper" data-lat="59.959498" data-lng="30.325803" data-map-icon="contacts" data-title="г. Санкт-Петербург, Новочеркасский проспект, 33к2"></div>
    
</div>
<div class="notice br3"><b>Уважаемые посетители!</b>Обращаем ваше внимание: BSN.ru - это каталог недвижимости, мы не являемся агентством и не сможем проконсультировать вас по объекту. Чтобы получить консультацию по объекту, пожалуйста, обращайтесь в компанию, разместившую объект в нашем каталоге.</div>
{php:$application_title = 'Задать вопрос'}
{include /modules/applications/templates/block.form.fixed.html}