{include /modules/mailers/templates/simple.header.html}
<tr> <!-- content - title -->
    <td valign="top" style="border-collapse:collapse; padding:20px 0; font-size:24px; line-height: 26px;" align="left"> 
    Здравствуйте, {$data['name']}!
    </td>
</tr>
<tr> <!-- content - text -->
    <td valign="top" style="border-collapse:collapse; padding:20px 0; font-size:18px; line-height: 20px;" align="left"> 
        Спасибо за ваше обращение.<br/><br /> 
        Тема: {$themes[$data['theme']]}<br/><br />
        {$data['comment']}<br/><br />
        Мы обязательно с ним ознакомимся в ближайшее время и постараемся ответить.
    </td>
</tr>
{include /modules/mailers/templates/simple.footer.html}
                            