
<article itemscope itemtype="http://schema.org/NewsArticle" class="clearfix col-3 central-main-content br3 " >

    <div class="title{ifeq $item['title_position'],1} position-left{elseifeq $item['title_position'],2} position-right{else} position-center{/if}">
        {include /templates/includes/breadcrumbs.html}
        <h1 itemprop="headline">
            {$item['title']}
        </h1>

        <div class="smallnotes clearfix{ifin $content_type, 'bsntv','doverie'}{if!empty $item['video_link']} wide{/if}{elseifeq $content_type,'blog'} wide{/if}">
            <span class="views_count" data-icon="visibility">{$item['views_count']}</span>
            <span class="comments_count" data-icon="chat_bubble_outline" data-icon="chat_bubble_outline">{$item['comments_count']}</span>
        </div>
    </div>

    
            <div class="registration-wrapper bg-cover lazy" data-src="{static:/}img/uploads/big/{$photos[0]['subfolder']}/{$photos[0]['name']}">
                <div class="wrapper br3">
                    <time >{$item['datebegin']} {if!eq $item['dateend'],''}- {$item['dateend']}{/if}{if!empty $item['time']}, {$item['time']}{/if}</time>
                    <span class="place" data-icon="place" >{$item['city']}, {$item['place']}</span>
                    {ifempty $item['past_event']}
                        {if!empty $item['registration_opened']}
                            <button class="popup" data-url="/calendar/popup/{$item['id']}/" name="submit" value="Стать участником">Стать участником</button>
                        {/if}
                    {/if}
                </div>
            </div>

        

    {if!empty $photos}
        <meta itemprop="url" content="{static:/}img/uploads/big/{$photos[0]['subfolder']}/{$photos[0]['name']}">
        <meta itemprop="width" content="355">
        <meta itemprop="height" content="236">            
    {/if}
    
    <div class="content-wrapper">
        <div class="bigtext clearfix">
            {$item['text']}    
            {if!empty $item['site']}
                <p><span class="external-link" data-link="{$item['site']}" title="{$item['title']}">{$item['site']}</span></p>
            {/if}
            
            <div id="social-buttons-content" data-icon="share">
                <script src="https://yastatic.net/share2/share.js" async="async"></script>
                <div class="ya-share2" data-size="s" data-services="vkontakte,facebook,twitter,odnoklassniki,gplus" data-counter></div>
            </div>
            
        </div>    
    </div>  
    
    {include /modules/comments/templates/init.html}   
    
</article> 

{if!empty $other_events}
    {php:$item = $other_events;}
    <div id="content-item">{include /modules/calendar_events/templates/custom_block.html}</div>
{/if}