<h1 class="pageTitle">Статистика</h1>
<ul class="widgetlist">
    <li>
        <a href="/admin/service/stats/billing/" title="Биллинг рекламных агентств">
            <span>Биллинг рекламных агентств</span>
        </a>
    </li>
    <li>
        <a href="/admin/service/stats/billing/2/" title="Биллинг агентств">
            <span>Биллинг агентств</span>
        </a>
    </li>
    <li>
        <a href="/admin/service/stats/varcount/" title="Количество варинатов в БД">
            <span>Количество варинатов в БД</span>
        </a>
    </li>
    <li>
        <a href="/admin/service/stats/phones/" title="Клики по телефонам">
            <span>Клики по телефонам</span>
        </a>
    </li>
    <li>
        <a href="/admin/service/stats/favorites/" title="Количество объектов в избранном">
            <span>Количество объектов в избранном</span>
        </a>
    </li>
</ul>
<div class="separator"></div>
