{include /templates/includes/main_head_part.html}
<body id="doverie-page">
    <meta property="og:title" content="{$info['title']}">
    <meta content="{stripall:$info['text_begin_top']}" property="og:description">
    <img src="https://www.bsn.ru/img/layout/doverie-konkurs-mp.png" style="display: none;" />
    <div class="topmenu-navigator">
        {include /templates/includes/topmenu.html}
    </div>

    {$content}
    <div id="social-buttons-content" style="margin: 20px auto; text-align: center;">
        <script src="https://yastatic.net/share2/share.js" async="async"></script>
        <div style="margin: 20px auto; border: none;" class="ya-share2" data-size="m" data-services="vkontakte,facebook,twitter,odnoklassniki,gplus" data-counter></div>
    </div>
    <footer>
        © {php:echo date('Y')} Комиссия по работе с потребителями рынка недвижимости, BSN.RU
    </footer>
    
    {php:$only_counters=true}
    {include /templates/includes/main_footer_part.html}

</body>
</html>