
<header class="bg-cover dk-{php:echo mt_rand(1,2)}">
    <div class="mainlogo"></div>
</header>
<div class="sponsors central-column">
    <h2 class="text-center sponsors__title">Организаторы конкурса</h2>
    <div class="sponsors__list">
        <div class="sponsors__item">
            <img src="/modules/konkurs_doverie/img/centr_po_rabote_s_potrebiteljami_logo_4_01-qk2wr8anhuc18ugp31uxelkoc69ozs8380mah09zhy.jpg" alt="" class="sponsors__img">
            <span class="sponsors__text">Учредитель АНО "Центр по работе с потребителями недвижимости</span>
        </div>
        <div class="sponsors__item">
            <img src="/modules/konkurs_doverie/img/new-bsn-logo.png" alt="" class="sponsors__img">
            <span class="sponsors__text">Соорганизатор BSN.RU - Большой Сервер Недвижимости</span>
        </div>
        <div class="sponsors__item">
            <img src="/modules/konkurs_doverie/img/gud-logo.png" alt="" class="sponsors__img">
            <span class="sponsors__text">При участии НП "Российская гильдия управляющих и девелоперов"</span>
        </div>
    </div>

    <h2 class="text-center sponsors__title">При поддержке</h2>
    <div class="sponsors__list">
        <div class="sponsors__item">
            <img src="/modules/konkurs_doverie/img/coat_of_arms_of_saint_petersburg_2003.svg-1.png" alt="" class="sponsors__img">
            <span class="sponsors__text">Правительство Санкт-Петербурга</span>
        </div>
        <div class="sponsors__item">
            <img src="/modules/konkurs_doverie/img/coat_of_arms_of_leningrad_oblast.svg.png" alt="" class="sponsors__img">
            <span class="sponsors__text">Правительство Ленинградской области</span>
        </div>
    </div>


</div>
<div class="central-column clearfix categories-list">
    {if!empty $konkurs_status}

        <h2 class="inner">Номинации</h2>
        {if!empty $list}
            {php:$category = "";}
            {php:$voted_titles = array();}
                <div class="clearfix flex konkurs-wrapper">

                    {php:$count=1;}
                    {loop $list,$k,$item}
                        {if!eq $category, $item['category_title']}
                            <div class="item col-1 transition br3 shadow-hover {if!eq $item['can_vote'],1}voted{else}none-voted {/if}" data-all-votes="{php: echo (!empty($item['all_votes']))?$item['all_votes']:0}" data-location="vote-{$item['id_category']}" data-url="/{$current_page['requested_path']}/{$item['id_category']}/" data-id="{$item['id_category']}">
                                <div class="bg br3 transition">
                                        <span class="button white">Голосовать</span>
                                        <span class="voted-for">Вы отдали свой голос за: <b>{$item['title']}</b></span>
                                </div>
                                <div class="title">
                                    {$item['category_title']}
                                </div>
                            </div>
                            {php:++$count}
                            {php:$category = $item['category_title'];}
                        {/if}
                    {/loop $list}
                </div>
        {/if}
        {if!empty $info['text_begin_top']}
            <div class="konkurs-clauses clearfix inner">{$info['text_begin_top']}</div>
        {/if}
        {if!empty $info['text_begin_bottom']}
            <div class="konkurs-clauses clearfix inner">{$info['text_begin_bottom']}</div>
        {/if}
    {else}
        <div class="konkurs-clauses clearfix inner">{$info['text_end']}</div>
    {/if}



</div>
<form action="{$url}" id="konkurs-vote">
    <input type="hidden" name="recaptcha_response"  id="recaptcha" data-public="{php:echo Config::Get('recaptcha/public')}">
</form>
<script src="https://www.google.com/recaptcha/api.js?render={php:echo Config::Get('recaptcha/public')}"></script>