{include /modules/mailers/templates/simple.header.html}

    <tr> <!-- content - title -->
        <td valign="top" style="border-collapse:collapse; padding:20px 0; font-size:30px; line-height: 36px;" align="left"> 
            Здравствуйте, {$item['name']}{if!empty $item['lastname']} {$item['lastname']}{/if}! <br /><br />
        </td>
    </tr>
    <tr> <!-- content - text -->
        <td valign="top" style="border-collapse:collapse; padding:20px 0; font-size: 18px; line-height: 30px;" align="left"> 
            Действие тарифа "{$item['title']}" приостановлено. <br />
            Все объекты автоматически перенесены в архив.<br /><br />

            Чтобы избежать приостановки тарифа, рекомендуем пополнять баланс заранее.<br />

            Приятной работы.
        </td>
    </tr>
  
{include /modules/mailers/templates/simple.footer.html}
                            