<div class="estate-catalog clearfix">
    <div class="item bbox transition before-abs br3 live-sell">
        <a href="/live/sell/" title="Продажа жилой недвижимости" class="title">Купить квартиру</a>
        <a href="/live/sell/flats/rooms-0/" title="Продажа квартиры-студии">Студии</a>
        <a href="/live/sell/flats/rooms-1/" title="Продажа однокомнатной квартиры">1-комнатные</a>
        <a href="/live/sell/flats/rooms-2/" title="Продажа двухкомнатной квартиры">2-комнатные</a>
        <a href="/live/sell/flats/rooms-3/" title="Продажа трехкомнатной квартиры">3-комнатные</a>
        <a href="/live/sell/rooms/" title="Продажа комнат">Комнаты в квартире</a>
    </div>
    <div class="item bbox transition before-abs br3 live-rent">
        <a href="/live/rent/" title="Аренда жилой недвижимости" class="title">Снять квартиру</a>
        <a href="/live/rent/flats/rooms-0/" title="Аренда квартиры-студии">Студии</a>
        <a href="/live/rent/flats/rooms-1/" title="Аренда однокомнатной квартиры">1-комнатные</a>
        <a href="/live/rent/flats/rooms-2/" title="Аренда двухкомнатной квартиры">2-комнатные</a>
        <a href="/live/rent/flats/rooms-3/" title="Аренда трехкомнатной квартиры">3-комнатные</a>
        <a href="/live/rent/rooms/" title="Аренда комнат">Комнаты в квартире</a>
    </div>
    <div class="item bbox transition before-abs br3 build">
        <a href="/build/" title="Продажа квартир в новостройках СПб" class="title">Новостройки</a>
        <a href="/zhiloy_kompleks/" title="Жилые комплексы Санкт-Петербурга">Жилые комплексы</a>
        <a href="/build/novostroyki_gotovie/" title="Продажа квартир в новостройках СПб в сданных домах">Квартиры в сданных домах</a>
        <a href="/apartments/" title="Апартаменты Санкт-Петербурга">Апартаменты</a>
        <a href="/build/sell/?build_complete=91,92,93,102" title="Продажа квартир в строящихся домах">Строящиеся новостройки</a>
    
    </div>
    <div class="item bbox transition before-abs br3 live-rent-by-the-day">
        <a href="/live/rent/by_the_day/" title="Аренда жилой недвижимости в СПб посуточно" class="title">Снять посуточно</a>
        <a href="/live/rent/flats/by_the_day/" title="Аренда квартиры посуточно">Квартиры посуточно</a>
        <a href="/live/rent/rooms/by_the_day/" title="Аренда комнат посуточно">Комнаты посуточно</a>
    </div>
    <div class="item bbox transition before-abs br3 country">
        <a href="/country/" title="Загородная недвижимость" class="title">Загородная недвижимость</a>
        <a href="/country/sell/buildings/" title="Продажа домов, коттеджей">Купить дом / коттедж</a>
        <a href="/country/sell/land/" title="Продажа земельных участков">Купить участок</a>
        <a href="/country/sell/dacha/" title="Продажа дач">Купить дачу</a>
        <a href="/country/rent/buildings/" title="Аренда домов, коттеджей">Снять дом / коттедж</a>
        <a href="/cottedzhnye_poselki/" title="Продажа коттеджных поселков">Коттеджные поселки</a>
    </div>
    <div class="item bbox transition before-abs br3 commercial">
        <a href="/commercial/" title="Коммерческая недвижимость" class="title">Коммерческая недвижимость</a>
        <a href="/commercial/sell/offices/" title="Продажа офисных помещений">Купить офис</a>
        <a href="/commercial/sell/warehouses/" title="Продажа коммерческих помещений">Купить помещение</a>        
        <a href="/commercial/rent/offices/" title="Аренда офисных помещений">Снять офис</a>
        <a href="/commercial/rent/warehouses/" title="Аренда коммерческих помещений">Снять помещение</a>        
        <a href="/business_centers/" title="Бизнес-центры">Бизнес-центры</a>               
    
    </div>
</div> <!-- .estate-catalog -->