{ifempty $only_counters}
    <footer>
        <div class="row clearfix">
        
            {include /templates/footer.social.html}
            
            <div class="big-links">
                <a href="/about/" title="О проекте">О проекте</a>
                <a href="/contacts/" title="Контакты">Контакты</a>
                <a href="/advertising/" title="Реклама на сайте">Реклама на сайте</a>
            </div>
            
            <div class="links">
                <a href="/news/" title="Новости">Новости</a>
                <a href="/articles/" title="Статьи">Статьи</a>
                <a href="/opinions/" title="Мнения и интервью">Мнения и интервью </a>
                <a href="/service/consultant/" title="Консультант">Консультант</a>
                <a href="/calendar/" title="Календарь событий">Календарь</a>
                <a href="/organizations/" title="Организации рынка недвижимости">Организации</a>
            </div>                     

        </div>
        
        <div class="row clearfix">
            
            <span class="logo svg"></span>
            <div class="about-text">
                1999 - {php:echo date('Y');} &copy; Большой Сервер Недвижимости BSN.RU — информационно-аналитический портал по недвижимости.
                Использование всех материалов сайта, в том числе размещенных объявлений, возможно только с разрешения администрации сайта либо с указанием ссылки на источник.
                <br/>
                <a href="//www.bsn.ru/terms_of_service/" title="Политика конфиденциальности">Политика конфиденциальности</a>
            </div>
        </div> 
        
        <div class="row">
            {include /templates/seolink_box.html}  
        </div>

    </footer>

    
    {if $authorized}
        <form class="auth-form-logoff authorized" name="through_auth_form" method="POST" action="/{$current_page['requested_url']}{if!eq $current_page['requested_url'],''}/{/if}">
            <input type="hidden" name="logoff" value="logoff" />
        </form>    
    {/if}  
    
    
{/if}  
{if!empty $debug}<div id="debug"></div>
{else}

{/if}
{ifempty $debug}
        {ifempty $debug}
            {ifempty $test_mode}
                    <!-- Google Tag Manager (noscript) -->
                    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2XGJGQ"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
                    <!-- End Google Tag Manager (noscript) -->
                   
                    <!-- Yandex.Metrika counter -->
                    <script type="text/javascript">
                        (function (d, w, c) {
                            (w[c] = w[c] || []).push(function() {
                                try {
                                    w.yaCounter21898216 = new Ya.Metrika({
                                        id:21898216,
                                        clickmap:true,
                                        trackLinks:true,
                                        accurateTrackBounce:true,
                                        webvisor:true
                                    });
                                } catch(e) { }
                            });

                            var n = d.getElementsByTagName("script")[0],
                                s = d.createElement("script"),
                                f = function () { n.parentNode.insertBefore(s, n); };
                            s.type = "text/javascript";
                            s.async = true;
                            s.src = "https://mc.yandex.ru/metrika/watch.js";

                            if (w.opera == "[object Opera]") {
                                d.addEventListener("DOMContentLoaded", f, false);
                            } else { f(); }
                        })(document, window, "yandex_metrika_callbacks");
                    </script>
                    <noscript><div><img src="https://mc.yandex.ru/watch/21898216" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                <!-- /Yandex.Metrika counter -->
            {/if}                
            
            {if!empty $fbq}
                <!-- Facebook Pixel Code -->
                <script>
                  !function(f,b,e,v,n,t,s)
                  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                  n.queue=[];t=b.createElement(e);t.async=!0;
                  t.src=v;s=b.getElementsByTagName(e)[0];
                  s.parentNode.insertBefore(t,s)}(window, document,'script',
                  'https://connect.facebook.net/en_US/fbevents.js');
                  fbq('init', '1915455185387754');
                  fbq('track', 'ViewContent', { 
                       content_type: '{$fbq['content_type']}',
                       content_ids: ['{$fbq['content_ids']}'],
                       content_name: '{$fbq['content_name']}',
                       content_category: '{$fbq['content_category']}',
                       value: '{$fbq['value']}',
                       currency: '{$fbq['currency']}'
                  });      
                </script>
                <noscript><img height="1" width="1" style="display:none"
                  src="https://www.facebook.com/tr?id=1915455185387754&ev=PageView&noscript=1"
                /></noscript>
                <!-- End Facebook Pixel Code -->
            {/if}
                
    {/if}
    
    <!--LiveInternet counter--><script type="text/javascript"><!--
    document.write("<a href='//www.liveinternet.ru/click;bsn-sale' "+
    "target=_blank><img src='//counter.yadro.ru/hit;bsn-sale?t18.2;r"+
    escape(document.referrer)+((typeof(screen)=="undefined")?"":
    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
    screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
    ";"+Math.random()+
    "' alt='' title='LiveInternet: показано число просмотров за 24"+
    " часа, посетителей за 24 часа и за сегодня' "+
    "border='0' width='1' height='1' style='display:none;'><\/a>")
    //--></script><!--/LiveInternet-->
    <noscript>
        <div>
            <img src="//mc.yandex.ru/watch/21898216" style="position:absolute; left:-9999px;" alt="" />
        </div>
    </noscript>    

{/if}




