{php:$show = ( empty($payed_format) && empty($wide_format) )}
{if!empty $show}           
    {if!empty $banner_item}
        <div class="top-banner-wrapper">
            <div id="top-banner" onClick="if(!_debug) try{ _gaq.push(['_trackEvent', 'Переходы по рекламе', 'Топлайн']); }catch(e){}"></div>
            <span class="closebutton transition" data-icon="close"></span>
        </div>
    {/if}
{/if}
<header{if!empty $short_menu} class="short-menu"{/if}>
    {include /templates/includes/topmenu.html}
</header>    