<div class="topmenu">
    <div class="logo-box">
        <a href="/" class="svg" title="На главную"></a>
    </div>
    <div class="topmenu-wrapper">
        <nav>
                <ul class="topmenu-firstlevel">
                {if!empty $mainmenu_first}
                {loop $mainmenu_first,$mmkey,$mmitem}
                    {if!empty $mmitem['title']}
                    <li {if!empty $mmitem['class']}class="{$mmitem['class']} active-submenu"{/if}>
                        {if!eq $mmitem['title'],'Каталог'}
                            <a href="/{if!empty $mmitem['url']}{$mmitem['url']}/{/if}" class="{if!empty $mmitem['active']} active{/if} transition-off">{$mmitem['title']}</a>
                        {else}
                            <span class="pseudo-link transition-off">{$mmitem['title']}</span>
                        {/if}
                        {if!empty $mainmenu_second[$mmitem['url']]} 
                            <aside  class="topmenu-secondlevel{ifeq $mmitem['class'],'estate'} shadow{/if}">
                                <ul>
                                    {php:$submenu=$mainmenu_second[$mmitem['url']];}
                                    {loop $submenu,$smkey,$smitem}
                                        {if!empty $smitem['title']}
                                            <li {if!empty $smitem['class']}class="{$smitem['class']}"{/if}>
                                                {ifeq $smitem['class'],'category-title'}
                                                    <span class="br3 category-title{if!empty $smitem['active']} active{/if}">{$smitem['title']}</span>
                                                {else}
                                                    <a href="{ifempty $smitem['external_link']}/{$smitem['url']}/{else}{$smitem['url']}{/if}" title="{$smitem['title']}" class="br3{if!empty $smitem['active']} active{/if}">{$smitem['title']}</a>
                                                {/if}
                                                {if!empty $submenu_second[$smitem['url']]} 
                                                    <div class="topmenu-secondlevel-submenu">
                                                        {php:$subsubmenu=$submenu_second[$smitem['url']];}
                                                        {loop $subsubmenu,$ssmkey,$ssmitem}
                                                            {if!empty $ssmitem['title']}
                                                                <a href="/{$ssmitem['url']}/" title="{$ssmitem['title']}" class="br3{if!empty $ssmitem['active']} active{/if}">{$ssmitem['title']}</a>
                                                            {/if}
                                                        {/loop $subsubmenu}
                                                    </div>
                                                {/if}

                                            </li>
                                        {/if}
                                    {/loop $submenu}
                                </ul>
                            </aside>
                        {/if}
                    </li>
                    {/if}
                {/loop $mainmenu_first}
                     <li class="doverie-button">
                         <a class="advert" href="https://www.bsn.ru/konkurs_doverie_potrebiteley_2025/?1" title="Доверие потребителя" target="_blank" data-token="2Vfnxwfer5E" data-link="https://doveriekonkurs.ru/">
                            <img src="{static:/}modules/konkurs_doverie/img/doverie-25.jpeg" alt="Доверие потребителя" />
                        </a>
                     </li>
                     <li class="add-button">
                        <a class="button grey transition" href="/members/estate/add/live/sell/" title="Добавить объект">Добавить объект</a>
                     </li>
                {if $authorized}

                <li class="user-logo">
                    <a href="/members/cabinet/" title="Личный кабинет" class="user-info">
                        {if!empty $auth['user_photo']}<img src="{if!empty $auth['user_photo']}/{$auth['user_photo_folder']}/big/{$auth['user_photo']}{else}/img/layout/no_avatar_sm.gif{/if}" class="avatar" alt="{if!empty $auth_data['name']}{$auth_data['name']}{/if}{if!empty $auth_data['lastname']} {$auth_data['lastname']}{/if}"/>{/if}
                        <span class="user-avatar" data-icon="person_outline"></span>
                    </a>
                    <i class="amount-total{ifgt $notifications_count,0} active{/if}">{$notifications_count}</i>
                    <div class="auth-submenu br3 shadow clearfix" >
                        <div class="left-wrapper bbox">
                            <ul>
                            {loop $authmenu_first,$mmkey,$mmitem}
                                {if!empty $mmitem['url']}
                                    <li>     
                                        <a class="{$mmitem['class']}{if!empty $mmitem['active']} active{/if} br3" href="/{$mmitem['url']}/" title="{$mmitem['title']}">{$mmitem['title']}</a>
                                    </li>
                                {/if}
                            {/loop $authmenu_first}   
                            <li><a class="auth-logout" href="/logout/" title="Выход" onclick="document.through_auth_form.submit();return false;">Выход</a></li>                              
                            </ul>
                        </div>
                        <div class="right-wrapper bbox notifications{iflte $notifications_count,0} hidden{/if}">
                            <ul data-simplebar="init">
                                {if!empty $notifications_list['estate_subscriptions']}
                                    <li class="estate_subscriptions internal-link" data-id="0" data-link="/objects_subscriptions/">
                                        {suffix:$notifications_list['estate_subscriptions'],'новы','й','х','х'}  {suffix_word:$notifications_list['estate_subscriptions'],'объект','','а','ов'}
                                        <i data-count="{$notifications_list['estate_subscriptions']}" data-icon="delete"></i>
                                        <b class="hr-bottom"></b>
                                    </li>
                                {/if}
                                {if!empty $notifications_list['messages']}
                                    {php:$messages = $notifications_list['messages']}
                                    {loop $messages, $m, $message}
                                    <li class="messages internal-link" data-id="{if!empty $message['id_parent']}{$message['id_parent']}{else}{$message['id']}{/if}" data-link="/members/messages/#{if!empty $message['id_parent']}{$message['id_parent']}{else}{$message['id']}{/if}">
                                        {suffix:$message['cnt'],'нов','ое','ых','ых'}  {suffix_word:$message['cnt'],'сообщени','е','я','й'} от {$message['name']}
                                        <i data-count="{$message['cnt']}" data-icon="delete"></i>
                                        <b class="hr-bottom"></b>
                                    </li>
                                    {/loop $messages}
                                {/if}
                                {if!empty $notifications_list['system_messages']}
                                    {php:$system_messages = $notifications_list['system_messages']}
                                    {loop $system_messages, $m, $system_message}
                                    <li class="system_messages internal-link" data-id="{if!empty $system_message['id_parent']}{$system_message['id_parent']}{else}{$system_message['id']}{/if}" data-link="/members/messages/#{if!empty $system_message['id_parent']}{$system_message['id_parent']}{else}{$system_message['id']}{/if}">
                                        Системное сообщение
                                        <i data-count="1" data-icon="delete"></i>
                                        <b class="hr-bottom"></b>
                                    </li>
                                    {/loop $system_messages}
                                {/if}
                                {if!empty $notifications_list['comments']}
                                    {php:$comments = $notifications_list['comments']}
                                    {loop $comments, $m, $comment}
                                    <li class="comments internal-link" data-id="{$comment['id']}" data-link="{$comment['link']}#comment{$comment['id']}">
                                        Новое ответ на ваш комментарий от {$comment['name']} {$comment['lastname']}
                                        <i data-count="1" data-icon="delete"></i>
                                        <b class="hr-bottom"></b>
                                    </li>
                                    {/loop $comments}
                                {/if}
                                {if!empty $notifications_list['applications']}
                                    {php:$applications = $notifications_list['applications']}
                                    {loop $applications, $m, $application}
                                    <li class="applications internal-link" data-id="{$application['id']}" data-link="/members/conversions/applications/">
                                        Новая заявка #{$application['id']}
                                        <i data-count="1" data-icon="delete"></i>
                                        <b class="hr-bottom"></b>
                                    </li>
                                    {/loop $applications}
                                {/if}
                                {if!empty $notifications_list['consults']}
                                    {php:$consults = $notifications_list['consults']}
                                    {loop $consults, $m, $consult}
                                    <li class="consults internal-link" data-id="{$consult['id']}" data-link="/service/consultant/{$consult['code']}/{$consult['id_parent']}/">
                                        Новый ответ на ваш вопрос {$consult['question']}
                                        <i data-count="1" data-icon="delete"></i>
                                        <b class="hr-bottom"></b>
                                    </li>
                                    {/loop $consults}
                                {/if}
                                <li class="delete-all button grey">Очистить уведомления</li>
                                <li class="empty"><span data-icon="notifications_none">У вас нет уведомлений</span></li>
                            </ul>
                        </div>
                    </div>
                </li>
                
                {else}
                    <li class="auth-login popup" data-url="/authorization/popup/" data-location="popup-authorization" data-redirect="true"><span data-icon="lock" title="Вход в личный кабинет">Войти</span></li>
                {/if}

                <li class="favorites{if!empty $favorites_count} active{/if}">
                   <a href="/members/objects/favorites/" data-icon="star" title="Избранное">{$favorites_count}</a>
                </li>

                </ul>
                
                {/if}
        </nav>
    </div>
</div>
