<div class="rating-vote-wrapper">
    <form action="/zhiloy_kompleks/votes/popup_voting/{$id}/add/" method="POST" class="housing-estate-votings">
        <div class="title clearfix" >Голосование за ЖК «{if!empty $housing_estate_title}{$housing_estate_title}{elseif!empty $item['title']}{$item['title']}{/if}»</div>
        <div class="row clearfix" data-type="transport">
            <div class="title">
                Транспортная доступность
                <div class="info" data-icon="info_outline">
                    <div class="br3 shadow">
                        Степень развития дорожной сети, наличие достаточного количества транспортных маршрутов.
                    </div>
                </div>
            </div>
            <div class="stars">
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
            </div>
            <input type="hidden" value="" id="transport"  name="transport"/>
        </div>
        
        <div class="row clearfix " data-type="infrastructure">
            <div class="title">
                Инфраструктура
                <div class="info" data-icon="info_outline">
                    <div class="br3 shadow">
                        Наличие необходимой социальной и коммерческой инфраструктуры.
                    </div>
                </div>
            </div>
            <div class="stars">
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
            </div>
            <input type="hidden" value="" id="infrastructure"  name="infrastructure"/>
        </div>
        
        <div class="row clearfix " data-type="safety">
            <div class="title">
                Надежность
                <div class="info" data-icon="info_outline">
                    <div class="br3 shadow">
                        Степень надежности вложения средств в покупку квартиры в данном объекте. Надежность зависит от репутации застройщика (опыта его работы на рынке, количества сданных объектов, отсутствия претензий от дольщиков) и от темпов строительства оцениваемого объекта.
                    </div>
                </div>
            </div>
            <div class="stars">
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
            </div>
            <input type="hidden" value="" id="safety"  name="safety"/>
        </div>
        
        <div class="row clearfix " data-type="ecology">
            <div class="title">
                Экологичность
                <div class="info" data-icon="info_outline">
                    <div class="br3 shadow">
                        Степень удаленности от производственных площадок и других возможных источников загрязнения, наличие поблизости зеленых зон, водоемов.
                    </div>
                </div>
            </div>
            <div class="stars">
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
            </div>
            <input type="hidden" value="" id="ecology"  name="ecology"/>
        </div>
        
        <div class="row clearfix " data-type="quality">
            <div class="title">
                Соотношение цена/качество
                <div class="info" data-icon="info_outline">
                    <div class="br3 shadow">
                        Cтепень привлекательности концепции проекта, архитектурных решений, соответствие концепции заявленному классу и цене, качество материалов, используемых для строительства, их соответствие классу объекта.
                    </div>
                </div>
            </div>
            <div class="stars">
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
                <span data-icon="star_border"></span>
            </div>
            <input type="hidden" value="" id="quality"  name="quality"/>
        </div>
      
        <div class="clearfix">
            <span class="button disabled">Голосовать за ЖК</span>
        </div>
        
        <input type="hidden" value="{$id}" id="object-id"  name="object_id"/>
    </form>
</div>   