<h1 class="pageTitle">География / Станции метро</h1>
    <script type="text/javascript">
        function filter_activate(){
			var __filter_parent = document.getElementByName('f_parent').options[document.getElementById('f_parent').selectedIndex].value;
            var __url = '{root:/admin/geodata/subways/lines/$form_parameter/}';
            var __get = new Array();
			if(__filter_parent!='') __get.push('f_parent='+__filter_parent);
            if(__get.length>'') __url = __url+'?'+__get.join('&');
            document.location.href = __url;
        }
    </script>

    {ifempty $data_mapping['id']['value']}
        <form class="form_default" method="post" action="/admin/geodata/subways/lines/add/{if!empty $get_string}?{$get_string}{/if}">
        <h3>Новая запись</h3>
    {else}
        <form class="form_default" method="post" action="/admin/geodata/subways/lines/edit/{$data_mapping['id']['value']}/{if!empty $get_string}?{$get_string}{/if}">
        <h3>id #{$data_mapping['id']['value']} &quot;{$data_mapping['title']['value']}&quot;</h3>
    {/if}
    {if!empty $form_submit}
        {if!empty $errors}
            <div class="notification msgerror">
                <a class="close">Close</a>
                Ошибка. Проверьте правильность заполнения формы.
            </div>
        {else}
            {if!empty $saved}
                <div class="notification msgsuccess">
                    <a class="close">Close</a>
                    Данные сохранены.
                </div>
            {else}
                <div class="notification msgalert">
                    <a class="close">Close</a>
                    Ошибка записи в БД.
                </div>
            {/if}
        {/if}
    {/if}
    {include /admin/templates/form_default.html}
    <script>
		jQuery(document).ready(function(){
			jQuery('input:[name=color]').ColorPicker({
				onSubmit: function(hsb, hex, rgb, el) {
					jQuery(el).val('#'+hex);
					jQuery(el).ColorPickerHide();
				},
				onBeforeShow: function () {
					jQuery(this).ColorPickerSetColor(this.value);
				}
			})
			.bind('keyup', function(){
				
				jQuery(this).ColorPickerSetColor(this.value);
			});
		})
	</script>
</form>