#p_field_js b,
#p_field_html b{
    width: 200px;
    display: inline-block;
}
.error{
    color:red;
}
.download-links{
    font-size: 18px;    
}
.download-links span{
    margin-right: 20px;    
}