<div id="wrapper">
    <header class="inner-page__top">
        <nav class="tiny-controls fontsforweb_fontid_9785">
            <a href="/" class="tiny-controls__wlogo"></a>
            <div class="tiny-controls__text">
                Другие виды размещения рекламы:
            </div>
            <div class="tiny-controls__item media">
                <a href="/advertising/media_ads/" class="icon_text">Медийная</a>
            </div>
            <div class="tiny-controls__item target">
                <a href="/advertising/bsntarget/" class="icon_text">BSN.TARGET</a>
            </div>
            <div class="tiny-controls__item misc">
                <a href="/advertising/misc/" class="icon_text">Прочее</a>
            </div>
        </nav>
    </header>
    <section class="inner-page__content talled">
        <div class="content-central fontsforweb_fontid_9785">
            <span class="icon lines"></span>
            <span class="header">Размещение объявлений на bsn.ru</span>
            <span class="sub-header">Разнообразные тарифные планы с предоплаченными услугами для специалистов и компаний рынка недвижимости.</span>
            <a href="https://www.bsn.ru/contacts/" class="button-green-big">Купить рекламу</a>
            <div class="left-column">
                <div class="column__text-block" data-img="adv_service_user" data-left="105" data-top="308">
                    <span class="text-block__title"><span>Для частных лиц</span><span class="title-placeholder"><i class="placeholder"></i></span></span>
                    <div class="text-subblock">
                        <span class="subblock__title"><span>1 объект</span><span class="subblock-placeholder"><i class="placeholder"></i></span><span class="line__value">бесплатно</span></span>
                        <span class="subblock__description">Второй и последующие объекты оплачиваются отдельно по 150 руб./мес за объект (кроме раздела "Зарубежная недвижимость"). В черновиках может быть сколько угодно объектов.</span>
                    </div>
                </div>
                <div class="column__text-block" data-img="adv_service_specialist" data-left="105" data-top="308">
                    <span class="text-block__title"><span>Для специалистов</span><a href="{static:/}img/docs/bsn-lk-specialist-presentation-sm.pdf" target="blank" title="презентация" class="title__link">презентация</a><span class="title-placeholder"><i class="placeholder"></i></span></span>
                    <div class="text-subblock">
                        <div class="subblock_line">
                            <span class="line__title">Тариф «B»</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">1100 руб./мес.</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">Тариф «S»</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">2500 руб./мес.</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">Тариф «N»</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">5000 руб./мес.</span>
                        </div>
                        <span class="subblock__description">При оплате за 2 мес. скидка 5 %, за 3 мес. скидка 10 %, за 6 мес. скидка 15 %. В тарифы включены предоплаченные услуги Промо и Премиум</span>
                    </div>
                </div>
                <div class="column__text-block" data-img="adv_service_company" data-left="105" data-top="308">
                    <span class="text-block__title"><span>Для Компаний</span><a href="{static:/}img/docs/bsn-lk-company-presentation-sm.pdf" target="blank" title="презентация" class="title__link">презентация</a><span class="title-placeholder"><i class="placeholder"></i></span></span>
                    <div class="text-subblock">
                        <span class="subblock__subtitle">С оплатой за пакет</span>
                        <div class="subblock_line">
                            <span class="line__title">Тариф «Бизнес 500» (до 500 объектов/сут.)</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">5900 руб./мес.</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">Тариф «Бизнес 5000» (до 5000 объектов/сут.)</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">15900 руб./мес.</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">Тариф «Бизнес Макси» (от 5000 объектов/сут.)</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">21900 руб./мес.</span>
                        </div>
                        <span class="subblock__description">В тарифы входят предоплаченные услуги, маркетинговые инструменты, виртуальный офис на BSN.ru. Для агрегаторов стоимость пакета обсуждается в индивидуальном порядке.</span>
                    </div>
                </div>
                <div class="column__text-block" data-img="adv_examples_services" data-left="105" data-top="308">
                    <span class="text-block__title"><span>Услуги для продвижения строчных объявлений</span><span class="title-placeholder"><i class="placeholder"></i></span></span>
                    <div class="text-subblock">
                        <div class="subblock_line">
                            <span class="line__title">«Промо»</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">15 руб./сутки</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">«Премиум»</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">30 руб./сутки</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">«VIP» (витрина объектов)</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">70 руб./сутки</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">Поднятие</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">30 руб./сутки</span>
                        </div>
                        <span class="subblock__description">Подключить услуги к объекту можно из Личного Кабинета.</span>
                    </div>
                </div>
                <div class="column__text-block" data-img="adv_examples_bitem" data-left="105" data-top="308">
                    <span class="text-block__title"><span>Услуги для продвижения объектов строительства</span><span class="title-placeholder"><i class="placeholder"></i></span></span>
                    <div class="text-subblock">
                        <div class="subblock_line">
                            <span class="line__title">Расширенная карточка ЖК (<a href="{static:/}img/docs/bsn-object-zhk-vip-sm.pdf" target="blank" title="презентация" class="docs reqts">презентация</a>)</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">10000 руб./мес.</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">Расширенная карточка КП</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">5000 руб./мес.</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">Расширенная карточка БЦ (<a href="{static:/}img/docs/bsn-object-bc-vip-sm.pdf" target="blank" title="презентация" class="docs reqts">презентация</a>)</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">2900 руб./мес.</span>
                        </div>
                        <span class="subblock__description">ЖК - жилой комплекс, КП - коттеджный поселок, БЦ - бизнес-центр. Подключить услуги к объекту можно через персонального менеджера.</span>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <span class="example-image-box media clear"><span class="example-image"></span></span>
                <div class="contacts">
                    <span class="contacts__phone-box"><span class="phone-box__phone-number">+7 (812) 711-13-13</span><span class="phone-box__email">sales@bsn.ru</span></span>
                    <span class="contacts__docs-box">
                        <span class="docs_blue">pdf</span><a href="/img/docs/bsn-modules-text-technical.pdf" target="blank" class="docs reqts">Описание поддерживаемых форматов</a>
                        <span class="docs_blue">pdf</span><a href="/img/docs/bsn-object-zhk-vip-sm.pdf" target="blank" class="docs reqts">Презентация карточки ЖК</a>
                        <span class="docs_blue">pdf</span><a href="/img/docs/bsn-object-bc-vip-sm.pdf" target="blank" class="docs reqts">Презентация карточки БЦ</a>
                        <span class="docs_blue">pdf</span><a href="{static:/}img/docs/bsn-lk-company-presentation-sm.pdf" target="blank" title="презентация" class="docs reqts">Личный кабинет компании</a>
                        <span class="docs_blue">pdf</span><a href="{static:/}img/docs/bsn-lk-specialist-presentation-sm.pdf" target="blank" title="презентация" class="docs reqts">Личный кабинет специалиста</a>
                    </span>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    jQuery(document).ready(function(){
        jQuery('.column__text-block').on('mouseenter',function(){
            if(jQuery(this).hasClass('hovered')) return false;
            jQuery(this).addClass('hovered');
            var _img_url = jQuery(this).attr('data-img');
            jQuery('.example-image').css('background',"url('//st.bsn.ru/img/layout/" + _img_url + ".png') no-repeat -4px 0px");
            //координаты начала линии вправо
            var _line_start_left = parseInt(jQuery(this).offset().left) + jQuery(this).width();
            var _line_start_top = parseInt(jQuery(this).offset().top) + Math.floor(jQuery(this).height()/2);
            //координаты конца линии читаем из элемента
            var _line_end_left = parseInt(jQuery('.example-image').offset().left) + parseInt(jQuery(this).attr('data-left'));
            var _line_end_top = parseInt(jQuery('.example-image').offset().top) + parseInt(jQuery(this).attr('data-top'));
            //длина линии и угол наклона
            var _line_length = Math.floor(Math.sqrt( (_line_end_left - _line_start_left)*(_line_end_left - _line_start_left) + (_line_start_top - _line_end_top)*(_line_start_top - _line_end_top) ));
            var _line_angle = Math.floor(Math.atan(Math.abs(_line_end_top - _line_start_top)/Math.abs(_line_end_left - _line_start_left)) * 180/Math.PI);
            //+2 - поправка на границу области
            if(_line_end_top<_line_start_top)
                jQuery(this).children('.line').css('transform','rotate(-'+_line_angle+'deg)').css('width',_line_length+'px').css('right','-'+(_line_length+2)+'px');
            else
                jQuery(this).children('.line').css('transform','rotate('+_line_angle+'deg)').css('width',_line_length+'px').css('right','-'+(_line_length+2)+'px');
        });
        jQuery('.column__text-block').on('mouseleave',function(){
            jQuery(this).removeClass('hovered');
            var _img_url = jQuery(this).attr('data-img');
            jQuery('.example-image').removeClass('media');
            jQuery('.example-image-box').addClass('clear');
            jQuery('.example-image').css('background',"url('//st.bsn.ru/img/layout/adv_examples_clear.png') no-repeat -4px 0px");
        });
        //картинка с образцом теперь ездит
        jQuery(document).on('scroll',function(){
            var _scroll_position = jQuery(window).scrollTop();
            if((_scroll_position+jQuery(window).height()<2200)){
                jQuery('.example-image-box').css('position','relative');
                jQuery('.contacts').css('position','relative');
                var _contacts_position = _scroll_position + jQuery('.example-image-box').height();
                
                if(_scroll_position > 265){
                    
                    //если контакты уперлись в футер, останавливаемся
                    if(_contacts_position + jQuery('.contacts').height() > jQuery('.main-page__footer').offset().top){
                        _scroll_position -= 265;
                        _contacts_position -= 265;
                    }
                    
                    jQuery('.example-image-box').offset({
                                                        top:_scroll_position});
                    jQuery('.contacts').offset({
                                                            top:_contacts_position});
                }
                else{
                    //если контакты уперлись в футер, останавливаемся
                    if(_contacts_position + jQuery('.contacts').height() > jQuery('.main-page__footer').offset().top - 265) return false;
                    
                    _contacts_position = 265 + jQuery('.example-image-box').height();
                    jQuery('.example-image-box').offset({
                                                        top:265});
                    jQuery('.contacts').offset({
                                                        top:_contacts_position});
                }
                //перерисовываем стрелочку
                var _hovered_block = jQuery('.column__text-block.hovered');
                //если при скролле мы держим мышку над одним из блоков
                if(_hovered_block.length>0){
                    //координаты начала линии вправо
                    var _line_start_left = parseInt(_hovered_block.offset().left) + _hovered_block.width();
                    var _line_start_top = parseInt(_hovered_block.offset().top) + Math.floor(_hovered_block.height()/2);
                    //координаты конца линии читаем из элемента
                    var _line_end_left = parseInt(jQuery('.example-image').offset().left) + parseInt(_hovered_block.attr('data-left'));
                    var _line_end_top = parseInt(jQuery('.example-image').offset().top) + parseInt(_hovered_block.attr('data-top'));
                    //длина линии и угол наклона
                    var _line_length = Math.floor(Math.sqrt( (_line_end_left - _line_start_left)*(_line_end_left - _line_start_left) + (_line_start_top - _line_end_top)*(_line_start_top - _line_end_top) ));
                    var _line_angle = Math.floor(Math.atan(Math.abs(_line_end_top - _line_start_top)/Math.abs(_line_end_left - _line_start_left)) * 180/Math.PI);
                    //+2 - поправка на границу области
                    if(_line_end_top<_line_start_top)
                        _hovered_block.children('.line').css('transform','rotate(-'+_line_angle+'deg)').css('width',_line_length+'px').css('right','-'+(_line_length+2)+'px');
                    else
                        _hovered_block.children('.line').css('transform','rotate('+_line_angle+'deg)').css('width',_line_length+'px').css('right','-'+(_line_length+2)+'px');
                    }
                }
        });
        //предзагрузка картинок чтобы не мигало в хроме
        function preload(arrayOfImages) {
            $(arrayOfImages).each(function(){
                (new Image()).src = this;
            });
        }

        // Usage:

        preload([
            '//st.bsn.ru/img/layout/adv_examples_200x480.png',
            '//st.bsn.ru/img/layout/adv_examples_topline.png',
            '//st.bsn.ru/img/layout/adv_examples_tall.png',
            '//st.bsn.ru/img/layout/adv_examples_float.png',
            '//st.bsn.ru/img/layout/adv_examples_tgb-1.png',
            '//st.bsn.ru/img/layout/adv_examples_tgb-2.png',
            '//st.bsn.ru/img/layout/adv_examples_calc.png'
        ]);
    });
</script>