<div id="wrapper">
    <header class="main-page__top">
        <div class="top-central fontsforweb_fontid_9785">
            <a class="header_logo" href="/"></a>
            <div class="header_central">РЕКЛАМА НА САЙТЕ</div>
            <div class="subheader1_central">Вы будете приятно удивлены эффективностью размещения на нашем портале,</div>
            <div class="subheader2_central"> мы подобрали для Вас самые выгодные условия, потому что ценим своих партнеров</div>
        </div>
        <nav class="controls fontsforweb_fontid_9785">
            <a class="controls__item" href="/advertising/media_ads/">
                <span class="icon media"></span>
                <span class="icon_text">Медийная</span>
            </a>
            <a class="controls__item lines" href="/advertising/line_ads/">
                <span class="icon lines"></span>
                <span class="icon_text">Строчная</span>
            </a>
            <a class="controls__item" href="/advertising/bsntarget/">
                <span class="icon target"></span>
                <span class="icon_text">BSN.TARGET</span>
            </a>
            <a class="controls__item" href="/advertising/misc/">
                <span class="icon misc"></span>
                <span class="icon_text">Прочее</span>
            </a>
        </nav>
    </header>
    <section class="main-page__content">
        <div class="content-central fontsforweb_fontid_9785">
            <span class="header">Почему реклама на BSN.RU?</span>
            <span class="social">
                <span class="icon-VK external-link" data-link="//vk.com/bsn_ru"></span>
                <span class="icon-YouTube-play external-link" data-link="//www.youtube.com/channel/UCs-JHz_clECjieYwzi0irMw"></span>
            </span>
            <div class="blocks-box">
                <div class="blocks-box__item left">
                    <div class="item-header auditory"><span>Качественная аудитория</span></div>
                    <span class="item-body">Мы заботимся о качестве своей аудитории. Привлекаем трафик <br>с различных источников. Постоянно его анализируем, чтобы давать для наших клиентов качественный результат.</span>
                </div>
                <div class="blocks-box__item central">
                    <div class="item-header effectiveness"><span>Максимальная эффективность</span></div>
                    <span class="item-body">Мы постоянно взаимодействуем <br>с заказчиками. Анализируем проводимые рекламные кампании сосбтвенными и сторонними инструментами аналитики. Это позволяет нам достигать максимального эффекта.</span>
                </div>
                <div class="blocks-box__item right">
                    <div class="item-header service"><span>Гибкие условия сотрудничества</span></div>
                    <span class="item-body">Мы гибко подстраиваемся под требования любого заказчика. Каждый клиент ценен для нас и мы всегда находим взаимный интерес при сотрудничестве.</span>
                </div>
            </div>
            <div class="contacts">
                <span class="contacts__phone-box"><span class="phone-box__phone-number">+7 (812) 711-13-13</span><span class="phone-box__email">sales@bsn.ru</span></span>
                <span class="contacts__docs-box">
                    <span class="docs_blue">pdf</span><a href="/img/docs/bsn-mediakit.pdf" target="blank" class="docs reqts">Медиакит</a>
                </span>
            </div>
            <!--
            <div class="comments-carousel">
                <div class="carousel__block">
                    <span class="carousel__block_text"><i>Мои волосы стали намного более шелковистыми, когда я заказал рекламу на портале BSN.RU! Теперь мы всей семьей делаем прически как у Тимошенко!</i></span>
                    <span class="carousel__block_author">— Иван Петров, менеджер</span>
                </div>
                <div class="carousel__block">
                    <span class="carousel__block_text"><i>Мы с мужем давно запустили небольшой интернет-магазин изделий из бересты. Первое время дела с посетителями обстояли плачевно, но затем мы прочитали про рекламу на BSN.RU и о чудо! Посещаемость нашего ресурса выросла на 600% за послдение 4 месяца</i></span>
                    <span class="carousel__block_author">— Ольга Антонова, директор</span>
                </div>
            </div>
            -->
        </div>
    </section>
</div>