    <h1>Реклама на сайте</h1>
    <div class="advertising-wrap central-wrapper clearfix">
        <div class="text">
        Интернет-портал «Большой Сервер Недвижимости» (BSN.ru) работает на рынке информационных услуг c 1999 года и входит в число самых посещаемых сайтов о недвижимости Санкт-Петербурга и Ленобласти. 
            <div class="info br3">
                <span class="phones">
                    <b>+7 (812) 711-13-13</b>
                    <i>пн-пт: 10:00 - 18:00</i>
                </span>
                <p><a href="javascript:void(location.href='mailto:'+String.fromCharCode(115,97,108,101,115,64,98,115,110,46,114,117))">sales@bsn.ru</a></p>
                <p style="margin-top: 20px">Размещение ТГБ и баннеров на сайте эксклюзивно через РА AdAurum: <a href="mailto:sales@adaurum.ru" title="">sales@adaurum.ru</a></p>
            </div>
            Если вам интересно сотрудничество, то вы можете
            ознакомиться с нашим медиакитом и прайс-листом по ссылкам ниже.
        </div>    
    
        
        

        <div class="links br3 clearfix">
            <span class="title">Скачать наш медиакит</span>
            
            <span class="item mediakit external-link" data-link="https://st.bsn.ru/img/docs/bsn-mediakit.pdf">
                bsn-mediakit.pdf
                <i>PDF, 4.8MB</i>
            </span>
        </div>
    </div>
