<div id="wrapper">
    <header class="inner-page__top">
        <nav class="tiny-controls fontsforweb_fontid_9785">
            <a href="/" class="tiny-controls__wlogo"></a>
            <div class="tiny-controls__text">
                Другие виды размещения рекламы:
            </div>
            <div class="tiny-controls__item lines">
                <a href="/advertising/line_ads/" class="icon_text">Строчная</a>
            </div>
            <div class="tiny-controls__item target">
                <a href="/advertising/bsntarget/" class="icon_text">BSN.TARGET</a>
            </div>
            <div class="tiny-controls__item misc">
                <a href="/advertising/misc/" class="icon_text">Прочее</a>
            </div>
        </nav>
    </header>
    <section class="inner-page__content">
        <div class="content-central fontsforweb_fontid_9785">
            <span class="icon media"></span>
            <span class="header">Медийная реклама на bsn.ru</span>
            <span class="sub-header">Разнообразные форматы медийных объявлений для имиджевой и объектовой рекламы</span>
            <a href="https://www.bsn.ru/contacts/" class="button-green-big">Купить рекламу</a>
            <div class="left-column media">
                <div class="column__text-block w-bottom-panel" data-img="adv_examples_200x480_main" data-left="245" data-top="313">
                    <span class="line"></span>
                    <span class="text-block__title"><span>Баннер 200x480</span><!--<span class="title-placeholder"><i class="placeholder"></i></span>--></span>
                    <div class="text-subblock">
                        <div class="subblock_line">
                            <span class="line__title">Все страницы</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">520 руб./1000 показов</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">Раздел «Загородная недвижимость»</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">25 000 руб./нед.</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">Раздел «Коммерческая недвижимость»</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">7 000 руб./нед.</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">Раздел «Банки/Ипотека»</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">2 000 руб./нед.</span>
                        </div>
                        <span class="subblock__description">Возможность таргетирования по разделам. HTML, gif. До 200 КБ</br>Наценка за таргетинг + 20% (исключая таргетирование по разделам)</span>
                    </div>
                    <div class="block__bottompanel">
                        <span class="bottompanel__title">Размещение:</span>
                        <span class="bottompanel__option general">Главная</span>
                        <span class="bottompanel__option" data-img="adv_examples_200x480" data-left="275" data-top="250">Остальные страницы</span>
                    </div>
                </div>
                <div class="column__text-block w-bottom-panel" data-img="adv_examples_topline_main" data-left="21" data-top="95">
                    <span class="line"></span>
                    <span class="text-block__title"><span>Баннер 1180x90</span><!--<span class="title-placeholder"><i class="placeholder"></i></span>--></span>
                    <div class="text-subblock">
                        <div class="subblock_line">
                            <span class="line__title">Все страницы</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">380 руб./1000 показов</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">Раздел Загородная недвижимость»</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">10 000 руб./нед.</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">Раздел «Коммерческая недвижимость»</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">6 000 руб./нед.</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">Раздел «Банки/Ипотека»</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">1 000 руб./нед.</span>
                        </div>
                        <span class="subblock__description">Возможность таргетирования по разделам. HTML, gif. До 200 КБ</br>Наценка за таргетинг + 20% (исключая таргетирование по разделам)</span>
                    </div>
                    <div class="block__bottompanel">
                        <span class="bottompanel__title">Размещение:</span>
                        <span class="bottompanel__option general">Главная</span>
                        <span class="bottompanel__option" data-img="adv_examples_topline" data-left="21" data-top="95">Остальные страницы</span>
                    </div>
                </div>
                <div class="column__text-block" data-img="adv_examples_tall" data-left="328" data-top="105">
                    <span class="line"></span>
                    <span class="text-block__title"><span>Вертикальный баннер 40x500</span><!--<span class="title-placeholder"><i class="placeholder"></i></span>--></span>
                    <div class="text-subblock">
                        <span class="subblock__title"><span>25% показов</span><span class="subblock-placeholder"><i class="placeholder"></i></span><span class="line__value">25 000 руб./мес</span></span>
                        <span class="subblock__description">Картинка jpg, png или gif (неанимированный) До 50 КБ.</span>
                    </div>
                </div>
                <div class="column__text-block" data-img="adv_examples_float" data-left="23" data-top="440">
                    <span class="line"></span>
                    <span class="text-block__title"><span>Float Banner 240x50 с раскрытием до 240x200</span><!--<span class="title-placeholder"><i class="placeholder"></i></span>--></span>
                    <div class="text-subblock">
                        <span class="subblock__title"><span>50% показов</span><span class="subblock-placeholder"><i class="placeholder"></i></span><span class="line__value">30 000 руб./мес</span></span>
                        <span class="subblock__description">Баннер-поплавок , который показывается постоянно в  нижнем углу экрана на всех страницах портала.</span>
                    </div>
                </div>
                <div class="column__text-block w-bottom-panel" data-img="adv_examples_tgb_main" data-left="20" data-top="410">
                    <span class="line"></span>
                    <span class="text-block__title"><span>ТГБ 200х134 (Текстово-Графический Блок)</span><!--<span class="title-placeholder"><i class="placeholder"></i></span>--></span>
                    <div class="text-subblock">
                        <span class="subblock__title"><span>Все страницы</span><span class="subblock-placeholder"><i class="placeholder"></i></span><span class="line__value">40 000 руб./мес</span></span>
                        <span class="subblock__description">Картинка jpg или gif (неанимированный) + заголовок до 45 знаков + текст до 45 знаков. До 50 КБ.</span>
                    </div>
                    <div class="text-subblock">
                        <span class="subblock__subtitle">Все страницы (покликовая оплата в зависимости от класса объекта)</span>
                        <div class="subblock_line">
                            <span class="line__title">Эконом</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">50 руб./клик</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">Комфорт</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">70 руб./клик</span>
                        </div>
                        <div class="subblock_line">
                            <span class="line__title">Бизнес</span>
                            <span class="line__placeholder"><i class="placeholder"></i></span>
                            <span class="line__value">90 руб./клик</span>
                        </div>
                    </div>
                    <div class="block__bottompanel">
                        <span class="bottompanel__title">Размещение:</span>
                        <span class="bottompanel__option general">Главная</span>
                        <span class="bottompanel__option" data-img="adv_examples_tgb-1" data-left="47" data-top="205">Остальные страницы</span>
                    </div>
                </div>
                <div class="column__text-block" data-img="adv_examples_calc" data-left="142" data-top="295">
                    <span class="line"></span>
                    <span class="text-block__title"><span>Кредитный (ипотечный) калькулятор </span><!--<span class="title-placeholder"><i class="placeholder"></i></span>--></span>
                    <div class="text-subblock">
                        <span class="subblock__title"><span>На карточке объекта (<a href="{static:/}img/docs/bsn-kreditny-calc-ne.pdf" target="blank" title="презентация" class="docs reqts">презентация</a>)</span><span class="subblock-placeholder"><i class="placeholder"></i></span><span class="line__value —">60 000 руб./100% трафика</span></span>
                        <span class="subblock__description">Логотип 100х25 (максимальная ширина 100px, неанимированный, без рамки, до 10 КБ) + вывод суммы ежемесячного платежа, рассчитанного по формуле привязанной к стоимости объекта.<br>Текст в блоке до 45 символов.</span>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <span class="example-image-box media clear"><span class="example-image"></span></span>
                <div class="contacts">
                    <span class="contacts__phone-box"><span class="phone-box__phone-number">+7 (812) 711-13-13</span><span class="phone-box__email">sales@bsn.ru</span></span>
                    <span class="contacts__docs-box">
                        <span class="docs_blue">pdf</span><a href="/img/docs/bsn-modules-technical.pdf" target="blank" class="docs reqts">Требования к рекламным материалам </a>
                        <span class="docs_blue">pdf</span><a href="/img/docs/bsn-kreditny-calc-ne.pdf" target="blank" class="docs reqts">Кредитный (ипотечный) калькулятор</a>
                    </span>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    jQuery(document).ready(function(){
        //вход/выход мышки с блока описания
        jQuery('.column__text-block').on('mouseenter',function(){
            if(jQuery(this).hasClass('hovered')) return false;
            jQuery(this).addClass('hovered');
            
            if(jQuery(this).children('.block__bottompanel').length > 0) jQuery(this).children('.block__bottompanel').children('.bottompanel__option.general').addClass('hovered');
            
            var _img_url = jQuery(this).attr('data-img');
            jQuery('.example-image').css('background',"url('//st.bsn.ru/img/layout/" + _img_url + ".png') no-repeat -4px 0px");
            //координаты начала линии вправо
            var _line_start_left = parseInt(jQuery(this).offset().left) + jQuery(this).width();
            var _line_start_top = parseInt(jQuery(this).offset().top) + Math.floor(jQuery(this).height()/2);
            //координаты конца линии читаем из элемента
            var _line_end_left = parseInt(jQuery('.example-image').offset().left) + parseInt(jQuery(this).attr('data-left'));
            var _line_end_top = parseInt(jQuery('.example-image').offset().top) + parseInt(jQuery(this).attr('data-top'));
            //длина линии и угол наклона
            var _line_length = Math.floor(Math.sqrt( (_line_end_left - _line_start_left)*(_line_end_left - _line_start_left) + (_line_start_top - _line_end_top)*(_line_start_top - _line_end_top) ));
            var _line_angle = Math.floor(Math.atan(Math.abs(_line_end_top - _line_start_top)/Math.abs(_line_end_left - _line_start_left)) * 180/Math.PI);
            //+2 - поправка на границу области
            if(_line_end_top<_line_start_top)
                jQuery(this).children('.line').css('transform','rotate(-'+_line_angle+'deg)').css('width',_line_length+'px').css('right','-'+(_line_length+2)+'px');
            else
                jQuery(this).children('.line').css('transform','rotate('+_line_angle+'deg)').css('width',_line_length+'px').css('right','-'+(_line_length+2)+'px');
        });
        jQuery('.column__text-block').on('mouseleave',function(){
            jQuery(this).removeClass('hovered');
            if(jQuery(this).find('.bottompanel__option.hovered').length > 0) jQuery(this).find('.bottompanel__option.hovered').removeClass('hovered');
            var _img_url = jQuery(this).attr('data-img');
            jQuery('.example-image').css('background',"url('//st.bsn.ru/img/layout/adv_examples_clear.png') no-repeat -4px 0px");
            
            //координаты начала линии вправо
            var _line_start_left = parseInt(jQuery(this).offset().left) + jQuery(this).width();
            var _line_start_top = parseInt(jQuery(this).offset().top) + Math.floor(jQuery(this).height()/2);
            //координаты конца линии читаем из элемента
            var _line_end_left = parseInt(jQuery('.example-image').offset().left) + parseInt(jQuery(this).attr('data-left'));
            var _line_end_top = parseInt(jQuery('.example-image').offset().top) + parseInt(jQuery(this).attr('data-top'));
            //длина линии и угол наклона
            var _line_length = Math.floor(Math.sqrt( (_line_end_left - _line_start_left)*(_line_end_left - _line_start_left) + (_line_start_top - _line_end_top)*(_line_start_top - _line_end_top) ));
            var _line_angle = Math.floor(Math.atan(Math.abs(_line_end_top - _line_start_top)/Math.abs(_line_end_left - _line_start_left)) * 180/Math.PI);
            //+2 - поправка на границу области
            if(_line_end_top<_line_start_top)
                jQuery(this).children('.line').css('transform','rotate(-'+_line_angle+'deg)').css('width',_line_length+'px').css('right','-'+(_line_length+2)+'px');
            else
                jQuery(this).children('.line').css('transform','rotate('+_line_angle+'deg)').css('width',_line_length+'px').css('right','-'+(_line_length+2)+'px');
        });
        
        //смена картинок для опций блока описания
        jQuery('.bottompanel__option').on('mouseenter',function(){
            jQuery(this).addClass('hovered').siblings().removeClass('hovered');
            //меняем картинку справа
            var _img_url = jQuery(this).attr('data-img');
            if(_img_url == undefined) return true;
            jQuery('.example-image').css('background',"url('//st.bsn.ru/img/layout/" + _img_url + ".png') no-repeat -4px 0px");
            
            var _parent_block = jQuery(this).parents('.column__text-block');
            //координаты начала линии вправо
            var _line_start_left = parseInt(_parent_block.offset().left) + _parent_block.width();
            var _line_start_top = parseInt(_parent_block.offset().top) + Math.floor(_parent_block.height()/2);
            //координаты конца линии читаем из элемента
            var _line_end_left = parseInt(jQuery('.example-image').offset().left) + parseInt(jQuery(this).attr('data-left'));
            var _line_end_top = parseInt(jQuery('.example-image').offset().top) + parseInt(jQuery(this).attr('data-top'));
            //длина линии и угол наклона
            var _line_length = Math.floor(Math.sqrt( (_line_end_left - _line_start_left)*(_line_end_left - _line_start_left) + (_line_start_top - _line_end_top)*(_line_start_top - _line_end_top) ));
            var _line_angle = Math.floor(Math.atan(Math.abs(_line_end_top - _line_start_top)/Math.abs(_line_end_left - _line_start_left)) * 180/Math.PI);
            //+2 - поправка на границу области
            if(_line_end_top<_line_start_top)
                jQuery(this).parents().siblings('.line').css('transform','rotate(-'+_line_angle+'deg)').css('width',_line_length+'px').css('right','-'+(_line_length+2)+'px');
            else
                jQuery(this).parents().siblings('.line').css('transform','rotate('+_line_angle+'deg)').css('width',_line_length+'px').css('right','-'+(_line_length+2)+'px');
        });
        jQuery('.bottompanel__option').on('mouseleave',function(){
            if(!jQuery(this).hasClass('general')) jQuery(this).removeClass('hovered').siblings('.general').addClass('hovered');
            //меняем картинку справа на картинку по умолчанию для этого блока
            var _img_url = jQuery(this).parents('.column__text-block').attr('data-img');
            jQuery('.example-image').css('background',"url('//st.bsn.ru/img/layout/" + _img_url + ".png') no-repeat -4px 0px");
            var _parent_block = jQuery(this).parents('.column__text-block');
            
            //координаты начала линии вправо
            var _line_start_left = parseInt(_parent_block.offset().left) + _parent_block.width();
            var _line_start_top = parseInt(_parent_block.offset().top) + Math.floor(_parent_block.height()/2);
            //координаты конца линии читаем из элемента
            var _line_end_left = parseInt(jQuery('.example-image').offset().left) + parseInt(_parent_block.attr('data-left'));
            var _line_end_top = parseInt(jQuery('.example-image').offset().top) + parseInt(_parent_block.attr('data-top'));
            //длина линии и угол наклона
            var _line_length = Math.floor(Math.sqrt( (_line_end_left - _line_start_left)*(_line_end_left - _line_start_left) + (_line_start_top - _line_end_top)*(_line_start_top - _line_end_top) ));
            var _line_angle = Math.floor(Math.atan(Math.abs(_line_end_top - _line_start_top)/Math.abs(_line_end_left - _line_start_left)) * 180/Math.PI);
            //+2 - поправка на границу области
            if(_line_end_top<_line_start_top)
                jQuery(this).parents().siblings('.line').css('transform','rotate(-'+_line_angle+'deg)').css('width',_line_length+'px').css('right','-'+(_line_length+2)+'px');
            else
                jQuery(this).parents().siblings('.line').css('transform','rotate('+_line_angle+'deg)').css('width',_line_length+'px').css('right','-'+(_line_length+2)+'px');
        });        
        
        //картинка с образцом теперь ездит
        jQuery(document).on('scroll',function(){
            var _scroll_position = jQuery(window).scrollTop();
            if((_scroll_position+jQuery(window).height()<2650)){
                jQuery('.example-image-box').css('position','relative');
                jQuery('.contacts').css('position','relative');
                var _contacts_position = _scroll_position + jQuery('.example-image-box').height();
                if(_scroll_position>265){
                    jQuery('.example-image-box').offset({
                                                        top:_scroll_position});
                    jQuery('.contacts').offset({
                                                            top:_contacts_position});
                }
                else{
                    _contacts_position = 265 + jQuery('.example-image-box').height();
                    jQuery('.example-image-box').offset({
                                                        top:265});
                    jQuery('.contacts').offset({
                                                        top:_contacts_position});
                }
                //перерисовываем стрелочку
                var _hovered_block = jQuery('.column__text-block.hovered');
                //если при скролле мы держим мышку над одним из блоков
                if(_hovered_block.length>0){
                    //координаты начала линии вправо
                    var _line_start_left = parseInt(_hovered_block.offset().left) + _hovered_block.width();
                    var _line_start_top = parseInt(_hovered_block.offset().top) + Math.floor(_hovered_block.height()/2);
                    //координаты конца линии читаем из элемента
                    var _line_end_left = parseInt(jQuery('.example-image').offset().left) + parseInt(_hovered_block.attr('data-left'));
                    var _line_end_top = parseInt(jQuery('.example-image').offset().top) + parseInt(_hovered_block.attr('data-top'));
                    //длина линии и угол наклона
                    var _line_length = Math.floor(Math.sqrt( (_line_end_left - _line_start_left)*(_line_end_left - _line_start_left) + (_line_start_top - _line_end_top)*(_line_start_top - _line_end_top) ));
                    var _line_angle = Math.floor(Math.atan(Math.abs(_line_end_top - _line_start_top)/Math.abs(_line_end_left - _line_start_left)) * 180/Math.PI);
                    //+2 - поправка на границу области
                    if(_line_end_top<_line_start_top)
                        _hovered_block.children('.line').css('transform','rotate(-'+_line_angle+'deg)').css('width',_line_length+'px').css('right','-'+(_line_length+2)+'px');
                    else
                        _hovered_block.children('.line').css('transform','rotate('+_line_angle+'deg)').css('width',_line_length+'px').css('right','-'+(_line_length+2)+'px');
                    }
                }
        });
        //предзагрузка картинок чтобы не мигало в хроме
        function preload(arrayOfImages) {
            $(arrayOfImages).each(function(){
                (new Image()).src = this;
            });
        }


        preload([
            '//st.bsn.ru/img/layout/adv_examples_200x480.png',
            '//st.bsn.ru/img/layout/adv_examples_topline.png',
            '//st.bsn.ru/img/layout/adv_examples_tall.png',
            '//st.bsn.ru/img/layout/adv_examples_float.png',
            '//st.bsn.ru/img/layout/adv_examples_tgb-1.png',
            '//st.bsn.ru/img/layout/adv_examples_tgb-2.png',
            '//st.bsn.ru/img/layout/adv_examples_200x480_main.png',
            '//st.bsn.ru/img/layout/adv_examples_topline_main.png',
            '//st.bsn.ru/img/layout/adv_examples_tgb_main.png',
            '//st.bsn.ru/img/layout/adv_examples_calc.png'
        ]);
    });
</script>