<section class="addr-wrap br3 ">
    <span class="title">Адрес</span>
    {if!empty $item['txt_addr']}
        
        <span class="txt-addr" data-title="{if!empty $item['district']}Санкт-Петербург {elseif!empty $item['district_area']}Ленинградская область, {$item['district_area']} район{else}Санкт-Петербург, {/if}{if!empty $item['address']}, {$item['address']}{/if}" data-zoom="city">
            {if!empty $item['district_title']}
                {if!empty $district_link}
                    <a href="/{$district_link['pretty_url']}/" title="{$district_link['h1_title']}">{$item['district_title']} район ЛО</a>
                {else}
                    {$item['district_title']} район ЛО
                {/if}
            {/if}
            {if!empty $item['txt_addr']}{if!empty $item['district_title']},{/if} {$item['txt_addr']}{/if}
        </span>
    {/if}  
    
    {if!empty $item['directions_title'] || $item['cad_length']}
        <span class="direction">
            {if!empty $item['directions_title']}{$item['directions_title']} шоссе{/if}{if!empty $item['cad_length']}{if!empty $item['directions_title']}, {/if}{$item['cad_length']} км от СПб{/if}
        </span>
    {/if}
    
</section>