            {php:$status_text = $item['advanced']==1 ? 'Премиум' : 'Стандарт';}
            <div class="item shadow-hover transition clearfix estate-complex" onClick="try{ _gaq.push(['_trackEvent', 'Строчное размещение', '{$status_text}']); }catch(err){ }" data-id="{$item['id']}" data-link="/cottedzhnye_poselki/{$item['chpu_title']}/">
                <link itemprop="url" href="https://www.bsn.ru/cottedzhnye_poselki/{$item['chpu_title']}/">
                <meta itemprop="name" content="Коттеджный поселок «{$item['title']}»" />
                <link itemprop="image" href="{if!empty $item['photo']}https:{static:/}{$img_folder}/med/{$item['subfolder']}/{$item['photo']}{else}https://st1.bsn.ru/img/layout/no-photo-med.gif{/if}" />
                {php:$photos = $item['photos']}
                <div class="photo bbox bg-cover br3{ifempty $photos} lazy{/if}" {ifempty $photos}data-src="//st1.bsn.ru/img/layout/no-photo-med.gif"{/if}>
                    {if!empty $photos}
                    <div class="image-list">
                        {loop $photos,$pk,$pv} 
                        <div class="image-item">
                            <div class="image-wrapper bg-cover transition lazy" data-src="{if!empty $pv['name']}{ifeq $estate_type,'inter'}https://interestate.ru/{else}{static:/}{/if}{$img_folder}/med/{$pv['subfolder']}/{$pv['name']}{elseif!empty $pv['complex_photo']}{static:/}{$img_folder}/med/{$pv['complex_subfolder']}/{$pv['complex_photo']}{/if}">
                               {ifgt $item['photos_count'],5}
                                    {ifeq $pk,4}
                                        <div class="more">
                                            <span class="more-text" data-icon="crop_original_black">Ещё {php:echo $item['photos_count'] - 5} фото</span>
                                        </div>
                                    {/if}
                                {/if}
                            </div>
                            {ifgt $item['photos_count'],1}<div class="image-button"></div>{/if}
                        </div>
                        {/loop $photos}
                    </div>
                    {/if}
                </div>

                <div class="info">
                    <div class="main-params-wrap">
                        {if!empty $item['total_objects']}
                            <div class="total-objects">
                                <span class="price">
                                    {ifeq $item['min_cost_objects'], $item['max_cost_objects']}
                                        {numberformat:$item['min_cost_objects']} 
                                    {else}
                                        от {numberformat:$item['min_cost_objects']}
                                    {/if}
                                     Р
                                </span>
                                <span class="value">{suffix:$item['total_objects'],'объект','','а','ов'}</span>
                            </div> 
                            {if!empty $item['min_cost_objects']}<meta itemprop="lowPrice" content="{$item['min_cost_objects']}" />{/if}
                            {if!empty $item['max_cost_objects']}{if!eq $item['min_cost_objects'], $item['max_cost_objects']}<meta itemprop="highPrice" content="{$item['max_cost_objects']}" />{/if}{/if}
                             Р
                            <meta  itemprop="priceCurrency" content="RUB">                                  
                        {/if}

                        <a class="estate-complex-title text-overflow{if!empty $total_objects} short{/if}" href="/cottedzhnye_poselki/{$item['chpu_title']}/" target="_blank" title="{$item['header']}">
                            КП «{$item['title']}»
                        </a>                        
                        {if!empty $item['seller_title']}<span class="estate-complex-seller text-overflow">{$item['seller_title']}</span>
                        {elseif!empty $item['developer_title']}<span class="estate-complex-seller text-overflow">{$item['developer_title']}</span>{/if}
                    </div>
                    
                    <div class="address-wrap">
                        {php:$show_addr = !empty($item['txt_addr']) || !empty($item['district_title']) }
                        {if!empty $show_addr}
                        <span class="district">
                            {if!empty $item['district_title']}{$item['district_title']} район ЛО{/if}{if!empty $item['txt_addr']}{if!empty $item['district_title']}, {/if}{$item['txt_addr']}{/if}
                        {/if}
                    </div>
                    <div class="actions">
                        <span data-id="{$item['id']}" data-type="cottedzhnye_poselki" title="{ifeq $item['in_favorites'],1}Удалить из избранного{else}В избранное{/if}" data-icon="{ifeq $item['in_favorites'],1}star{else}star_border{/if}" class="star{ifeq $item['in_favorites'],1} in-favorites{/if} transition" data-link="/favorites/?type=cottedzhnye_poselki">
                            <span class="star-label"></span>
                        </span>
                        {if!eq $status_text,'Стандарт'}<div class="status tag br3 promo">Промо</div>{/if}
                        {if!empty $item['types']}
                            <span class="status tag br3 class">{$item['types']}</span>
                        {/if}
                        
                    </div>
                </div>        
                                                                                             
            </div>                                                                                     
           