<h1 class="pageTitle">Статистика ТГБ</h1>
<div class="showSpecStats">
    <img width="145" style="float:left" src="{$info['photo']}">
    <a href="/admin/advert_objects/tgb/banners/edit/{$info['id']}/" class="edit-froms-stats">Редактировать</a>
    <span>Статистика для баннера: <strong>{$info['title']}</strong></span>
    
    <form method="post" action="/admin/advert_objects/tgb/stats/banners/{$info['id']}/" class="form_default" autocomplete="off">
    	<input type="hidden" value="ok" name="process" autocomplete="off"> 
        Дата: с <input type="text" size="10" id="date_start" name="date_start" value="{$info['date_start']}" autocomplete="off"> 
        по <input type="text" size="10" id="date_end" name="date_end"  class="dateChoose" value="{$info['date_end']}" autocomplete="off">
        <input type="submit" value="показать" name="submit" style="display:none;" id="submitButton" />
        {if!empty $info['date_start']}
            {if!empty $info['date_end']}
                <ul class="price-calculate click-hide">
                    <li>
                        <h3>Расчет стоимости клика</h3>
                        <span>Стоимость ТГБ за месяц</span>
                        <input type="text" class="click-hide" name="price_on_period" id="price-on-period" placeholder="Введите стоимость" value="{$info['price_on_period']}"  autocomplete="off" />
                    </li>
                    <li>
                        <h3>Кол-во докручиваемых кликов</h3>
                        <span>Желаемая стоимость клика</span>
                        <input type="text" class="click-hide" name="wanted_price" id="wanted-price" placeholder="Введите стоимость" value="{$info['wanted_price']}" autocomplete="off" />
                    </li>
                </ul>
                <div id="price-stats" class="click-hide" >
                    <div id="clicks-last-month"  style="display: none;" title="За последний месяц">{$average_clicks['sum_amount']}</div>
                    <div id="clicks-to-the-end-total" title="Необходимо докрутить кликов до конца месяца">Докрутить до конца месяца: <span></span></div>
                    <div id="advert-clicks" title="Купленные клики Найдидом в этом месяце" >Найдидом: <span>{if!empty $advert_clicks['limit']}{$advert_clicks['limit']}{else}0{/if}</span></div>
                </div>
            {/if}
        {/if}

    </form>
	<div class="separator"></div>
</div>
        {if!empty $form_submit}
        <script>jQuery(document).ready(clickPrice)</script>
		<div id="result_info_stats">
            <a href="#" class="click-hide">Показать только общие переходы (для печати)</a>
            <table width="1350" cellspacing="0" cellpadding="10" data-date-interval="{$info['interval']}">
              <tbody>
                  <tr>
                    <th width="100">Дата</th>
                    <th width="120">Показы</th>
                    <th width="70" class="click-hide">Переходы BSN</th>
                    {if!empty $in_estate_clicks}
                        <th width="70" class="click-hide">
                            Переходы в разделах
                        </th>
                    {/if}
                    <th width="70" class="click-hide">Переходы Facebook</th>
                    <th width="70" class="click-hide">Переходы GA</th>
                    <th width="70" class="click-hide">Переходы YD</th>
                    {if!empty $has_context_tgb}<th width="90" class="click-hide">Переходы BSN, БСН Таргет</th>{/if}
                    {if!empty $naydidom_clicks}
                    <th width="290" class="click-hide">
                        Переходы Найдидом
                        <br />
                        <div class="naydidom-clicks all">Все</div>
                        <div class="naydidom-clicks center">Центр</div>
                        <div class="naydidom-clicks right">Сайдбар</div>
                    </th>
                    {/if}
                    <th width="60" class="click-hide">Заказано</th>
                    <th width="70">Переходы</th>
                    <th width="90" class="click-hide">Стоимость 1 перехода</th>
                    <th width="80">CTR, %</th>
                  </tr>
                  	{php:$total_show=0}
                    {php:$total_bsn_click=0}
                    {php:$total_bsn_click_in_estate=0}
                    {php:$total_facebook_click=0}
                    {php:$total_ga_click=0}
                    {php:$total_yd_click=0}
                    {php:$total_bsn_context_click=0}
                    {php:$total_naydidom_click=0}
                    {php:$total_naydidom_top_click=0}
                    {php:$total_naydidom_center_click=0}
                    {php:$total_naydidom_right_click=0}
                    {php:$banners_credits_clicks_total=0}
                    {php:$total_banners_credits_clicks_total=0}                    
                    {php:$total_click=0}
                    {loop $stats,$key,$item}
                        {php:$item['click_bsn_context_amount'] = !empty($item['click_bsn_context_amount']) ? $item['click_bsn_context_amount'] : 0}
                    	<tr>
                        	<td>{$item['date']}</td>
                        	<td>{$item['show_amount']}</td>
                            <td class="click-hide">{php:echo $item['click_bsn_amount']}</td>
                            {if!empty $in_estate_clicks}
                                <td class="click-hide">
                                    <div class="naydidom-clicks all">{$item['click_amount_in_estate']}</div>
                                </td>
                            {/if}
                            <td class="click-hide">{$item['click_facebook_amount']}</td>
                            <td class="click-hide">{$item['click_ga_amount']}</td>
                            <td class="click-hide">{$item['click_yd_amount']}</td>
                            {if!empty $has_context_tgb}<td class="click-hide">{$item['click_bsn_context_amount']}</td>{/if}
                            {if!empty $naydidom_clicks}
                                <td class="click-hide">
                                    <div class="naydidom-clicks all">{$item['click_naydidom_amount']}</div>
                                    <div class="naydidom-clicks center">{$item['click_naydidom_center_amount']}</div>
                                    <div class="naydidom-clicks right">{$item['click_naydidom_right_amount']}</div>
                                </td>
                            {/if}
                            {php:$mesure = $item['click_naydidom_amount'] + $item['click_facebook_amount'] + $item['click_ga_amount'] + $item['click_yd_amount'] - $item['banners_credits_clicks_total']}
                            <td class="click-hide">{$item['banners_credits_clicks_total']}{if!empty $mesure} <sup style="color:{ifgt $mesure, 0}green{else}red{/if}; margin: -3px 0px -10px 2px; position: absolute;">{$mesure}</sup>{/if}</td>
                            <td class="clicks">{php:echo $item['click_naydidom_amount'] + 
                                                         $item['click_bsn_amount']  + 
                                                         $item['click_facebook_amount'] + 
                                                         $item['click_ga_amount'] + 
                                                         $item['click_yd_amount'] + 
                                                         $item['click_bsn_context_amount'];}</td>
                            <td class="click-hide">-</td>
                        	<td>{ifgt $item['show_amount'],0}{php:echo number_format((($item['click_naydidom_amount']+$item['click_bsn_amount'] + $item['click_facebook_amount'] + $item['click_ga_amount'] + $item['click_yd_amount'] + $item['click_bsn_context_amount'])/$item['show_amount'])*100, 2, '.', ' ')}{else}0{/if}</td>
						</tr>
                        {php:$total_show=$total_show+$item['show_amount']}
                        {php:$total_bsn_click = $total_bsn_click + $item['click_bsn_amount']}
                        {php:$total_bsn_click_in_estate = $total_bsn_click_in_estate + $item['click_amount_in_estate']}
                        {php:$total_facebook_click = $total_facebook_click + $item['click_facebook_amount']}
                        {php:$total_ga_click = $total_ga_click + $item['click_ga_amount']}
                        {php:$total_yd_click = $total_yd_click + $item['click_yd_amount']}
                        {php:$total_bsn_context_click = $total_bsn_context_click + $item['click_bsn_context_amount']}
                        {php:$total_naydidom_click = $total_naydidom_click + $item['click_naydidom_amount']}
                        {php:$total_naydidom_top_click = $total_naydidom_top_click + $item['click_naydidom_top_amount']}
                        {php:$total_naydidom_center_click = $total_naydidom_center_click + $item['click_naydidom_center_amount']}
                        {php:$total_banners_credits_clicks_total = $total_banners_credits_clicks_total + $item['banners_credits_clicks_total']}
                        {php:$total_naydidom_right_click = $total_naydidom_right_click + $item['click_naydidom_right_amount']}
                        {php:$total_click=$total_click + $item['click_naydidom_amount'] + 
                                                         $item['click_bsn_amount'] + 
                                                         $item['click_facebook_amount'] + 
                                                         $item['click_ga_amount'] + 
                                                         $item['click_yd_amount'] + 
                                                         $item['click_bsn_context_amount']}
                    {/loop $stats} 
                  <tr>
                    <th>Всего</th>
                    <th>{$total_show}</th>
                    <th class="click-hide">{$total_bsn_click}</th>
                    {if!empty $in_estate_clicks}
                        <th class="click-hide">
                            <div class="naydidom-clicks all">{$total_bsn_click_in_estate}</div>
                        </th>
                    {/if}
                    <th class="click-hide">{$total_facebook_click}</th>
                    <th class="click-hide">{$total_ga_click}</th>
                    <th class="click-hide">{$total_yd_click}</th>
                    {if!empty $has_context_tgb}<th class="click-hide">{$total_bsn_context_click}</th>{/if}
                    {if!empty $naydidom_clicks}
                        <th class="click-hide">
                            <div class="naydidom-clicks all">{$total_naydidom_click}</div>
                            <div class="naydidom-clicks center">{$total_naydidom_center_click}</div>
                            <div class="naydidom-clicks right">{$total_naydidom_right_click}</div>            
                        </th>
                    {/if}
                    <th class="click-hide">{$total_banners_credits_clicks_total}</th>
                    <th class="total-clicks">{$total_click}</th>
                    <th class="click-hide">-</th>
                    <th>{ifgt $total_show,0}{php:echo number_format(($total_click/$total_show)*100, 2, '.', ' ')}{else}0{/if}</th>
                  </tr>
            </tbody>
            </table>
      	</div>    
    {/if}
    
    <script>
        jQuery(document).ready(function(){
            
            jQuery('a.click-hide').click(function(){
                jQuery('.click-hide').remove();
                jQuery('.showSpecStats').height(100);
            })
            
        })
    </script>

