    {php:$total_click=0}    
    {loop $stats,$key,$item}
        {ifeq $item['date'],'сегодня'}{php:$total_click_limits = $total_click}
        {else}{php:$total_click=$total_click+$item['click_bsn_amount'] + $item['click_facebook_amount']}
        {/if}
        
    {/loop $stats}
    {if!empty $total_click_limits}
    <div    style="display: inline-block;margin: 0 10px 10px;">
        <h2>Суммарная статистика по ТГБ за период с прогнозом</h2>
        <p>Средний лимит в день: <b>{php:echo number_format($limit['average_limit_per_day'], 2, '.', ' ')}</b></p>
        <p>Количество дней: <b>{$limit['datediff']}</b></p>
        <p>Лимит для 1 ТГБ: <b>{php:echo number_format($limit['limit'], 0, '.', ' ')}</b></p>
        <p>Количество ТГБ: <b>{$banners_count}</b></p>
        <p>Заказано (лимит): <b>{$clicks_limit}</b> </p>
        <p>Откликано: <b>{$total_click_limits}</b> </p>
        <p>Осталось: <b>{php:echo $clicks_limit - $total_click}</b> </p>
    </div>
    {/if}

    <table width="1440" cellspacing="0" cellpadding="10" style="clear: both;">
      <tbody>
          <tr>
            <th width="100">Дата</th>
            {ifempty $partner}
                <th width="120">Показы</th>
                <th width="120">Показы  1 ТГБ</th>
                <th width="90" class="click-hide">Переходы BSN</th>
                <th width="90" class="click-hide">Переходы Facebook</th>
                <th width="90" class="click-hide">Переходы GA</th>
                <th width="90" class="click-hide">Переходы YD</th>
                {if!empty $has_context_tgb}<th width="90" class="click-hide">Переходы BSN, Таргет</th>{/if}
            {/if}
            {ifempty $partner}
                <th width="90" class="click-hide">Заказано</th>
                <th width="90">Переходы</th>
                <th width="90">Переходы 1 ТГБ</th>
                <th width="80">CTR, %</th>
            {/if}
          </tr>
            {php:$total_show=0}
            {php:$total_show_per_day=0}
            {php:$total_bsn_click=0}
            {php:$total_facebook_click=0}
            {php:$total_ga_click=0}
            {php:$total_yd_click=0}
            {php:$total_bsn_context_click=0}
            {php:$banners_credits_clicks_total=0}
            {php:$total_banners_credits_clicks_total=0}
            
            {php:$total_click_per_day=0}    
            {php:$count=0}    
            {loop $stats,$key,$item}
                <tr>
                    <td>{$item['date']}</td>
                    {ifempty $partner}
                        <td>{$item['show_amount']}</td>
                        <td>{php: echo (int) $item['show_per_day']}</td>
                        <td class="click-hide">{$item['click_bsn_amount']}</td>
                        <td class="click-hide">{$item['click_facebook_amount']}</td>
                        <td class="click-hide">{$item['click_ga_amount']}</td>
                        <td class="click-hide">{$item['click_yd_amount']}</td>
                        {if!empty $has_context_tgb}<td class="click-hide">{$item['click_bsn_context_amount']}</td>{/if}
                    {/if}
                    {ifempty $partner}
                        {php:$mesure = $item['click_facebook_amount'] + $item['click_ga_amount'] + $item['click_yd_amount'] - $item['banners_credits_clicks_total']}
                        <td class="click-hide">{$item['banners_credits_clicks_total']} {if!empty $mesure}<sup style="color:{ifgt $mesure, 0}green{else}red{/if}; margin: -3px 0px -10px 2px; position: absolute;">{$mesure}</sup>{/if}</td>
                        <td>{php:echo $item['click_bsn_amount'] + $item['click_facebook_amount'] + $item['click_ga_amount'] + $item['click_yd_amount'] + (!empty($item['click_bsn_context_amount'])?$item['click_bsn_context_amount']:0);}</td>
                        <td>{php: echo (int) $item['click_per_day']}</td>
                        <td>{ifgt $item['show_amount'],0}{php:echo number_format((($item['click_bsn_amount'] + $item['click_facebook_amount'] + $item['click_ga_amount'] + $item['click_yd_amount'])/$item['show_amount'])*100, 2, '.', ' ')}{else}0{/if}</td>
                    {/if}
                </tr>
                {php:$total_show=$total_show+$item['show_amount']}
                {php:$total_show_per_day=$total_show_per_day+$item['show_per_day']}
                {php:$total_bsn_click = $total_bsn_click + $item['click_bsn_amount']}
                {php:$total_facebook_click = $total_facebook_click + $item['click_facebook_amount']}
                {php:$total_ga_click = $total_ga_click + $item['click_ga_amount']}
                {php:$total_yd_click = $total_yd_click + $item['click_yd_amount']}
                {php:$total_bsn_context_click = $total_bsn_context_click + (!empty($item['click_bsn_context_amount'])?$item['click_bsn_context_amount']:0)}
                {php:$total_banners_credits_clicks_total = $total_banners_credits_clicks_total + $item['banners_credits_clicks_total']}
                {ifeq $item['date'],'сегодня'}{php:$total_click_limits = $total_click}{/if}
                {php:$total_click_per_day = $total_click_per_day + $item['click_per_day']}
            {/loop $stats} 
          <tr>
            <th>Всего</th>
            {ifempty $partner}
                <th>{$total_show}</th>
                <th>{php:echo (int) ($total_show_per_day);}</th>
                <th class="click-hide">{$total_bsn_click}</th>
                <th class="click-hide">{$total_facebook_click}</th>
                <th class="click-hide">{$total_ga_click}</th>
                <th class="click-hide">{$total_yd_click}</th>
                {if!empty $has_context_tgb}<th class="click-hide">{$total_bsn_context_click}</th>{/if}
            {/if}                                             
            {ifempty $partner}
                <th class="click-hide">{$total_banners_credits_clicks_total}</th>
                <th>{$total_click}</th>
                <th>{php:echo (int) ($total_click_per_day / $key);}</th>
                <th>{ifgt $total_show,0}{php:echo number_format(($total_click/$total_show)*100, 2, '.', ' ')}{else}0{/if}</th>
            {/if}
          </tr>
    </tbody>
    </table>
