{ifeq $side,'top'}
    <iframe src="http://ad.adriver.ru/cgi-bin/erle.cgi?sid=53412&target=blank&bt=36&pz=0&rnd=515500263&w=750&h=90" frameborder="0" vspace="0" hspace="0" width="750" height="90" marginwidth="0" marginheight="0" scrolling="no">
        <a href="http://ad.adriver.ru/cgi-bin/click.cgi?sid=53412&bt=36&pz=0&rnd=515500263" target="_blank">
        <img src="http://ad.adriver.ru/cgi-bin/rle.cgi?sid=53412&bt=36&pz=0&rnd=515500263" alt="-AdRiver-" style="border:none;" width="750" height="90"/>
        </a>
    </iframe>

{/if}
{ifeq $side,'right_top'}
    <iframe src="http://ad.adriver.ru/cgi-bin/erle.cgi?sid=53412&bn=1&target=blank&bt=42&pz=0&rnd=1355305591" frameborder="0" vspace="0" hspace="0" width="300" height="400" marginwidth="0" marginheight="0" scrolling="no"></iframe>
{/if}
{ifeq $side,'right_bottom'}
    <iframe src="http://ad.adriver.ru/cgi-bin/erle.cgi?sid=53412&bn=2&target=top&bt=42&pz=0&rnd=2040391561" frameborder=0 vspace=0 hspace=0 width="300" height="400" marginwidth=0 marginheight=0 scrolling=no></iframe>
{/if}
{ifeq $side,'bottom'}
    <iframe src="http://ad.adriver.ru/cgi-bin/erle.cgi?sid=53412&target=blank&bt=1&pz=0&rnd=311502339" frameborder="0" vspace="0" hspace="0" width="468" height="60" marginwidth="0" marginheight="0" scrolling="no"></iframe>
{/if}