{php:$show_tgb = !empty($partner_count) || !empty( $list) }
{if!empty $show_tgb}
    {ifeq $action,'estate_list'}
        <div class="tgb-list-estate tgb-list in-row"  data-estate-type="{$estate_type}">
    {elseifin $action,'left','right'}
        <div class="tgb-wrap">
    {/if}
    {php:$index=0}
    {if!empty $partner_count}
        {loop $partner_count,$p,$s}
           {iflt $index,$count}
                    <ins data-revive-zoneid='245' data-revive-block='1' data-revive-id='ef31140a2143d1fde6638a033856c01e'></ins>
           {/if}
        {php:++$index}
        {/loop $partner_count}
    {/if}  
    {loop $list,$key,$item}
        {if!empty $item['title']}
            {ifgt $count,$index}
            {ifeq $item['link_type'],'external'}
                <div class="advert tgb col-1"{if!empty $mainpage_new} onClick="if(!_debug) try{ _gaq.push(['_trackEvent', 'Целевое действие', 'Клик ТГБ на новой главной']); }catch(e){}"{elseif!empty $mainpage} onClick="if(!_debug) try{ _gaq.push(['_trackEvent', 'Целевое действие', 'Клик ТГБ на новой главной']); }catch(e){}"{/if}             {if!empty $item['advert_url']}data-advert-url="{$item['advert_url']}"{/if}            {if!empty $item['token']}data-token="{$item['token']}"{/if}            >
                    <span class="external-link br3{if!empty $item['with_popup']} disabled{/if}" data-link="{$item['direct_link']}" title="{quoted:$item['title']}" data-type="tgb" data-id="{$item['id']}" data-position="">
                        <div class="tags">
                            {if!empty $item['slogan_1']}<span class="tag br3">{$item['slogan_1']}</span><span class="clearfix"></span>{/if}
                            {if!empty $item['slogan_2']}<span class="tag br3">{$item['slogan_2']}</span>{/if}
                        </div>
                        {php:$_index = rand(0,1);}
                        <img class="br3" src="{ifempty $item['photo']}{$img_url[$_index]}{static:/}img/uploads/tgb/{$item['img_src']}{else}{$item['photo']}{/if}" alt="{quoted:$item['title']}" />
                        {if!empty $item['get_pixel']}<img src="{$item['get_pixel']}" alt="" style="width:1px; height:1px;border:none;" />{/if}
                        {if!empty $item['with_popup']}
                            <span class="annotation transition-text">
                                {$item['agency_title']}
                                {$item['agency_phone']}
                            </span>
                            <span class="title">Кликните, и мы перезвоним!</span>
                        {else}
                            {if!empty $item['annotation']}<span class="annotation transition-text">{$item['annotation']}</span>{/if}
                            <span class="title">{$item['title']}</span>
                        {/if}
                    </span>
                </div>
            {else}
                <div class="advert tgb br3 transition{if!empty $item['with_popup']} with-popup{/if}"{if!empty $mainpage_new} onClick="if(!_debug) try{ _gaq.push(['_trackEvent', 'Целевое действие', 'Клик ТГБ на новой главной']); }catch(e){}"{elseif!empty $mainpage} onClick="if(!_debug) try{ _gaq.push(['_trackEvent', 'Целевое действие', 'Клик ТГБ на новой главной']); }catch(e){}"{/if} {if!empty $item['advert_url']}data-advert-url="{$item['advert_url']}"{/if}            {if!empty $item['token']}data-token="{$item['token']}"{/if}>
                    <a href="{$item['direct_link']}" title="{quoted:$item['title']}" data-type="tgb" data-id="{$item['id']}" data-position="">
                        {php:$_index = rand(0,1);}
                        <img src="{ifempty $item['photo']}{$img_url[$_index]}{static:/}img/uploads/tgb/{$item['img_src']}{else}{$item['photo']}{/if}" alt="{quoted:$item['title']}" />
                        {if!empty $item['get_pixel']}<img src="{$item['get_pixel']}" alt="" style="width:1px; height:1px;border:none;" />{/if}
                        
                        {if!empty $item['annotation']}<span class="annotation">{$item['annotation']}</span>{/if}
                        <span class="title">{$item['title']}</span>
                    </a>
                </div>
            {/if}
        {/if}
        {php:++$index}
        {/if}
    {/loop $list}
  
    {ifin $action,'left','right','estate_list'}</div>{/if}
{else}
    {if!empty $action}
        {ifeq $action,'estate_list'}
            <div class="empty-list"></div>
        {/if}
    {/if}
{/if}


