<h1 class="pageTitle">Вертикальный баннер (баннеры)</h1>
{ifempty $data_mapping['id']['value']}
    <form class="form_default" method="post" action="/admin/advert_objects/tgb_float/add/" enctype="multipart/form-data">
    <h3>Новый баннер</h3>
{else}
    <form class="form_default" method="post" action="/admin/advert_objects/tgb_float/edit/{$data_mapping['id']['value']}/"  enctype="multipart/form-data">
    <h3>Баннер #{$data_mapping['id']['value']} &quot;{$data_mapping['title']['value']}&quot;</h3>
{/if}
    {if!empty $form_submit}
        {if!empty $errors}
            <div class="notification msgerror">
                <a class="close">Close</a>
                Ошибка. Проверьте правильность заполнения формы.
            </div>
        {else}
            {if!empty $saved}
                <div class="notification msgsuccess">
                    <a class="close">Close</a>
                    Данные сохранены.
                </div>
            {else}
                <div class="notification msgalert">
                    <a class="close">Close</a>
                    Ошибка записи в БД.
                </div>
            {/if}
        {/if}
    {/if}
    {include /admin/templates/form_default.html}
    
    {if!empty $data_mapping['id']['value']}<input type="submit" value="Сохранить" name="submit">
    {else} <input type="submit" value="Добавить" name="submit">{/if}
</form>