<div class="abuse-wrapper">
    <form action="/abuses/add/" method="POST">
        <span class="title">Пожаловаться</span>
        <span class="closebutton" data-icon="clear_black_24px"></span>
        
        <span class="text">Что не так с этим объектом?</span>
        
        {if!empty $item['id']}
            <input id="id" name="id" value="{$item['id']}" type="hidden" />
        {/if}
        
        {if!empty $item['estate_type']}
            <input id="estate_type" name="estate_type" value="{$item['estate_type']}" type="hidden" />
        {/if}
        
        <div class="row">
            <div class="list-selector application-estate-type">
                <a href="#" class="pick">Выберите причину</a>
                <a href="#" class="select">...</a>
                <input id="category" name="category" value="" required="required" type="hidden">
                <ul class="list-data" data-simplebar="init">
                    <li class="selected" data-value="">Выберите причину</li>
                    {loop $list,$k,$item}
                        <li data-value="{$item['id']}">{$item['title']}</li>
                    {/loop $list}
                </ul>
            </div>
        </div>
        {php:$offer_text = 'Отправляя заявку,';}
        {include /templates/offer.html}

        <div class="row">
            <button class="send" value="Отправить">Отправить</button>
        </div>        
    </form>
</div> 