<h1 class="pageTitle">Текущая статистика IP посетителей</h1>
<div class="caption_line">
    <!--<span class="button add-page-to-index">Добавить запись</span>-->
</div>

<span>Найдено: {$total_found}</span>
<div class="list_table ip_visits">
    <script type="text/javascript">
        function filter_activate(){
            var __filter_status = document.getElementById('f_status').value;
            var __url = '{root:/admin/system/ip_visits/not_indexed/'+document.location.href.split('/')[6]+'}';
            var __get = new Array();
            if(__filter_status!='') __get.push('f_status='+__filter_status);
            if(__get.length>0) __url = __url+'?'+__get.join('&');
            document.location.href = __url;
        }
    </script>
    
    <div class="filter_line">
        <label>
            Выбрать за последний(е):
            <input type="text" id="f_url" value="{$get_array['f_url']}" onchange="filter_activate()"  placeholder="адрес страницы">
        </label>
    </div>
    {if!empty $ip_visits}
        <table>    
            <colgroup>
                <col class="col2" width="5%">
                <col class="col2" width="20%">
                <col class="col1" width="20%">
                <col class="col1" width="5%">
                <col class="col2" width="5%">
                <col class="col2" width="5%">
                <col class="col2" width="5%">
                <col class="col2" width="25%">
                <col class="col2" width="10%">
            </colgroup>
            <thead>
                <th>IP</th>
                <th>Геоданные IP</th>
                <th>Последний заход</th>
                <th>Страниц просмотрено</th>
                <th>Средний интервал (сек)</th>
                <th>Минимальный интервал (сек)</th>
                <th>Минимальный средний интервал (сек)</th>
                <th>Тип</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>
                {loop $ip_visits,$key,$item}
                    <tr id="item_{$item['id']}" class="{if!empty $item['is_blocked']}blocked{else}{if!empty $item['user_type']}crawler{/if}{/if}">
                        <td>{$item['ip']}</td>
                        <td>{if!empty $item['txt_addr']}{$item['txt_addr']}{/if}</td>
                        <td>{$item['last_visit_formatted']}{if!empty $item['block_start_time']} <i class="block-time">{$item['block_start_time']}</i>{/if}</td>
                        <td>{$item['pages_visited']}</td>
                        <td>{$item['pages_avg_interval']}</td>
                        <td>{$item['pages_min_interval']}</td>
                        <td>{$item['pages_min_avg_interval']}</td>
                        <td>{if!empty $item['user_type']}Робот {$item['user_type']}{else}пользователь{/if}</td>
                        <td class="small_icons ac" data-ip="{$item['ip']}" data-id="{$item['id']}">
                            <a href="/admin/system/ip_visits/to_blacklist/{$item['id']}/" data-type="101" title="На 1 минуту"><span class="ico_del day{if!empty $item['is_blocked']} disabled{/if}"></span></a>
                            <a href="/admin/system/ip_visits/to_blacklist/{$item['id']}/" data-type="1010" title="На 10 минут"><span class="ico_del day{if!empty $item['is_blocked']} disabled{/if}"></span></a>
                            <a href="/admin/system/ip_visits/to_blacklist/{$item['id']}/" data-type="201" title="На 1 час"><span class="ico_del day{if!empty $item['is_blocked']} disabled{/if}"></span></a>
                            <a href="/admin/system/ip_visits/to_blacklist/{$item['id']}/" data-type="301" title="На сутки"><span class="ico_del day{if!empty $item['is_blocked']} disabled{/if}"></span></a>
                            <a href="/admin/system/ip_visits/to_blacklist/{$item['id']}/" data-type="4" title="Бессрочно"><span class="ico_del forever{if!empty $item['is_blocked']} disabled{/if}"></span></a>
                            <a href="/admin/system/ip_visits/to_blacklist/{$item['id']}/" data-type="0" title="Вернуть"><span class="ico_restore{ifempty $item['is_blocked']} disabled{/if}"></span></a>
                        </td>
                    </tr>
                {/loop $ip_visits}
            </tbody>
        </table>
        {include /admin/templates/table_paginator.html}
    {/if}
</div>