{include /templates/includes/main_head_part.html}
</head>
<body id="polls" class="payed-format">
        <div class="central-wrapper">
            <span class="polls-title">Опрос на BSN.ru</span>
            <div class="content">
                {$content}
            </div>
        </div>
        {include /templates/includes/main_footer.html}
        <footer>
            <span>1999 - {php:echo date('Y');} &copy; Большой Сервер Недвижимости</span>
            BSN.RU — информационно-аналитический портал по недвижимости. Использование всех материалов сайта, в том числе размещенных объявлений, возможно только с разрешения администрации сайта либо с указанием ссылки на источник.    
        </footer>
        
    </body>
</html>
