<h1 class="pageTitle">Метки </h1>
{ifempty $data_mapping['id']['value']}
    <form class="form_default" method="post" action="/admin/service/mortgage_applications/add/" >
    <h3>Новая заявка на ипотеку</h3>
{else}
    <form class="form_default" method="post" action="/admin/service/mortgage_applications/edit/{$data_mapping['id']['value']}/" >
    <h3>Заявка на ипотеку #{$data_mapping['id']['value']}</h3>
{/if}
    {if!empty $form_submit}
        {if!empty $errors}
            <div class="notification msgerror">
                <a class="close">Close</a>
                Ошибка. Проверьте правильность заполнения формы.
            </div>
        {else}
            {if!empty $saved}
                <div class="notification msgsuccess">
                    <a class="close">Close</a>
                    Данные сохранены.
                </div>
            {else}
                <div class="notification msgalert">
                    <a class="close">Close</a>
                    Ошибка записи в БД.
                </div>
            {/if}
        {/if}
    {/if}
    {include /admin/templates/form_default.html}
    <p>
        <input type="submit" value="Сохранить" name="submit">
    </p>  
    
</form>