<h1 class="pageTitle">Служебные</h1>
<ul class="widgetlist">
    <li>
        <a href="/admin/service/events_registration/" title="Регистрации на форуме">            
            <span>Регистрации на форуме</span>
        </a>
    </li>
    <li>
        <a href="/admin/service/stats/billing/" title="Биллинг">
            <span>Биллинг рекламных агентств</span>
        </a>
    </li>
    <li>
        <a href="/admin/service/stats/varcount/" title="Количество объектов в БД">
            <span>Количество вариантов в БД</span>
        </a>
    </li>
    <li>
        <a href="/admin/service/spam/" title="Рассылка">
            <span>Рассылка</span>
        </a>
    </li>
    <li>
        <a href="/admin/service/konkurs/" title="Конкурсы">
            <span>Конкурсы</span>
        </a>
    </li>
    <li>
        <a href="/admin/service/diploms/" title="Дипломы">
            <span>Дипломы</span>
        </a>
    </li>
    <li>
        <a href="/admin/service/markers/" title="Метки">
            <span>Метки</span>
        </a>
    </li>
    <li>
        <a href="/admin/service/abuses/" title="Жалобы">
            <span>Жалобы</span>
        </a>
    </li>
</ul>
<div class="separator"></div>
