<h1 class="pageTitle">Управление контентом сайта</h1>
<ul class="widgetlist">
    <li>
        <a href="/admin/advert_objects/tgb/" title="ТГБ">
            <img src="/admin/img/icon_tgb_64.png" alt="ТГБ">
            <span>ТГБ</span>
        </a>
    </li>
    <li>
        <a href="/admin/advert_objects/spec_offers/" title="Спецпредложения">
            <img src="/admin/img/icon_spec_offers_64.png" alt="Спецпредложения">
            <span>&nbsp;<br />Спецпредложения</span>
        </a>
    </li>
    <li>
        <a href="/admin/advert_objects/district_banners/" title="Спонсор района">
            <span>&nbsp;<br />Спонсор района</span>
        </a>
    </li>      
    <li>
        <a href="/admin/advert_objects/credit_calculator/" title="Кредитный калькулятор">
            <span>&nbsp;<br />Кредитный калькулятор</span>
        </a>
    </li>    
</ul>
<div class="separator"></div>
