<h1 class="pageTitle">Управление пользователями</h1>
<ul class="widgetlist">
   
    <li>
        <a href="/admin/service/housing_estates_rating/districts/" title="Районы">
            <span>Районы</span>
        </a>
    </li>
    <li>
        <a href="/admin/service/housing_estates_rating/experts/" title="Эксперты">
            <span>Эксперты</span>
        </a>
    </li>
    <li>
        <a href="/admin/service/housing_estates_rating/rating/" title="Рейтинг">
            <span>Рейтинг</span>
        </a>
    </li>
</ul>