<h1 class="pageTitle">Управление контентом сайта</h1>
<ul class="widgetlist">
    <li>
        <a href="/admin/content/news/" title="Управление новостями">
            <img src="/admin/img/icon_news_64.png" alt="News Icon">
            <span>Управление новостями</span>
        </a>
    </li>
    <li>
        <a href="/admin/content/articles/" title="Управление статьями">
            <img src="/admin/img/icon_statistic_64.png" alt="Articles Icon">
            <span>Управление статьями</span>
        </a>
    </li>
    <li>
        <a href="/admin/content/articles/" title="Управление статьями">
            <img src="/admin/img/icon_articles_64.png" alt="Articles Icon">
            <span>Управление статьями</span>
        </a>
    </li>    
    <li>
        <a href="/admin/content/tags/" title="Управление тегами">
            <img src="/admin/img/icon_tags_64.png" alt="Tags Icon">
            <span>Управление тегами</span>
        </a>
    </li>
</ul>
<div class="separator"></div>
