<h1 class="pageTitle">Управление объектами недвижимости</h1>
<ul class="widgetlist">
    <li>
        <a href="/admin/estate/live/" title="Жилая недвижимость">
            <img src="/admin/img/icon_estate_live_64.png" alt="Estate Live Icon">
            <span>Жилая недвижимость</span>
        </a>
    </li>
    <li>
        <a href="/admin/estate/build/" title="Строящаяся недвижимость">
            <img src="/admin/img/icon_estate_build_64.png" alt="Estate Build Icon">
            <span>Строящаяся недвижимость</span>
        </a>
    </li>
    <li>
        <a href="/admin/estate/commercial/" title="Коммерческая недвижимость">
            <img src="/admin/img/icon_estate_commercial_64.png" alt="Estate Commercial Icon">
            <span>Коммерческая недвижимость</span>
        </a>
    </li>    
    <li>
        <a href="/admin/estate/housing_estates/" title="Жилые комплексы">
            <img src="/admin/img/icon_estate_housing_estates_64.png" alt="Build complexes">
            <span>Жилые комплексы<br />&nbsp;</span>
        </a>
    </li>
    <li>
        <a href="/admin/estate/country/" title="Загородная недвижимость">
            <img src="/admin/img/icon_estate_country_64.png" alt="Estate Country Icon">
            <span>Загородная недвижимость<br />&nbsp;</span>
        </a>
    </li>
    <li>
        <a href="/admin/estate/cottages/" title="Коттеджные поселки">
            <img src="/admin/img/icon_cottages_64.png" alt="Коттеджные поселки">
            <span>Коттеджные поселки</span>
        </a>
    </li>
    <li>
        <a href="/admin/estate/business_centers/" title="Бизнес-центры">
            <img src="/admin/img/icon_business_centers_64.png" alt="Бизнес-центры"> <br /><br />
            <span>Бизнес-центры</span>
        </a>
    </li>    
</ul>
<div class="separator"></div>
