<h1 class="pageTitle">Управление географией объектов</h1>
<ul class="widgetlist">
    <li>
        <a href="/admin/geodata/objects/" title="Территориальные объекты">
            <img src="/admin/img/geo_64.png" alt="News Icon">
            <span>Территориальные объекты</span>
        </a>
    </li>
    <li>
        <a href="/admin/geodata/objects/" title="Городские районы">
            <img src="/admin/img/geo_districts_64.png" alt="News Icon">
            <span>Городские районы</span>
        </a>
    </li>
    <li>
        <a href="/admin/geodata/objects/" title="Станции метро">
            <img src="/admin/img/geo_subways_64.png" alt="News Icon">
            <span>Станции метро</span>
        </a>
    </li>
    <li>
        <a href="/admin/geodata/wrong_streets/" title="Нераспознанные улицы">
            <img src="/admin/img/geo_districts_64.png" alt="Wrong streets Icon">
            <span>Нераспознанные улицы</span>
        </a>
    </li>
</ul>
<div class="separator"></div>
