<h1 class="pageTitle">Главная страница Спецпредложений</h1>
<ul class="widgetlist">
    <li>
        <a href="/admin/sale/clients/" title="Клиенты">            
            <span>Клиенты</span>
        </a>
    </li>
    <li>
        <a href="/admin/sale/stats/campaigns/" title="Кампании">
            <span>Кампании</span>
        </a>
    </li>
    <li>
        <a href="/admin/sale/stats/offers/" title="Предложения">
            <span>Предложения</span>
        </a>
    </li>
    <li>
        <a href="/admin/sale/phones/" title="Телефоны">
            <span>Телефоны</span>
        </a>
    </li>
    <li>
        <a href="/admin/sale/finances/" title="Финансы">
            <span>Финансы</span>
        </a>
    </li>
    <li>
        <a href="/admin/sale/options/" title="Настройки">
            <span>Настройки</span>
        </a>
    </li> 
</ul>
<div class="separator"></div>