<h1 class="pageTitle">Управление контентом сайта</h1>
<ul class="widgetlist">
    <li>
        <a href="/admin/content/news/" title="Управление новостями">
            <img src="/admin/img/icon_news_64.png" alt="News Icon">
            <span>Управление новостями</span>
        </a>
    </li>
    <li>
        <a href="/admin/content/articles/" title="Управление статьями">
            <img src="/admin/img/icon_statistic_64.png" alt="Analytics Icon">
            <span>Управление статьями</span>
        </a>
    </li>
    <li>
        <a href="/admin/content/tags/" title="Управление тегами">
            <img src="/admin/img/icon_tags_64.png" alt="Tags Icon">
            <span>Управление тегами</span>
        </a>
    </li>
    <li>
        <a href="/admin/content/comments/" title="Модерация комментариев">
            <img src="/admin/img/icon_comments_64.png" alt="comments Icon">
            <span>Модерация комментариев</span>
        </a>
    </li>
    <li>
        <a href="/admin/content/calendar_events/" title="Календарь событий">
            <img src="/admin/img/icon_calendar_64.png" alt="calendar Icon">
            <span>Календарь событий</span>
        </a>
    </li>
    <li>
        <a href="/admin/content/galleries/" title="Фотогалереи">
            <span>Фотогалереи</span>
        </a>
    </li>
    <li>
        <a href="/admin/content/opinions/" title="Мнения экспертов">
            <img src="/admin/img/icon_opinions_64.png" alt="opinions Icon">
            <span>Мнения экспертов</span>
        </a>
    </li>
    <li>
        <a href="/admin/content/partners_articles/" title="Статьи от партнеров">
            <img src="/admin/img/icon_partners_articles_64.png" alt="Partners Icon">
            <span>Статьи от партнеров</span>
        </a>
    </li>
    <li>
        <a href="/admin/content/dictionary/" title="Словарь">
            <img src="/admin/img/icon_dictionary_64.png" alt="Dictionary Icon">
            <span>Словарь</span>
        </a>
    </li>
    <li>
        <a href="/admin/content/guestbook/" title="Гостевая книга">
            <img src="/admin/img/icon_guestbook_64.png" alt="Guestbook Icon">
            <span>Гостевая книга</span>
        </a>
    </li>
    <li>
        <a href="/admin/content/help/" title="Раздел помощи">
            <img src="/admin/img/icon_guestbook_64.png" alt="Guestbook Icon">
            <span>Раздел помощи</span>
        </a> 
    </li>
</ul>
<div class="separator"></div>