{include /templates/includes/main_head_part.html}
</head>
<body id="clear-template">
    {if!empty $payed_format}                  
        <div class="fullscreen-banner bg-cover lazy"{if!empty $photos[0]} data-src="/img/uploads/big/{$photos[0]['subfolder']}/{$photos[0]['name']}"{/if}></div>
    {/if}    
    
    {include /templates/includes/main_header_part.html}
    
    <div class="shadow-wrapper" id="shadow-wrapper">
    
        <div class="content">
            {$content}
        </div> <!--/#content-->
    </div>
    
    {include /templates/includes/main_footer_part.html}
</body>
</html>