<ul class="social" itemscope itemtype="http://schema.org/Organization">
    <link itemprop="url" href="https://www.bsn.ru">
    <meta itemprop="name" content="ООО «ПетроСервис»">
    <meta itemprop="address" content="г. Санкт-Петербург, Новочеркасский проспект, 33к2, офис 8Н">
    <meta itemprop="telephone" content="+7 (812) 711-13-13">
    <li class="icon-VK socicon"><a href="//vk.com/bsn_ru" itemprop="sameAs"  target="_blank" title="BSN.ru VK"></a></li>
    <li class="icon-YouTube-play socicon"><a href="//www.youtube.com/channel/UCs-JHz_clECjieYwzi0irMw" itemprop="sameAs"  target="_blank" title="BSN.ru Youtube"></a></li>
    <li class="icon-telegram socicon"><a href="https://telegram.me/bsn_ru" itemprop="sameAs"  target="_blank" title="BSN.ru Telegram"></a></li>
</ul>            
