<script src="https://www.google.com/recaptcha/api.js?lang=ru" async defer></script>
<form action="?" method="POST">
    <h1>Обнаружена подозрительная активность</h1>
    <div class="text">
        <p>Наша система обнаружила подозрительную активность с вашего IP. Пожалуйста, подтвердите что вы не робот.</p>
        <p></p>
        <p></p>
    </div>
  <div class="g-recaptcha" data-sitekey="6LfjtwcTAAAAAPry3YW7ycqDsqXWuctzNgUiomh0"></div>
  <br/>
  <input type="submit" value="Подтвердить" class="button green">
</form>                                
