{ifeq $direct_type,'2rows_content'}
    <div class="clearfix"></div>
    <!-- Яндекс.Директ -->
    <div id="two_rows_news_yandex_ad"></div>
    <script type="text/javascript">
    (function(w, d, n, s, t) {
        w[n] = w[n] || [];
        w[n].push(function() {
            Ya.Direct.insertInto(110062, "two_rows_news_yandex_ad", {
                stat_id: 40316,
                ad_format: "direct",
                font_size: 1,
                font_family: "verdana",
                type: "horizontal",
                limit: 2,
                title_font_size: 1,
                links_underline: false,
                site_bg_color: "FFFFFF",
                bg_color: "F3F3F3",
                title_color: "000000",
                url_color: "0066CC",
                text_color: "000000",
                hover_color: "66B2FF",
                favicon: true,
                no_sitelinks: true
            });
        });
        t = d.getElementsByTagName("script")[0];
        s = d.createElement("script");
        s.src = "//an.yandex.ru/system/context.js";
        s.type = "text/javascript";
        s.async = true;
        t.parentNode.insertBefore(s, t);
    })(window, document, "yandex_context_callbacks");
    </script>
    {elseifeq $direct_type,'2rows_estate'}
    <!-- Яндекс.Директ -->
    <div id="two_rows_estate_yandex_ad"></div>
    <script type="text/javascript">
    (function(w, d, n, s, t) {
        w[n] = w[n] || [];
        w[n].push(function() {
            Ya.Direct.insertInto(110062, "two_rows_estate_yandex_ad", {
                stat_id: 40317,
                ad_format: "direct",
                font_size: 1,
                font_family: "verdana",
                type: "horizontal",
                limit: 2,
                title_font_size: 1,
                links_underline: false,
                site_bg_color: "FFFFFF",
                bg_color: "F3F3F3",
                title_color: "000000",
                url_color: "0066CC",
                text_color: "000000",
                hover_color: "66B2FF",
                favicon: true,
                no_sitelinks: true
            });
        });
        t = d.getElementsByTagName("script")[0];
        s = d.createElement("script");
        s.src = "//an.yandex.ru/system/context.js";
        s.type = "text/javascript";
        s.async = true;
        t.parentNode.insertBefore(s, t);
    })(window, document, "yandex_context_callbacks");
    </script>
    {elseifeq $direct_type,'gallery'} 
        <!-- Яндекс.Директ -->
        
            <div id="gallery_yandex_ad"></div>
            <script>
                (function(w, d, n, s, t) {
                w[n] = w[n] || [];
                w[n].push(function() {
                    Ya.Direct.insertInto(110062, "gallery_yandex_ad", {
                        stat_id: 3,
                        ad_format: "direct",
                        font_size: 1,
                        type: "horizontal",
                        limit: 1,
                        title_font_size: 2,
                        links_underline: false,
                        site_bg_color: "FFFFFF",
                        title_color: "FFFFFF",
                        url_color: "C2C2C2",
                        text_color: "FFFFFF",
                        hover_color: "0066FF",
                        favicon: true,
                        no_sitelinks: true
                    });
                });
                
                t = d.documentElement.firstChild;
                s = d.createElement("script");
                s.type = "text/javascript";
                s.src = "http://an.yandex.ru/system/context.js";
                s.setAttribute("async", "true");
                t.insertBefore(s, t.firstChild);
                })(window, document, "yandex_context_callbacks");
            </script> 
{/if}        