<h1 class="pageTitle">Новости из источников</h1>
<div class="caption_line">
    <a href="/admin/content/{$content_type}/?f_status=5" target="_blank" class="button">К списку черновиков</a>
    <span class="button run-parser {if!empty $parser_busy}parser-busy{/if} {if!empty $parser_status}{$parser_status}{/if} {ifempty $can_run_parser} disabled{/if}" >Запустить парсер</span>
    {if!empty $next_auto_run}
        <span class="parser_info">Следующий автоматический запуск: {$next_auto_run}:00</span>
    {/if}    
    {if!empty $last_hand_run}
        <span class="parser_info">Последний ручной запуск: {$last_hand_run}</span>
    {/if}
</div>
<div class="list_table news_from_sources">
    <script type="text/javascript">
        function filter_activate(){
            var __filter_title =    document.getElementById('f_title').value;
            var __filter_date =     document.getElementById('f_date').value;
            var __filter_status =   document.getElementById('f_status').options[document.getElementById('f_status').selectedIndex].value;
            var __filter_region =   document.getElementById('f_region').options[document.getElementById('f_region').selectedIndex].value;
            var __filter_category = document.getElementById('f_category').options[document.getElementById('f_category').selectedIndex].value;
            var __url = '{root:/admin/content/{$content_type}/}';
            var __get = new Array();
            if(__filter_title!='') __get.push('f_title='+__filter_title);
            if(__filter_date!='') __get.push('f_date='+__filter_date);
            if(__filter_status!=0) __get.push('f_status='+__filter_status);
            if(__filter_region!=0) __get.push('f_region='+__filter_region);
            if(__filter_category!=0) __get.push('f_category='+__filter_category);
            if(__get.length>0) __url = __url+'?'+__get.join('&');
            document.location.href = __url;
        }
    </script>
    
    <div class="filter_line">
        <label>
            Заголовок:
            <input type="text" id="f_title" value="{$get_array['f_title']}" onchange="filter_activate()"  placeholder="часть заголовка">
        </label>
        <label>
            Ссылка:
            <input type="text" id="f_date" value="{$get_array['f_date']}" onchange="filter_activate()" placeholder="часть даты">
        </label>
        <label>
            Статус:
            <select id="f_status" onchange="filter_activate()" style="width: 150px;">
                <option value="0">все</option>
                {loop $statuses,$key,$val}
                    <option value="{$key}"{ifeq $get_array['f_status'],$key} selected="selected"{/if}>{$val}</option>
                {/loop $statuses}
            </select>
        </label>
    </div>
    {if!empty $list}
        <table>    
            <colgroup>
                <col class="col2" width="5%">
                <col class="col1" width="40%">
                <col class="col2" width="45%">
                <col class="col1" width="5%">
                <col class="col2" width="5%">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Заголовок</th>
                    <th>URL</th>
                    <th>Статус</th>
                    <th>Статей прочитано</th>
                    <th>Статей опубликовано</th>
                </tr>
            </thead>
            <tbody>
                {loop $list,$key,$item}
                    <tr id="item_{$item['id']}">
                        <td>{$item['id']}</td>
                        <td>{$item['title']}</td>
                        <td><a href="{$item['url']}" target="_blank">{$item['url']}</a></td>
                        <td class="news-source-status">
                            <span class="{ifeq $item['status'],1}checked{/if} switcher" data-id="{$item['id']}"><span class="circled"></span></span>
                        </td>
                        <td>{$item['articles_recieved']}</td>
                        <td>{$item['articles_published']}</td>
                    </tr>
                {/loop $list}
                <tr>
                    <td>Всего</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{$totals['articles_recieved']}</td>
                    <td>{$totals['articles_published']}</td>
                </tr>
            </tbody>
        </table>
        {include /admin/templates/table_paginator.html}
    {else}
        <p style="padding:30px;">Запрошенные данные не найдены</p>
    {/if}
</div>
<script>
    jQuery(document).ready(function(){
        jQuery('.switcher').on('click',function(){
            _this = jQuery(this);
            var _id = _this.attr('data-id');
            var _active = (_this.hasClass('checked')?0:1);
            jQuery.ajax({
                type: "POST", dataType: 'json',
                async: true, cache: false,
                url: '/admin/content/{$content_type}/news_sources/change_status/',
                data: {ajax: true, id:_id, active:_active},
                success: function(msg){
                    if(typeof(msg)=='object' && msg.ok) {
                        _this.toggleClass('checked');
                    } else alert('Запрос не выполнен! '+msg.error);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    alert('Ошибка запроса к серверу!');
                },
                complete: function(){
                    _input.removeClass('wait');
                }
            });
        });
        jQuery('.run-parser').on('click',function(){
            _this = jQuery(this);
            if(_this.hasClass('parser-busy')) return;
            if(!confirm('Вы уверены что нужно запустить парсер?')) return;
            if(!_this.hasClass('disabled')) _this.addClass('parser-busy');
            jQuery.ajax({
                type: "GET", dataType: 'json',
                async: true, cache: false,
                url: '/admin/content/{$content_type}/news_sources/run_parser/',
                data: {ajax: true},
                success: function(msg){
                    if(typeof(msg)=='object' && msg.ok) {
                        if(msg.message !== undefined) alert(msg.message);
                        _this.removeClass('parser-busy');
                        _this.addClass('disabled');
                    } else alert('В ходе выполнения возникла ошибка! '+msg.error);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown){
                    alert('Ошибка запроса к серверу!');
                },
                complete: function(){
                }
            });
        });
    });
</script>