    {php:$id = !empty($pitem['id'] ) ? $pitem['id'] : ( !empty($data_mapping['id']['value']) ? $data_mapping['id']['value'] : 0 ) }
    <div class="test-wrapper {if!empty $data_mapping['id']['value']}template {elseifempty $id}template {/if}clearfix" data-id="{$id}" data-session-id="{php:echo session_id();}" >
        <span class="refresh-item" data-icon="save" title="Обновить запись"></span>
        <span class="delete-item" title="Удалить запись"></span>
        <input type="text" placeholder="Заголовок" value="{if!empty $pitem['title']}{$pitem['title']}{/if}" name="test_title" class="test-title"/>
        
        <div class="questions">
        {if!empty $pitem['questions']}
            {php:$questions = $pitem['questions']}
            {loop $questions,$q,$question}
                {include /modules/content/templates/admin.test.question.item.html}
            {/loop $questions}
        {/if}
            <span class="add" data-icon="add">Добавить вопрос</span>
        </div> 
    </div>
