<h1 class="pageTitle">Новости / Баннеры</h1>
{ifempty $data_mapping['id']['value']}
    <form class="form_default" method="post" action="/admin/content/{$content_type}/mailer_banners/add/" enctype="multipart/form-data">
    <h3>Новый Баннер</h3>
{else}
    <form class="form_default" method="post" action="/admin/content/{$content_type}/mailer_banners/edit/{$data_mapping['id']['value']}/" enctype="multipart/form-data">
    <h3>Баннер #{$data_mapping['id']['value']} &quot;{$data_mapping['link']['value']}&quot;</h3>
{/if}
    {if!empty $form_submit}
        {if!empty $errors}
            <div class="notification msgerror">
                <a class="close">Close</a>
                Ошибка. Проверьте правильность заполнения формы.
            </div>
        {else}
            {if!empty $saved}
                <div class="notification msgsuccess">
                    <a class="close">Close</a>
                    Данные сохранены.
                </div>
            {else}
                <div class="notification msgalert">
                    <a class="close">Close</a>
                    Ошибка записи в БД.
                </div>
            {/if}
        {/if}
    {/if}
    {include /admin/templates/form_default.html}
 {if!empty $data_mapping['id']['value']}
       
    <p class="title_row" style="clear:none;">Изображение (максимальная ширина 240px), разрешенные форматы JPG и PNG.</font></p>
    <p style="display:block; clear:none;" id="p_field_position_in_head" title="если задана ссылка на картинку, то загруженное изображение не выводится, т.е. приоритет у ссылки на картинку">
        <img src="{static:/}{$img_folder}/{$data_mapping['name']['value']}" alt=""/><br />
        
        <span class="lf fieldwrapper">
        Загрузить новое изображение

            <input type="file" placeholder="" value="{$data_mapping['name']['value']}" name="name" id="name" class="lf">
            {if!empty $data_mapping['name']['error']}
                <span class="small_text red">{$data_mapping['name']['error']}</span>
            {/if}
        </span>
    </p>
    {/if}  
    <p style="clear:none;">
        {if!empty $data_mapping['id']['value']}<input type="submit" value="Сохранить" name="submit">
        {else} <input type="submit" value="Сохранить и добавить фото" name="submit">{/if}
    </p>      
</form>