<div class="item">
                    <a class="internal-link" href="/news/{$nitem['category_code']}/{if!empty $nitem['region_code']}{$nitem['region_code']}/{/if}{$nitem['chpu_title']}/"></a>
                    <a href="/news/{$nitem['category_code']}/{if!empty $nitem['region_code']}{$nitem['region_code']}/{/if}{$nitem['chpu_title']}/" title="{$nitem['title']}" class="title transition-text">{$nitem['title']}</a>    
                     <p class="smallnotes clearfix">
                        <time  datetime="{$nitem['datetime']}">{$nitem['normal_date']}</time>
                     </p>
                </div>