<div class="item">
                    <a class="internal-link" href="/news/{$nitem['category_code']}/{if!empty $nitem['region_code']}{$nitem['region_code']}/{/if}{$nitem['chpu_title']}/"></a>
                    <a href="/news/{$nitem['category_code']}/{if!empty $nitem['region_code']}{$nitem['region_code']}/{/if}{$nitem['chpu_title']}/" title="{$nitem['title']}" class="title transition-text">{$nitem['title']}</a>    
                     <p class="smallnotes clearfix">
                        <time  datetime="{$nitem['datetime']}">{$nitem['normal_date']}</time>
                        <span class="views_count transition" data-icon="visibility">{$nitem['views_count']}</span>
                        <span class="comments_count transition" data-icon="chat_bubble_outline" data-icon="chat_bubble_outline">{$nitem['comments_count']}</span>

                     </p>
                </div>