<style>

.msgerror {
color: #ff0000;
}
.notification {
padding: 5px;
}
</style>
<!--
<p>Загрузите картинку фиксированной ширины <b>1920 px</b> и высотой <b>до 1200 рх</b>, <b>до 350 Кб</b>, в формате <b>JPG</b></p>
{if!empty $errors}
    {loop $errors, $k, $text}
        <div class="notification msgerror">- {$text}</div>
    {/loop $errors}
{/if}
<form action="" method="POST" enctype="multipart/form-data" style="border:1px solid #ccc; padding:10px; margin-top: 15px;">
<input type="file" name="image" style="clear: both;" />
<button class="button" type="submit" name="submit" value="Загрузить">Загрузить</button>
</form>
{if!empty $filename} 
    <style>body{background:url({$filename}) no-repeat 50% 0!important;}</style>
{/if}
-->
<script type="text/javascript">new adriver("bottom-pop", {sid:53412, bt:52, bn:23});</script>


