<h1 class="pageTitle">Overlay баннер  | Заявки</h1>
{if!empty $results['delete']}
    {iflt $results['delete'];0}
        <div class="notification msgerror">
            <a class="close">Close</a>
            Ошибка. Удаление элемента не выполнено.
        </div>
    {else}
        <div class="notification msgsuccess">
            <a class="close">Close</a>
            Удаление элемента #{$results['delete']} произведено успешно.
        </div>
    {/if}
{/if}
<div class="list_table">
    <script type="text/javascript">
        function filter_activate(){
            var __filter_status = document.getElementById('f_status').value;
            var __url = '{root:/admin/advert_objects/tgb_overlay/phones/}';
            var __get = new Array();
            if(__filter_status!='') __get.push('f_status='+__filter_status);
            if(__get.length>0) __url = __url+'?'+__get.join('&');
            document.location.href = __url;
        }
    </script>
    
    <div class="filter_line">
        <label>
            Статус:
            <select id="f_status" onchange="filter_activate()" style="width: 150px;">
                {loop $statuses,$key,$val}
                    <option value="{$key}"{ifeq $get_array['f_status'],$key} selected="selected"{/if}>{$val}</option>
                {/loop $statuses}
            </select>
        </label>
    </div>
    {if!empty $list}
        <table>    
            <colgroup>
                <col class="col1" width="1%">
                <col class="col2" width="15%">
                <col class="col2" width="15%">
                <col class="col1" width="15%">
                <col class="col2" width="15%">
                <col class="col2" width="15%">
                <col class="col1" width="5%">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Дата поступления</th>
                    <th>Статус</th>
                    <th>Телефон</th>
                    <th>Страница</th>
                    <th>Баннер</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {loop $list,$key,$item}
                    <tr id="item_{$item['id']}" {ifeq $item['status'],1}class="lead"{else}{ifeq $item['status'],2}class="spam"{/if}{/if}>
                        <td>{$item['id']}</td>
                        <td>{$item['datetime']}</td>
                        <td>{ifeq $item['status'],1}Отработана{else}на модерации{/if}</td>
                        <td>{$item['phone']}</td>
                        <td><a href="{$item['ref']}" target="_blank">{$item['ref']}</a></td>
                        <td><a href="/admin/access/agencies/edit/{$item['agency_id']}/" target="_blank">{$item['agency_title']} #{$item['agency_id']}</a>, <br />"{$item['title']}" #{$item['id_parent']}</td>
                        <td class="small_icons ac">
                            {ifeq $item['status'],2}
                                <a href="/admin/advert_objects/tgb_overlay/phones/to_called/{$item['id']}/" title="В отработанные"><span class="ico_to_called">В отработанные</span></a>
                            {/if}
                        </td>
                    </tr>
                {/loop $list}
            </tbody>
        </table>
        {include /admin/templates/table_paginator.html}
    {else}
        <p style="padding:30px;">Запрошенные данные не найдены</p>
    {/if}
</div>