<div class="central-main-content br3 clearfix col-3"> 

    {if!empty $search_description}
        <div class="info-box">
            <strong>Вы искали:</strong> {$search_description}
        </div>
    {/if}

    <div id="search-results">
        
        {if!empty $list}
            {php:$advert_in_estate_list = true;}
            {include /modules/estate/templates/list.block.html}
        {else}
            {include /modules/estate/templates/list.divide.queries.html}
        {/if}
    </div>
    
    {if!empty $petned_call}
        <div class="callback-show"></div>
    {/if}
</div> 

    <div class="clearfix"></div>
    

 
