<div class="lostpassword-form">
    <form class=" active br3" name="through_auth_form" method="POST" action="/lostpassword/sent/">
        <span class="title">Восстановление пароля</span>

        <div class="row">
            <input type="text" id="login_email" name="login_email" value="" placeholder="Электронная почта" required="required" />
        </div>
        
         <div class="row">
            <button class="send" value="Отправить">Отправить</button>
        </div>        
        
    </form>
</div>