{include /modules/mailers/templates/simple.header.html}
<tr> <!-- content - title -->
    <td valign="top" style="border-collapse:collapse; padding:0 0 20px 0; font-size:30px; line-height: 36px;" align="left"> 
    Добрый день!    
    </td>
</tr>
<tr> <!-- content - text -->
    <td valign="top" style="border-collapse:collapse; padding: 0; font-size:18px; line-height: 26px;" align="left"> 
        Вы (или кто-то другой) запросили восстановление пароля на портале {$env['host']}. В качестве логина был указан Ваш адрес электронной почты.<br /><br />
        Если Вы не подавали заявку на восстановление пароля и не хотите ничего менять, пожалуйста, просто закройте это письмо и ничего не предпринимайте.<br /><br />
        Если запрос был сделан Вами, то перейдите по <a href="{$env['url']}lostpassword/?email={$data['email']}&code={$data['code']}">ссылке</a> и продолжите процедуру восстановления доступа.
    </td>
</tr>
{include /modules/mailers/templates/simple.footer.html}

