{include /modules/mailers/templates/simple.header.html}
<tr> <!-- content - title -->
    <td valign="top" style="border-collapse:collapse; padding:0 0 20px 0; font-size:30px; line-height: 36px;" align="left"> 
    Добрый день, <b>{$item['name']}</b>!    
    </td>
</tr>
<tr> <!-- content - text -->
    <td valign="top" style="border-collapse:collapse; padding: 0; font-size:18px; line-height: 26px;" align="left"> 
        Компания  «{$item['agency_title']}» удалила Вас из корпоративного аккаунта на <a href="https://www.bsn.ru/">bsn.ru</a><br/><br />
        Ваши объекты и настройки аккаунта остались без изменений.
    </td>
</tr>
{include /modules/mailers/templates/simple.footer.html}
                            