<h1>Регистрация нового пользователя</h1>
<h3 class="ok">Регистрация успешно завершена</h3>
<p>На электронную почту {$fields['email']} было выслано письмо с данными для входа в личный кабинет.</p>
<div class="payment-info">
    <h2>Теперь вы можете:</h2>
    <p><a href="/authorization/" title="Разместить объявление">Разместить объявление</a> о продаже или аренде. Бесплатно 1 объявление.</p>
    <p>Приобрести <a href="/advertising/" title="Пакет услуг">пакет услуг</a>, для размещения большего количества объявлений.</p>
    <p><a href="/advertising/" title="Услуги">Воспользоваться услугами</a> выделения и позиционирования объявлений для получения большего количества откликов.</p>
    <p><a href="/service/consultant/add/" title="Получить консультацию">Получить консультацию</a> по любому виду недвижимости, сопровождению сделок, Страхованию, Судебной практике и др.</p>
    <p>ВНИМАНИЕ: услуга предназначена для частных лиц. По любым вопросам звоните по телефону: +7 (812) 711-13-13.</p>
</div>    
