<h1 class="pageTitle">{$data_mapping['year']['value']}</h1>
{ifempty $data_mapping['id']['value']}
    <form class="form_default" method="post" action="/admin/service/diploms/add/">
    <h3>Новая новость</h3>
{else}
    <form class="form_default" method="post" action="/admin/service/diploms/edit/{$data_mapping['id']['value']}/">
    <h3>Дипломы за {$data_mapping['year']['value']} год</h3>
{/if}
    {if!empty $form_submit}
        {if!empty $errors}
            <div class="notification msgerror">
                <a class="close">Close</a>
                Ошибка. Проверьте правильность заполнения формы.
            </div>
        {else}
            {if!empty $saved}
                <div class="notification msgsuccess">
                    <a class="close">Close</a>
                    Данные сохранены.
                </div>
            {else}
                <div class="notification msgalert">
                    <a class="close">Close</a>
                    Ошибка записи в БД.
                </div>
            {/if}
        {/if}
    {/if}
    {include /admin/templates/form_default.html}
    {if!empty $data_mapping['id']['value']}
        <fieldset>
            <h3>Загрузка фотографий для {$data_mapping['year']['value']} года (Минимальные размеры {php:echo Config::Get('images/min_width');} x {php:echo Config::Get('images/min_height');} px)</h3>
            <input type="file" name="file_upload" id="file_upload" data-id="{$data_mapping['id']['value']}" data-url="/admin/service/diploms/photos/" data-session-id="{php:echo session_id();}" />
        </fieldset>
    {/if}
</form>