{if!empty $list}
    <div class="list">
        <div class="header">
            <div>&nbsp;</div>
            <div class="level"><span data-sort="{ifeq $sortby,11}12{elseifempty $sortby}12{else}11{/if}" class="sort{ifeq $sortby,11} up{elseifeq $sortby,12} down{elseifempty $sortby} up{/if}">Эт.</span></div>
            <div class="number"><span data-sort="{ifeq $sortby,13}14{elseifempty $sortby}14{else}13{/if}" class="sort{ifeq $sortby,13} up{elseifeq $sortby,14} down{elseifempty $sortby} up{/if}">№</span></div>
            <div class="square"><span data-sort="{ifeq $sortby,1}2{elseifempty $sortby}2{else}1{/if}" class="sort{ifeq $sortby,1} up{elseifeq $sortby,2} down{elseifempty $sortby} up{/if}">S,м<sup>2</sup></span></div>
            <div class="cost_meter"><span data-sort="{ifeq $sortby,3}4{else}3{/if}" class="sort{ifeq $sortby,3} up{elseifeq $sortby,4} down{/if}">Ставка,<i class="currency-rub rur">a</i></span></div>
            <div class="cost"><span data-sort="{ifeq $sortby,5}6{else}5{/if}" class="sort{ifeq $sortby,5} up{elseifeq $sortby,6} down{/if}">В месяц,<i class="currency-rub rur">a</i></span></div>
            <div class="renter"><span data-sort="{ifeq $sortby,7}8{else}7{/if}" class="sort{ifeq $sortby,7} up{elseifeq $sortby,8} down{/if}">Арендатор</span></div>
            <div class="date-rent-end"><span data-sort="{ifeq $sortby,9}10{else}9{/if}" class="sort{ifeq $sortby,9} up{elseifeq $sortby,10} down{/if}">Срок аренды</span></div>
        </div>
        <div class="scrolled">
            {loop $list,$k,$item}
                {php:$active = in_array($item['id'], $ids)}
                <div class="item{if!empty $active} active{/if}" data-id="{$item['id']}" data-id-rent="{$item['id_renter']}"  data-date-start="{if!eq $item['date_rent_start'],'0000-00-00'}{$item['date_rent_start_normal']}{/if}"  data-date-end="{if!eq $item['date_rent_end'],'0000-00-00'}{$item['date_rent_end_normal']}{/if}" >
                    <label class="checkbox">
                        <input type="checkbox" id="check_{$item['id']}" class="lf" name="check_all" value="{$item['id']}" data-true-value="1" data-false-value="2">
                    </label>
                    <span class="level">{ifempty $item['level']}ц{else}{squareformat:$item['level']}{/if}</span>
                    <span class="number">{if!empty $item['number']}{$item['number']}{/if}</span>
                    <span class="square">{squareformat:$item['square']} </span>
                    <span class="cost_meter">{numberformat:$item['cost_meter']}</span>
                    <span class="cost">{numberformat:$item['cost']}</span>
                    <span class="renter"><b>{$item['renter_title']}</b></span>
                    <span class="date-rent-end{if!empty $item['datediff']}{iflte $item['datediff'],30} warning{/if}{/if}">{if!eq $item['date_rent_end'],'0000-00-00'}{$item['date_rent_end_normal']}{/if}</span>
                </div>
            {/loop $list}
        </div>
    </div>
{/if}